﻿@model IEnumerable<MandiriCRE.Models.NotificationPengadaanDitolak>

@{
    ViewBag.Title = "PengadaanDitolak";
}


<br /><br />
<!-- NEW WIDGET START -->
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">

        <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>PENGADAAN DITOLAK </h2>

        </header>

        <!-- widget div-->
        <div>
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->

            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body no-padding">

                <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">

                    <thead>
                        <tr>
                            <th data-hide="phone,tablet">Dokumen Pengadaan</th>
                            <th data-hide="phone,tablet">Judul Pengadaan</th>
                            <th data-hide="phone,tablet">Tanggal Mulai</th>
                            <th data-hide="phone,tablet">Tanggal Akhir</th>
                        </tr>

                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DocumentNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProcurementName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateStart)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateEnd)
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>
    <!-- end widget -->
</article>
<!-- WIDGET END -->

@*<h2>PengadaanDitolak</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProcurementID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProcurementName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Workflow_WorkflowID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StepName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RolePending)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WFStatusName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProcurementID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProcurementName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Workflow_WorkflowID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StepName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RolePending)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WFStatusName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@
