﻿@model IEnumerable<MandiriCRE.Models.NotificationPerjanjianAkanJatuhTempo>

@{
    ViewBag.Title = "PerjanjianAkanJatuhTempo";
}

<br /><br />
<!-- NEW WIDGET START -->
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">

        <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>PERJANJIAN AKAN JATUH TEMPO </h2>

        </header>

        <!-- widget div-->
        <div>
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->

            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body no-padding">

                <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">

                    <thead>
                        <tr>
                            <th data-hide="phone,tablet">Nomor Perjanjian</th>
                            <th data-hide="phone,tablet">Judul Perjanjian</th>
                            <th data-hide="phone,tablet">Department</th>
                            <th data-hide="phone,tablet">Rekanan</th>
                            <th data-hide="phone,tablet">Tanggal Jatuh Tempo</th>
                        </tr>

                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DocumentNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AgreementName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DepartmentName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Rekanan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TglJatuhTempo)
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>
    <!-- end widget -->
</article>
<!-- WIDGET END -->


@*<h2>PerjanjianAkanJatuhTempo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AgreementID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgreementName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department_DepartmentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendor_VendorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rekanan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TglJatuhTempo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AgreementID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgreementName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department_DepartmentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendor_VendorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rekanan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TglJatuhTempo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@
