﻿@model IEnumerable<MandiriCRE.Models.NotificationSudahUploadKPI>

@{
    ViewBag.Title = "SudahUploadKPI";
}

@*<h2>SudahUploadKPI</h2>*@

<br /><br />


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<!-- NEW WIDGET START -->
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">

        <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>lAPORAN KPI GROUP SUDAH UPLOAD </h2>

        </header>

        <!-- widget div-->
        <div>
           <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->

            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body no-padding">

                <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">

                    <thead>
                        <tr>
                            <th data-hide="phone,tablet">Bulan</th>
                            <th data-hide="phone,tablet">Tahun</th>
                            <th data-hide="phone,tablet">Upload Oleh</th>
                            <th data-hide="phone,tablet">Tanggal Upload</th>
                        </tr>
                        
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Bulan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tahun)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UploadBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TglUpload)
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>
    <!-- end widget -->
</article>
<!-- WIDGET END -->

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bulan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tahun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TglUpload)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bulan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tahun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TglUpload)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>*@
