﻿@model MandiriCRE.Models.Numbering

@{
    ViewBag.Title = "Create";
}

<h2></h2>
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2> </h2>

    </header>

    <!-- widget div-->
    <div>
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                @Html.Raw(ViewBag.ErrorMessage)
            </div>
        }
        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("Create", "MasterPenomoran",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "smart-form", @id = "numbering-form" }))
            {
               
                <header>
                    Tambah Penomoran
                </header>

                <fieldset>
                    <section class="col col-6">
                        <label>
                            Jenis Penomoran*
                        </label>
                        <label class="input">
                            <input type="text" class="input-lg" name="numberingtype" maxlength="20" value="@Model.NumberingType" placeholder="">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label>
                            Nomor*
                        </label>
                        <label class="input">
                            <input type="text" class="input-lg" name="numberingcontent" maxlength="15" value="@Model.NumberingContent" placeholder="">
                        </label>
                    </section>
                    
                </fieldset>
                <footer>

                    <input type="submit" value="Simpan" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" onclick="window.history.back();">Batal</button>
                </footer>
            }
         
        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->



@section pagespecific {
    <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!
   
    $(document).ready(function () {

  
       

        var $numberingForm = $("#numbering-form").validate({
            // Rules for form validation
            rules: {
                numberingtype: {
                    required: true
                },
                numberingcontent: {
                    required: true
                }
            },

            // Messages for form validation
            messages: {
                numberingtype: {
                    required: 'Silahkan isi jenis penomoran'
                },
                numberingcontent: {
                    required: 'Silahkan isi nomor'
                },
            },
            // Ajax form submition
            //submitHandler: function (form) {
            //    $(form).ajaxSubmit({
            //        success: function () {
            //            $("#order-form").addClass('submited');
            //        }
            //    });
            //},
            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    })
    </script>
}




