﻿@model MandiriCRE.Models.Role

@{
    ViewBag.Title = "Edit";
}

<h2></h2>
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2> </h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("Edit", "MasterHakAkses",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "smart-form", @id = "role-form" }))
            {

                <header>
                    Ubah Group
                </header>

                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label>Nama Group*</label>
                            <label class="input">
                                <input type="text" class="input-lg" name="name"  maxlength="15" value="@Model.Name" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Keterangan*</label>
                            <label class="textarea">
                                <i class="icon-append fa fa-comment"></i>
                                <textarea rows="5" class="input-lg" name="description"  maxlength="50" id="description" placeholder="">@Model.Description</textarea>
                            </label>
                        </section>
                    </div>
                </fieldset>
                <footer>

                    <input type="submit" value="Simpan" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" onclick="window.history.back();">Batal</button>
                </footer>
            }

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->



@section pagespecific {
    <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {




        var $numberingForm = $("#role-form").validate({
            // Rules for form validation
            rules: {
                name: {
                    required: true
                },
                description: {
                    required: true
                }
            },

            // Messages for form validation
            messages: {
                name: {
                    required: 'Silahkan isi Nama Group'
                },
                description: {
                    required: 'Silahkan isi keterangan'
                },
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    })
    </script>
}