﻿@model MandiriCRE.Models.ProcurementHeader
@{
    ViewBag.Title = "Approve";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit"></i>
                Tambah
                <span>
                    >
                    Perjanjian
                </span>
            </h1>
        </div>

    </div>
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

        <header>
            <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
            <h2> </h2>

        </header>

        <!-- widget div-->
        <div>

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->

            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            @using (Html.BeginForm("Approve", "Pengadaan",
                        new { ReturnUrl = ViewBag.ReturnUrl,WF= ViewBag.WF },
                        FormMethod.Post, new { @class = "smart-form", @id = "procurement-form" }))
            {
                <div class="widget-body">
                    <div class="text-right">
                        <input type="submit" value="Approve" name="Approve" class="btn btn-primary" style="padding: 8px 25px;">
                        <input type="submit" value="Reject" name="Reject" class="btn btn-primary" style="padding: 8px 25px;">
                        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Index", "Pengadaan")'" style="padding: 8px 25px;">Kembali</button>
                    </div>

                    <hr class="simple">
                    <ul id="myTab1" class="nav nav-tabs bordered">
                        <li class="active">
                            <a href="#s1" data-toggle="tab">Pengadaan</a>
                        </li>
                        <li>
                            <a href="#s2" data-toggle="tab">Attachment</a>
                        </li>
                        <li>
                            <a href="#s3" data-toggle="tab">Detail Pengadaan</a>
                        </li>
                        <li>
                            <a href="#s4" data-toggle="tab">Detail Rekanan</a>
                        </li>
                        <li>
                            <a href="#s5" data-toggle="tab">Negosiasi</a>
                        </li>
                        <li>
                            <a href="#s6" data-toggle="tab">Riwayat</a>
                        </li>

                    </ul>

                    <div id="myTabContent1" class="tab-content padding-10">
                        <div class="tab-pane fade in active" id="s1">
                            @{
                                List<MandiriCRE.Models.Numbering> templateList = ViewBag.ListTemplates;
                                List<MandiriCRE.Models.Employee> employeeList = ViewBag.ListEmployee;

                            }
                            @{Html.RenderAction("PartialPengadaanHeader",new { obj= ViewBag.objInfo, _listEmployee= employeeList, _listTemplates=templateList });}

                        </div>
                        <div class="tab-pane fade" id="s2">
                            @{
                                List<MandiriCRE.Models.ProcurementDoc> ListDoc = new List<ProcurementDoc>();
                                ListDoc = ViewBag.ListProcurementDoc;
                            }
                            @{Html.RenderPartial("PartialAttachment", ListDoc);}
                        </div>
                        <div class="tab-pane fade" id="s3">
                            @{
                                List<MandiriCRE.Models.ProcurementDetail> ListDetail = new List<ProcurementDetail>();
                                ListDetail = ViewBag.ListProcurementDetail;
                            }
                            @{Html.RenderPartial("PartialPengadaanDetail", ListDetail);}
                        </div>
                        <div class="tab-pane fade" id="s4">
                            @{
                                List<MandiriCRE.Models.ProcurementVendor> ListVendor = new List<ProcurementVendor>();
                                ListVendor = ViewBag.ListProcurementVendor;
                            }
                            @{Html.RenderPartial("PartialRekananDetail", ListVendor);}
                        </div>
                        <div class="tab-pane fade" id="s5">
                           
                            @{Html.RenderPartial("PartialNegosiasi", ListVendor);}
                        </div>
                        <div class="tab-pane fade" id="s6">
                            @{
                                List<MandiriCRE.Models.WorkFlowHistory> ListWF = new List<WorkFlowHistory>();
                                ListWF = ViewBag.ListWorkFlow;
                            }
                            @{Html.RenderPartial("PartialHistory",ListWF);}
                        </div>
                    </div>

                </div>
            <!-- end widget content -->
                                                        }
        </div>
        <!-- end widget div -->

    </div>
    <!-- end widget -->
</div>

@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {




            var $numberingForm = $("#procurement-form").validate({
                // Rules for form validation
                rules: {
                    numberingtype: {
                        required: true
                    },
                    numberingcontent: {
                        required: true
                    },
                    numberingcontent: {
                        required: true
                    },
                    numberingcontent: {
                        required: true
                    },
                    numberingcontent: {
                        required: true
                    },
                    numberingcontent: {
                        required: true
                    },
                    numberingcontent: {
                        required: true
                    },
                    numberingcontent: {
                        required: true
                    }
                },

                // Messages for form validation
                messages: {
                    numberingtype: {
                        required: 'Please enter Numbering Type!'
                    },
                    numberingcontent: {
                        required: 'Please enter Nubmering Content!'
                    },
                    numberingcontent: {
                        required: 'Please enter Nubmering Content!'
                    },
                    numberingcontent: {
                        required: 'Please enter Nubmering Content!'
                    },
                    numberingcontent: {
                        required: 'Please enter Nubmering Content!'
                    },
                    numberingcontent: {
                        required: 'Please enter Nubmering Content!'
                    },
                    startdate: {
                        required: 'Please enter Start Date!'
                    },
                    finishdate: {
                        required: 'Please enter End Date!'
                    }
                },
                // Ajax form submition
                //submitHandler: function (form) {
                //    $(form).ajaxSubmit({
                //        success: function () {
                //            $("#order-form").addClass('submited');
                //        }
                //    });
                //},
                // Do not change code below
                //errorPlacement: function (error, element) {
                //    error.insertAfter(element.parent());
                //}
            });
            // START AND FINISH DATE
            $('#startdate').datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    $('#finishdate').datepicker('option', 'minDate', selectedDate);
                }
            });

            $('#finishdate').datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    $('#startdate').datepicker('option', 'maxDate', selectedDate);
                }
            });

        })
    </script>
}

