﻿@model MandiriCRE.Models.ProcurementDetail

@{
    ViewBag.Title = "Create";
}

<h2></h2>
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2>Input form </h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("CreateDetailPengadaan", "Pengadaan",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "smart-form", @id = "procurement-form" }))
            {

                <header>
                    Tambah Detail Pengadaan
                </header>

                <fieldset>
                    <div class="row">
                    <section class="col col-10">
                        @*<label>Nama Task</label> CR 27-11-17*@
                        <label>Ruang Lingkup</label>
                        <label class="input">
                            <input type="text" name="taskNameDetail" maxlength="50"  value="@Model.TaskNameDetail" placeholder="">
                        </label>
                    </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Harga Penawaran (RP) (+PPN 10%)</label>
                            <label class="input">
                                <input type="text" class="number2" name="price" id="price" maxlength="20"  value="@Model.Price" placeholder="">
                            </label>
                        </section>
                        </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Harga Negosiasi (RP) (+PPN 10%)</label>
                            <label class="input">
                                <input type="text" class="number2" name="negotiation" id="negotiation"  maxlength="20"  value="@Model.Negotiation" placeholder="">
                            </label>
                        </section>
                    </div>
</fieldset>
                    <footer>

                        <input type="submit" value="Simpan" class="btn btn-primary" />
                        <button type="button" class="btn btn-default" onclick="window.history.back();">Batal</button>
                    </footer>
            }

        </div>

        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->



@section pagespecific {
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://www.decorplanit.com/plugin/autoNumeric-1.9.18.js"></script>
    <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {

        
        $('input.number2').keyup(function (event) {

            // skip for arrow keys
            if (event.which >= 37 && event.which <= 40) return;

            // format number
            $(this).val(function (index, value) {
                return value
                .replace(/\D/g, "")
                .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                ;
            });
        });

        var $numberingForm = $("#procurement-form").validate({
            // Rules for form validation
            rules: {
                taskNameDetail: {
                    required: true
                },
                price: {
                    required: true
                },
                tax: {
                    required: true
                }
            },

            // Messages for form validation
            messages: {
                taskNameDetail: {
                    //required: 'Silahkan isi Nama Task' CR 27-11-17
                    required: 'Silahkan isi Ruang Lingkup'
                },
                price: {
                    required: 'Silahkan isi Harga dengan nilai angka'
                },
                tax: {
                    required: 'Silahkan isi Pajak dengan nilai angka'
                },
                numberingcontent: {
                    required: 'Please enter Nubmering Content!'
                },
                numberingcontent: {
                    required: 'Please enter Nubmering Content!'
                },
                numberingcontent: {
                    required: 'Please enter Nubmering Content!'
                },
                startdate: {
                    required: 'Please enter Start Date!'
                },
                finishdate: {
                    required: 'Please enter End Date!'
                }
            },
        });
        // START AND FINISH DATE
        $('#startdate').datepicker({
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#finishdate').datepicker('option', 'minDate', selectedDate);
            }
        });

        $('#finishdate').datepicker({
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#startdate').datepicker('option', 'maxDate', selectedDate);
            }
        });

    })
    </script>
}
