﻿@model MandiriCRE.Models.ProcurementDetail

@{
    ViewBag.Title = "Create";
}

<h2></h2>
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2> </h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("DeleteDetailPengadaan", "Pengadaan",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "smart-form", @id = "procurement-form" }))
            {

                <header>
                    <b> Apakah Anda yakin akan menghapus data ini ?</b>
                </header>

                <fieldset>
                    <div class="row">
                        <section class="col col-10">
                            @*<label>Nama Task</label> CR 27-11-17*@
                            <label>Ruang Lingkup</label>
                            <label class="input">
                                <input type="text" disabled="disabled" name="taskNameDetail" value="@Model.TaskNameDetail" placeholder="Task Name Detail">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Harga Penawaran (RP) (+PPN 10%)</label>
                            <label class="input">
                                <input type="text" disabled="disabled" name="price" value="@Model.Price" placeholder="Price">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Harga Negosiasi (RP) (+PPN 10%)</label>
                            <label class="input">
                                <input type="text" disabled="disabled" name="price" value="@Model.Negotiation" placeholder="Price">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-3">
                            @*<label>Pajak</label>*@
                            <label class="input">
                                <input type="text" disabled="disabled" style="display:none" name="tax" value="@Model.Tax" placeholder="Tax">
                            </label>
                        </section>
                    </div>
                </fieldset>
                <footer>
                    <input type="text" id="procurementId" name="procurementId" value="@ViewBag.ProcurementID" hidden="hidden" />
                    <input type="submit" value="Hapus" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" onclick="window.history.back();">Batal</button>
                </footer>
            }

        </div>

        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->



@section pagespecific {
    <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {




        var $numberingForm = $("#procurement-form").validate({
            // Rules for form validation
            rules: {
                numberingtype: {
                    required: true
                },
                numberingcontent: {
                    required: true
                },
                numberingcontent: {
                    required: true
                },
                numberingcontent: {
                    required: true
                },
                numberingcontent: {
                    required: true
                },
                numberingcontent: {
                    required: true
                },
                numberingcontent: {
                    required: true
                },
                numberingcontent: {
                    required: true
                }
            },

            // Messages for form validation
            messages: {
                numberingtype: {
                    required: 'Please enter Numbering Type!'
                },
                numberingcontent: {
                    required: 'Please enter Nubmering Content!'
                },
                numberingcontent: {
                    required: 'Please enter Nubmering Content!'
                },
                numberingcontent: {
                    required: 'Please enter Nubmering Content!'
                },
                numberingcontent: {
                    required: 'Please enter Nubmering Content!'
                },
                numberingcontent: {
                    required: 'Please enter Nubmering Content!'
                },
                startdate: {
                    required: 'Please enter Start Date!'
                },
                finishdate: {
                    required: 'Please enter End Date!'
                }
            },
        });
        // START AND FINISH DATE
        $('#startdate').datepicker({
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#finishdate').datepicker('option', 'minDate', selectedDate);
            }
        });

        $('#finishdate').datepicker({
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#startdate').datepicker('option', 'maxDate', selectedDate);
            }
        });

    })
    </script>
}
