﻿@model IEnumerable<MandiriCRE.Models.ProcurementVendor>
@{
    ViewBag.Title = "PartialNegosiasiView";
}

<div class="jarviswidget well" id="wid-id-3" style="border:hidden" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">


    <div class="widget-body">

        <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">

            <thead>
                <tr>
                    <th data-hide="phone,tablet" class="text-center">Nama Rekanan</th>
                    <th data-hide="phone,tablet" class="text-center">HPS (Rp)</th>
                    <th data-hide="phone,tablet" class="text-center">Harga Penawaran (RP) (+PPN 10%)</th>
                    <th data-hide="phone,tablet" class="text-center">Harga Negosiasi (RP) (+PPN 10%)</th>
                    <th data-hide="phone,tablet" class="text-center">Winner Status</th>
                    @*<th data-hide="phone,tablet" class="text-center">Termin</th>*@
                    @*<th data-hide="phone,tablet" class="text-center">Action</th>*@
                </tr>
                @* <tr>
                        <th class="hasinput" style="width:10%">
                            <input type="text" class="form-control" placeholder="Filter Nama" />
                        </th>
                        <th class="hasinput" style="width:10%">
                            <input type="text" class="form-control" placeholder="Filter Budget" />
                        </th>
                        <th class="hasinput" style="width:10%">
                            <input type="text" class="form-control" placeholder="Filter Negotiation" />
                        </th>
                        <th class="hasinput" style="width:10%">
                            <input type="text" class="form-control" placeholder="Filter Final" />
                        </th>
                        <th class="hasinput" style="width:5%">
                            <input type="text" class="form-control" placeholder="Filter Final" />
                        </th>
                        <th class="hasinput" style="width:5%">
                            <div class="text-center"><button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Create", "MasterRekanan")'">New Rekanan</button></div>
                        </th>
                        <th class="hasinput" style="width:5%">
                            <input type="text" class="form-control" placeholder="Filter Status" />
                        </th>
                    </tr>*@

            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.VendorName)
                        </td>
                        <td>
                            @{
                                string HPSValue = Convert.ToDouble(item.StartingPrice).ToString("N0").Replace(",", ".");
                            }
                            @Html.DisplayFor(modelItem => HPSValue)
                        </td>
                        <td>
                            @{
                                string PenawaranValue = Convert.ToDouble(item.TotalPenawaran).ToString("N0").Replace(",", ".");
                            }
                            @Html.DisplayFor(modelItem => PenawaranValue)
                        </td>
                        <td>
                            @{
                                string NegosiasiValue = Convert.ToDouble(item.TotalNegosiasi).ToString("N0").Replace(",", ".");
                            }
                            @Html.DisplayFor(modelItem => NegosiasiValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WinnerStatus)
                        </td>
                        @*<td>
                                @Html.ActionLink("Termin", "DetailTerminPengadaan", new { id = item.VendorDetailID, procurementId = item.ProcurementID })
                            </td>
                            <td>
                                @Html.ActionLink("Ubah", "EditVendorNegotiation", new { id = item.VendorDetailID, procurementId = item.ProcurementID })

                            </td>*@
                    </tr>
                }
            </tbody>

        </table>

    </div>

</div>


@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            /* // DOM Position key index //

            l - Length changing (dropdown)
            f - Filtering input (search)
            t - The Table! (datatable)
            i - Information (records)
            p - Pagination (paging)
            r - pRocessing
            < and > - div elements
            <"#id" and > - div with an id
            <"class" and > - div with a class
            <"#id.class" and > - div with an id and class

            Also see: http://legacy.datatables.net/usage/features
            */

            function addCommas(nStr) {
                nStr += '';
                x = nStr.split('.');
                x1 = x[0];
                x2 = x.length > 1 ? '.' + x[1] : '';
                var rgx = /(\d+)(\d{3})/;
                while (rgx.test(x1)) {
                    x1 = x1.replace(rgx, '$1' + ',' + '$2');
                }
                return x1 + x2;
            }

            /* BASIC ;*/
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#dt_basic').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });

            /* END BASIC */

            /* COLUMN FILTER  */
            var otable = $('#datatable_fixed_column').DataTable({
                //"bFilter": false,
                //"bInfo": false,
                //"bLengthChange": false
                //"bAutoWidth": false,
                //"bPaginate": false,
                //"bStateSave": true // saves sort state using localStorage
                //"sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                //        "t" +
                //        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_fixed_column) {
                        responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_fixed_column.respond();
                }

            });

            // custom toolbar
            //$("div.toolbar").html('<div class="text-right"><img src="/Content/img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

            // Apply the filter
            $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

                otable
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();

            });
            /* END COLUMN FILTER */

            /* COLUMN SHOW - HIDE */
            $('#datatable_col_reorder').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                        "t" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_col_reorder) {
                        responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_col_reorder.respond();
                }
            });

            /* END COLUMN SHOW - HIDE */

            /* TABLETOOLS */
            $('#datatable_tabletools').dataTable({

                // Tabletools options:
                //   https://datatables.net/extensions/tabletools/button_options
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                        "t" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "oTableTools": {
                    "aButtons": [
                    "copy",
                    "csv",
                    "xls",
                       {
                           "sExtends": "pdf",
                           "sTitle": "SmartAdmin_PDF",
                           "sPdfMessage": "SmartAdmin PDF Export",
                           "sPdfSize": "letter"
                       },
                       {
                           "sExtends": "print",
                           "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                       }
                    ],
                    "sSwfPath": "/Scripts/plugin/datatables/swf/copy_csv_xls_pdf.swf"
                },
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_tabletools) {
                        responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_tabletools.respond();
                }
            });

            /* END TABLETOOLS */

        })

    </script>
}
