﻿@model SmartAdminMvc.Models.Photo

@{
    ViewBag.Title = "Details";
}

<h2></h2>
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2>Detail form </h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("Index", "FotoBeranda",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "smart-form", @id = "numbering-form" }))
            {

                <header>
                    New Numbering
                </header>

                <fieldset>
                    <section class="col col-6">
                        <label class="input">
                            <input type="text" class="input-lg" disabled="disabled" name="numberingtype" value="@Model.DocumentName" >
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="input">
                            <input type="text" class="input-lg" disabled="disabled" name="numberingcontent" value="@Model.FolderName" >
                        </label>
                    </section>
  
                            <!-- a blank row to get started -->
                            <div class="col col-6">
                                <!-- your contents here -->
                                <div class="panel panel-default">
                                    <div class="panel-body status">
                                        <div class="who clearfix">
                                            <span class="name"><b>Image Preview</b></span>
                                        </div>
                                        <div class="image">
                                            <img src="/content/img/slider/@Model.DocumentName" alt="img">
                                        </div>

                                    </div>
                                </div>

                            </div>
                        
                        <!-- end row -->
                    </fieldset>
                <footer>

                    <button type="button" class="btn btn-default" onclick="window.history.back();">Back</button>
                </footer>
            }

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->



@section pagespecific {
    <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    </script>
}
