﻿@model MandiriCRE.Models.Partner

@{
    ViewBag.Title = "Edit";
}


<h2></h2>
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
    <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

    -->
    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2></h2>

    </header>

    <!-- widget div-->
    <div>
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                @Html.Raw(ViewBag.ErrorMessage)
            </div>
        }
        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("Edit", "MasterRekanan",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "smart-form", @id = "vendor-form" }))
            {

                <header>
                    Ubah Rekanan
                </header>

                <fieldset>
                    <section class="textarea">
                        <label>
                            Nama Rekanan*
                        </label>
                        <label class="input">
                            <input type="text" class="input-lg" name="vendorname" style="font-size:14px;" maxlength="50" value="@Model.VendorName" placeholder="">
                        </label>
                    </section>
                    <section class="input">
                        <label>
                            Nama PIC
                        </label>
                        <label class="input">
                            <input type="text" class="input-lg"  style="font-size:14px;" name="picname"  maxlength="50" value="@Model.PIC" placeholder="">
                        </label>
                    </section>
                    <section>
                        <label>
                            Alamat
                        </label>
                        <label class="textarea">
                            <textarea rows="5" class="input-lg" name="address" style="font-size:14px;" maxlength="250" placeholder="">@Model.Address</textarea>
                        </label>
                    </section>
                    <div class="row">
                        <section class="col col-4">
                            <label>
                                Email
                            </label>
                            <label class="input">
                                <i class="icon-append fa fa-envelope-o"></i>
                                <input type="email" class="input-lg" style="font-size:14px;" value="@Model.Mail" maxlength="50" name="email" placeholder="">
                            </label>
                        </section>
                        <section class="col col-4">
                            <label>
                                Telepon
                            </label>
                            <label class="input">
                                <i class="icon-append fa fa-phone"></i>
                                <input type="tel" class="input-lg" name="phone" style="font-size:14px;"  maxlength="25" value="@Model.Phone" placeholder="" @*data-mask="(999) 999-9999"*@>
                            </label>
                        </section>
                        <section class="col col-4">
                            <label>
                                Fax
                            </label>
                            <label class="input">
                                <i class="icon-append fa fa-phone"></i>
                                <input type="tel" class="input-lg" name="fax" style="font-size:14px;" maxlength="25" value="@Model.Fax" placeholder="" @*data-mask="(999) 999-9999"*@>
                            </label>
                        </section>
                    </div>
                    <section class="input">
                        <label>
                            Industri
                        </label>
                        <label class="input">
                            <input type="text" class="input-lg" name="industry" style="font-size:14px;" maxlength="250" value="@Model.Industry" placeholder="">
                        </label>
                    </section>
                </fieldset>
                <footer>

                    <input type="submit" value="Simpan" class="btn btn-primary btn-lg" />
                    <button type="button" class="btn btn-default btn-lg" onclick="window.history.back();">Batal</button>
                </footer>
            }

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->



@section pagespecific {
    <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {




        var $vendorForm = $("#vendor-form").validate({
            // Rules for form validation
            rules: {
                vendorname: {
                    required: true
                },
                picname: {
                    required: false
                },
                address: {
                    required: false
                },
                phone: {
                    required: false
                },
                fax: {
                    required: false
                },
                email: {
                    required: false
                },
                industry: {
                    required: false
                }
            },

            // Messages for form validation
            messages: {
                vendorname: {
                    required: 'Silahkan isi Nama Vendor'
                },
                picname: {
                    required: 'Silahkan isi Nama PIC'
                },
                address: {
                    required: 'Silahkan isi Alamat'
                },
                phone: {
                    required: 'Silahkan isi Nomor Telepon'
                },
                fax: {
                    required: 'Silahkan isi Nomor Fax'
                },
                email: {
                    required: 'Silahkan isi Alamat Email'
                },
                industry: {
                    required: 'Silahkan isi Industri'
                }
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    })
    </script>
}


