﻿@model MandiriCRE.Models.AgreementDoc

@{
    ViewBag.Title = "Delete";
}

<h2></h2>
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2> </h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("DeleteAttachment", "Perjanjian",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "smart-form", @id = "procurement-form" }))
            {

                <header>
                    <b> Apakah Anda yakin akan menghapus data ini ?</b>
                </header>

                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                                <input type="text" hidden="hidden" name="AgreementId" value="@ViewBag.AgreementID" placeholder="">
                            
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                <input type="text" name="description" value="@Model.DocName" placeholder="Description">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                <input type="text" name="description" value="@Model.DescriptionFile" placeholder="Description">
                            </label>
                        </section>
                    </div>
                </fieldset>
                @*<input type="text" id="procurementId" name="procurementId" value="@ViewBag.ProcurementID" hidden="hidden" />
                <input type="text" id="ProcurementDocID" name="ProcurementDocID" value="@Model.ProcurementDocID" hidden="hidden" />*@
                <footer>

                    <input type="submit" value="Hapus" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" onclick="window.history.back();">Kembali</button>
                </footer>
            }

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->



@section pagespecific {
    <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {




        var $numberingForm = $("#template-form").validate({
            // Rules for form validation
            rules: {
                documentName: {
                    required: true
                },
                file: {
                    required: true
                }
            },

            // Messages for form validation
            messages: {
                documentName: {
                    required: 'Please enter Document Name!'
                },
                file: {
                    required: 'Please select Template!'
                },
            },
            // Ajax form submition
            //submitHandler: function (form) {
            //    $(form).ajaxSubmit({
            //        success: function () {
            //            $("#order-form").addClass('submited');
            //        }
            //    });
            //},
            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    })
    </script>
}





