﻿@model MandiriCRE.Models.Agreement
@{
    ViewBag.Title = "PartialPerjanjian";
}

<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget well" id="wid-id-3" style="border:hidden" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("Edit", "Perjanjian", new { ReturnUrl = ViewBag.ReturnUrl },
                                              FormMethod.Post, new { @class = "smart-form", @id = "perjanjian-form" }))
            {
                <fieldset>
                    <label class="input">
                        <input type="text" name="wfid" style="display:none" value="@Model.Workflow_WorkflowID" placeholder="">
                    </label>
                    <div class="row">

                        <section class="col col-6">
                            <label>Nomor</label>
                            @{

                                List<SelectListItem> listTemplates = new List<SelectListItem>();
                                List<MandiriCRE.Models.Numbering> templateList = ViewBag.ListTemplates;
                                foreach (var item in templateList)
                                {
                                    listTemplates.Add(new SelectListItem
                                    {
                                        Text = item.NumberingContent,
                                        Value = item.NumberingContent
                                    });
                                }

                                List<SelectListItem> listJobType = new List<SelectListItem>();
                                List<MandiriCRE.Models.JobType> JobTypeList = ViewBag.ListJobType;
                                foreach (var item in JobTypeList)
                                {
                                    listJobType.Add(new SelectListItem
                                    {
                                        Text = item.JobTypeName,
                                        Value = item.JobTypeName
                                    });
                                }
                                listJobType.Add(new SelectListItem
                                {
                                    Text = "--Lainnya--",
                                    Value = "0"
                                });

                                List<SelectListItem> listEmployee = new List<SelectListItem>();
                                List<MandiriCRE.Models.Employee> employeeList = ViewBag.ListEmployee;
                                foreach (var item in employeeList)
                                {
                                    listEmployee.Add(new SelectListItem
                                    {
                                        Text = item.EmployeeName,
                                        Value = item.EmployeeName
                                    });
                                }
                                listEmployee.Add(new SelectListItem
                                {
                                    Text = "--Lainnya--",
                                    Value = "0"
                                });

                                List<SelectListItem> listPartner = new List<SelectListItem>();
                                List<MandiriCRE.Models.Partner> partnerList = ViewBag.ListPartner;
                                foreach (var item in partnerList)
                                {
                                    listPartner.Add(new SelectListItem
                                    {
                                        Text = item.VendorName,
                                        Value = item.VendorID
                                    });
                                }


                            }
                            <label class="select">
                                @Html.DropDownListFor(model => model.DocumentNo, listTemplates, "-- Pilih No Perjanjian --", new { @class = "select", @id = "documentNo" })
                                @*@Html.HiddenFor(model => model.DocumentNo)*@
                             </label>
                        </section>
                        <section class="col col-6">
                            <label>PIC*</label>
                            <label class="select">
                                @Html.DropDownListFor(model => model.EmployeePIC, listEmployee.OrderBy(x=> x.Value), "-- Pilih PIC --", new { @class = "select", @id = "EmployeePIC", @name= "EmployeePIC"})
                            </label>
                        </section>

                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Nomor Perjanjian*</label>
                            <label class="input">
                                <input type="text" name="documentNumber" value="@Model.DocumentNo"  placeholder="">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>PIC Lainnya</label>
                            <label class="input">
                                <input type="text" name="picName" id="picName" disabled="disabled" maxlength="25" value="@Model.EmployeePIC" placeholder="">
                            </label>

                        </section>

                    </div>
                    <div class="row">
                        <section class="col col-6">
                            @{  List<SelectListItem> listProcurement = new List<SelectListItem>();
                                List<MandiriCRE.Models.Procurements> procurementList = ViewBag.ListProcurement;
                                foreach (var item in procurementList)
                                {
                                    listProcurement.Add(new SelectListItem
                                    {
                                        Text = item.DocumentNo,
                                        Value = item.ProcurementID
                                    });
                                }}
                            <label>Doc. Pengadaan*</label>
                            <label class="select">
                                @Html.DropDownListFor(model => model.Procurement_ProcurementID, listProcurement, "-- Pilih Pengadaan --", new { @class = "select", @id = "procid" })
                                @*@Html.HiddenFor(model => model.Procurement_ProcurementID)*@
                             </label>
                        </section>
                        <section class="col col-6">
                            @{
                                foreach (var item in partnerList)
                                {
                                    listPartner.Add(new SelectListItem
                                    {
                                        Text = item.VendorName,
                                        Value = item.VendorID
                                    });
                                }
                            }
                            @*<label>Rekanan</label>*@
                            <label class="select" style="display:none">
                                @Html.DropDownListFor(model => model.Vendor_VendorID, listPartner, "-- Pilih Rekenan --", new { @class = "select", @id = "VendorID" })
                            </label>
                            <label>Rekanan*</label>
                            <label class="input">
                                <input type="text" name="rekanan" id="rekanan" value="@Model.VendorName" disabled="disabled" placeholder="">
                            </label>
                            
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Tanggal Perjanjian*</label>
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" name="agreementdate" id="agreementdate" value="@Model.AgreementDate" placeholder="">
                            </label>
                            
                        </section>
                        <section class="col col-6">
                            <label>Tanggal Mulai*</label>
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" name="startdate" id="startdate" value="@Model.StartDate" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Tanggal Input*</label>
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" name="inputdate" id="inputdate" value="@Model.InputDate" placeholder="">
                            </label>
                           
                            
                        </section>

                        <section class="col col-6">
                            <label>Tanggal Akhir*</label>
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" name="finishdate" id="finishdate" value="@Model.EndDate" placeholder="">
                            </label>
                           
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Jenis Pekerjaan*</label>
                            <label class="select">
                                @Html.DropDownListFor(model => model.JobTypeID, listJobType.OrderBy(x=> x.Value), "-- Pilih Jenis Pekerjaan --", new { @class = "select", @id = "JobTypeID" })
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Nilai Perjanjian (RP)*</label>
                            <label class="input">
                                @{
                                    string AgreementValue = Convert.ToDouble(Model.AgreementValue).ToString("N0").Replace(",", ".");
                                }
                                <input type="text" class="number2" name="agreementvalue" id="agreementvalue"  maxlength="20" value="@AgreementValue" placeholder="">
                            </label>
                          
                           
                        </section>

                    </div>
                    <div class="row">
                        @{
                            List<SelectListItem> listDepartment = new List<SelectListItem>();
                            List<MandiriCRE.Models.Department> departmentList = ViewBag.listDepartment;
                            foreach (var item in departmentList)
                            {
                                listDepartment.Add(new SelectListItem
                                {
                                    Text = item.DepartmentName,
                                    Value = item.DepartmentID.ToString()
                                });
                            }
                        }
                        <section class="col col-6">
                            <label>Pekerjaan Lainnya</label>
                            <label class="input">
                                <input type="text" name="PekerjaanLain" id="PekerjaanLain" maxlength="25"  disabled="disabled" value="@Model.JobTypeID" placeholder="">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Realisasi SLA*</label>
                            <label class="input">
                                <input type="text"  class="number2" name="sla" id="sla" value="@Model.SLA"  maxlength="3" placeholder="">
                            </label>
                          
                           
                        </section>
                        <section class="col col-6">
                            <label>Judul Perjanjian*</label>
                            <label class="input">
                                <input type="text" name="agreementname" id="agreementname"  maxlength="500" value="@Model.AgreementName" placeholder=""> @*040118*@
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Base SLA*</label>
                            <label class="input">
                                <input type="text"  class="number2" name="basesla" id="basesla"  maxlength="3" value="@Model.BASE_SLA" placeholder="">
                            </label>
                            
                        </section>
                    </div>
                   
                    <div class="row">
                        <section class="col col-6">
                            <label>Objek Perjanjian*</label>
                            <label class="textarea">
                                <i class="icon-append fa fa-comment"></i>
                                <textarea rows="4" name="objectname" id="objectname"  maxlength="50" placeholder="">@Model.ObjectName</textarea>
                            </label>

                        </section>
                        <section class="col col-6">
                            <label>Keterangan Lainnya*</label>
                            <label class="textarea">
                                <i class="icon-append fa fa-comment"></i>
                                <textarea rows="4" name="description" id="description"  maxlength="500" placeholder="">@Model.AdditionalInformation</textarea> @*040118*@
                            </label>
                        </section>
                    </div>
                    <div class="row">

                        <section class="col col-6">
                            <label>Department*</label>
                            <label class="select">
                                @Html.DropDownListFor(model => model.Department_DepartmentID, listDepartment, "-- Pilih Department --", new { @class = "select", @id = "DepartmentID" })
                            </label>

                        </section>


                    </div>
                </fieldset>
                @*<footer>

                        <input type="submit" value="Save" class="btn btn-primary" />
                        <button type="button" class="btn btn-default" onclick="window.history.back();">Back</button>
                    </footer>*@
                            }

        </div>
        <!-- end widget content -->

    </div>
</div>
<!-- widget div-->
