﻿
@model MandiriCRE.Models.BuildingOccupants
@{
    ViewBag.Title = "Create";
}

<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2> </h2>
    </header>
    <!-- widget div-->
    <div>
        <!-- widget edit box -->
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                @Html.Raw(ViewBag.ErrorMessage)
            </div>
        }
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("Create", "BuildingOccupants",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { enctype = "multipart/form-data", @class = "smart-form", @id = "BuildingOccupants-form" }))
            {

                <header>
                    <div class="text-right">
                        <input type="submit" value="Simpan" style="padding: 8px 25px;" class="btn btn-primary" />
                        <button type="button" class="btn btn-default" style="padding: 8px 25px;" onclick="window.history.back();">Kembali</button>
                    </div>
                </header>

                <fieldset>
                    <div class="row">
                        <section class="col col-1">
                            <label>Gedung*</label>
                        </section>
                        <section class="col col-6">
                            @{

                                List<SelectListItem> listBuilding = new List<SelectListItem>();
                                List<MandiriCRE.Models.Building> BuildingList = ViewBag.ListBuilding;
                                foreach (var item in BuildingList)
                                {
                                    listBuilding.Add(new SelectListItem
                                    {
                                        Text = item.BuildingName,
                                        Value = item.BuildingID
                                    });
                                }
                            }

                            <label class="select">
                                @Html.DropDownListFor(model => model.BuildingID, listBuilding.OrderBy(x => x.Text), "-- Pilih Gedung --", new { @class = "select", @id = "BuildingID" })
                            </label>
                        </section>



                    </div>
                    <div class="row">
                        <section class="col col-1">
                            <label>Posisi*</label>
                        </section>
                        <section class="col col-6">
                            @{

                                List<SelectListItem> listBuildingPosition = new List<SelectListItem>();
                                List<MandiriCRE.Models.BuildingPosition> BuildingPositionList = ViewBag.ListBuildingPosition;
                                foreach (var item in BuildingPositionList)
                                {
                                    listBuildingPosition.Add(new SelectListItem
                                    {
                                        Text = item.BuildingPositionName,
                                        Value = item.BuildingPositionID
                                    });
                                };

                            }

                            <label class="select">
                                @Html.DropDownListFor(model => model.BuildingPositionID, listBuildingPosition.OrderBy(x => x.Text), "-- Pilih Posisi --", new { @class = "select", @id = "BuildingPositionID" })

                            </label>
                        </section>

                    </div>
                    <div class="row">
                        <section class="col col-1">
                            <label>Lantai*</label>
                        </section>
                        <section class="col col-6">
                            @{

                                List<SelectListItem> listBuildingFloor = new List<SelectListItem>();
                                List<MandiriCRE.Models.BuildingFloor> BuildingFloorList = ViewBag.ListBuildingFloor;
                                foreach (var item in BuildingFloorList)
                                {
                                    listBuildingFloor.Add(new SelectListItem
                                    {
                                        Text = item.BuildingFloorName,
                                        Value = item.BuildingFloorID
                                    });

                                };

                            }

                            <label class="select">
                                @Html.DropDownListFor(model => model.BuildingFloorID, listBuildingFloor.OrderBy(x => Convert.ToInt32(x.Value)), "-- Pilih Lantai --", new { @class = "select", @id = "BuildingFloorID" })

                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-1">
                            <label>Kode URC*</label>
                        </section>
                        <section class="col col-3">
                            @{

                                List<SelectListItem> listURCCode = new List<SelectListItem>();
                                List<MandiriCRE.Models.URCCode> URCCodeList = ViewBag.ListURCCode;
                                foreach (var item in URCCodeList)
                                {
                                    listURCCode.Add(new SelectListItem
                                    {
                                        Text = item.URCCodeName,  //req131018
                                        Value = item.URCCodeID
                                    });
                                }

                            }

                            <label class="select">
                                @Html.DropDownListFor(model => model.URCCodeID, listURCCode.OrderBy(x => x.Text), "-- Pilih Kode URC --", new { @class = "select", @id = "URCCodeID" })

                            </label>

                        </section>
                        <section class="col col-3">

                            <label class="input">
                                <input type="text" name="URCCodeDesc" id="URCCodeDesc" value="@Model.URCCodeDesc" maxlength="255" placeholder="" readonly="readonly">
                            </label>
                        </section>

                    </div>
                    <div class="row">
                        <section class="col col-1">
                            <label>Keterangan*</label>
                        </section>
                        <section class="col col-6">

                            <label class="textarea">
                                <i class="icon-append fa fa-comment"></i>
                                <textarea rows="4" name="Description" id="Description" maxlength="255" placeholder="">@Model.Description</textarea>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-1">
                            <label>Jumlah Pegawai*</label>
                        </section>
                        <section class="col col-6">

                            <label class="input">
                                <input type="text" class="number2" name="NumberOfEmployee" id="NumberOfEmployee" value=@Model.NumberOfEmployee maxlength="255" placeholder="">
                            </label>
                        </section>

                    </div>
                    <div class="row">
                        <section class="col col-1">
                            <label>Luas*</label>
                        </section>
                        <section class="col col-6">

                            <label class="input">
                                <input type="text" class="number3" name="BuildingArea" id="BuildingArea" value=@Model.BuildingArea maxlength="255" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-1">
                            <label>Lokasi Ruang</label>
                        </section>
                        <section class="col col-6">

                            <label class="input">
                                <input type="text" name="SpaceLocation" id="SpaceLocation" value="@Model.SpaceLocation" maxlength="255" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-1">
                            <label>Foto*</label>
                        </section>
                        <section class="col col-6">


                            <div class="input input-file">
                                <span class="button"><input id="file" class="input-lg" type="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="DocumentName" name="DocumentName" value="@Model.DocFileName" placeholder="Pilih Dokumen.." readonly="">
                                *File dalam format jpg / png maksimum 5 MB
                            </div>
                        </section>
                       
                    </div>

                </fieldset>
                <footer></footer>
                                }
        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
<!-- end widget -->

@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            // Number Fields
            $('input.number2').keyup(function (event) {

                // skip for arrow keys
                if (event.which >= 37 && event.which <= 40) return;

                // format number
                $(this).val(function (index, value) {
                    return value
                    .replace(/\D/g, "")
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                    ;
                });
               
            });
            $('input.number3').keyup(function (event) {

                // skip for arrow keys
                if (event.which >= 37 && event.which <= 40) {
                    event.preventDefault();
                }

                $(this).val(function (index, value) {
                    return value
                      .replace(/\D/g, "")
                      .replace(/([0-9])([0-9]{2})$/, '$1.$2')
                      .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ",")
                    ;
                });
            });

            $('#BuildingID').change(function () {
                $.ajax({
                    type: "POST",
                    url: "/BuildingOccupants/GetFloorbyBuilding/",
                    data: {
                        'BuildingID': $(this).val()
                    },
                    success: function (data) {
                        var Subject = $('#BuildingFloorID');
                        Subject.empty();
                        Subject.append(
                                    $('<option>', {
                                        value: "0"
                                    }).text("--Pilih Lantai--")
                                );
                        $.each(data, function () {

                            Subject.append(
                                    $('<option>', {
                                        value: this.Value
                                    }).text(this.Text)
                                );
                        });
                    }
                });
            });

            //$('#BuildingFloorID').attr('disabled', 'disabled');
            if ($('#BuildingPositionID').val() != "17") { //posisi lantai 
                $('#BuildingFloorID').attr('disabled', 'disabled');
            };

            $('#BuildingPositionID').change(function () {
                //var varpic = $(this).Text();
                var varpic = $(this).val();
                if (varpic == "17") { //posisi lantai 
                    $('#BuildingFloorID').removeAttr('disabled');
                    $('#branBuildingFloorIDch').attr("required", "true");
                }
                else {
                    $('#BuildingFloorID').attr('disabled', 'disabled');
                    $('#BuildingFloorID').removeAttr("required");
                }
            });

            $('#URCCodeID').change(function () {
                $.ajax({
                    type: "POST",
                    url: "/BuildingOccupants/GetURCDesc/",
                    data: {
                        'URCID': $(this).val()
                        //'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
                    },
                    success: function (data) {
                        var dataSubject = JSON.parse(data);
                        $("#URCCodeDesc").val(dataSubject);
                        //$.uniform.update();
                    }
                });
            });
            var $numberingForm = $("#BuildingOccupants-form").validate({
                // Rules for form validation
                rules: {
                    BuildingID: {
                        required: true
                    },
                    BuildingPositionID: {
                        required: true
                    },
                    BuildingFloorID: {
                        required: true
                    },
                    URCCodeID: {
                        required: true
                    },
                    Description: {
                        required: true
                    },
                    BuildingArea: {
                        required: true
                    },
                    DocumentName: {
                        required: true
                    }
                },

                // Messages for form validation
                messages: {
                    BuildingID: {
                        required: 'Silahkan isi Gedung'
                    },
                    BuildingPositionID: {
                        required: 'Silahkan isi Posisi'
                    },
                    BuildingFloorID: {
                        required: 'Silahkan isi Lantai'
                    },
                    URCCodeID: {
                        required: 'Silahkan isi Kode URC'
                    },
                    Description: {
                        required: 'Silahkan isi Keterangan'
                    },
                    BuildingArea: {
                        required: 'Silahkan isi Luas Gedung'
                    },
                    DocumentName: {
                        required: 'Silahkan isi Foto'
                    }
                },
            });



        })
    </script>
}