﻿
@model MandiriCRE.ViewModel.BuildingOccupantsIndexViewModel
@{
    ViewBag.Title = "Index";
}
@*<head>
        <script type="text/javascript" src="..js/buttons.html5.min.js"></script>
    </head>*@


<div id="content">
    <div class="row">
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>List Data Penghuni </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="table-responsive">

                                     <table 
                                       data-view-url="@Url.Action("View")"
                                       data-update-url="@Url.Action("Update")"
                                       data-pdf-download-url="@Url.Action("Preview")"
                                       data-non-pdf-download-url="@Url.Content("~/content/document/buildingoccupants/")"
                                       id="datatable_fixed_column" 
                                       class="table table-striped table-bordered table-hover">


                                    <thead>
                                        @*<tr>
                                            <br />

                                            @{if (Session["Access"].ToString() != "")
                                                {
                                                    int index = Session["Access"].ToString().IndexOf("7");
                                                    string akses = Session["Access"].ToString().Substring(index + 2, 1);
                                                    if (akses == "Y" || Session["Access"].ToString() == "superadmin")
                                                    {
                                                        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Create", "BuildingOccupants")'">Tambah</button>
                                                    }
                                                }
                                            }
                                           

                                        </tr>*@

                                        <tr>
                                            <th colspan="4" class="text-center">SUMMARY</th>
                                            @{
                                                string totalPegawai = String.Format("{0:n0}", (Convert.ToDouble(ViewBag.totalPegawai)));

                                            }
                                            <th id="headerPegawai"></th>
                                            @*<th data-hide="phone,tablet" class="text-center">@totalPegawai</th>*@
                                            @{
                                                string totalLuas = String.Format("{0:n2}", (Convert.ToDouble(ViewBag.totalLuas)));

                                            }
                                            <th id="headerLuas"></th>
                                            @*<th data-hide="phone,tablet" class="text-center">@totalLuas</th>*@
                                            <th colspan="1" class="text-center"></th>
                                        </tr>
                                        <tr>
                                            <th data-hide="phone,tablet" class="text-center" >Gedung</th>
                                            <th data-hide="phone,tablet" class="text-center" >Posisi</th>
                                            <th data-hide="phone,tablet" class="text-center">Lantai</th>
                                            <th data-hide="phone,tablet" class="text-center" >Nama Group</th>
                                            <th data-hide="phone,tablet" class="text-center">Jumlah Pegawai</th>
                                            <th data-hide="phone,tablet" class="text-center" >Luas</th>
                                            <th  class="text-center">Action</th>
                                        </tr>
                                        
                                        <tr>
                                            <th class="hasinput" style="width:4%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input class="number2" type="text"  placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input class="number2" type="text" placeholder="" />
                                            </th>

                                            <th class="hasinput" style="width:10%">
                                                <div class="text-center">

                                                    <div>
                                                            @{if (Session["Access"].ToString() != "")
                                                                {
                                                                    int index = Session["Access"].ToString().IndexOf("21");
                                                                    string akses = Session["Access"].ToString().Substring(index + 3, 1);
                                                                    if (akses == "Y" || Session["Access"].ToString() == "superadmin")
                                                                    {
                                                                        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Create", "BuildingOccupants")'">Tambah</button>
                                                                    }
                                                                }
                                                            }
                                                        </div>
                                                    @*<br /><br />*@





                                                </div>
                                            </th>
                                        </tr>


                                    </thead> 
                                </table>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->


@section pagespecific {

    <script type="text/javascript">

        var $datatableFixedColumn = $('#datatable_fixed_column');
        var permissions = {
            isAllowedToView: @Json.Encode(Model.IsAllowedToView),
            isAllowedToUpdate: @Json.Encode(Model.IsAllowedToUpdate),
            isAllowedToDelete: @Json.Encode(Model.IsAllowedToDelete),
            isAllowedToDuplicate: @Json.Encode(Model.IsAllowedToDuplicate),
        };

        var viewUrl = $datatableFixedColumn.attr('data-view-url');
        var updateUrl = $datatableFixedColumn.attr('data-update-url');
        var pdfDownloadUrl = $datatableFixedColumn.attr('data-pdf-download-url');
        var nonPdfDownloadUrl = $datatableFixedColumn.attr('data-non-pdf-download-url');

        function createGetUrl(baseUrl, parameters) {
            if (!parameters) {
                return baseUrl;
            } else {
                if (baseUrl.endsWith('/')) {
                    baseUrl = baseUrl.substr(0, baseUrl.length - 1);
                }
                return baseUrl + '?' + $.param(parameters);
            }
        }

        function checkIsPdf(filePath) {
            if (!filePath || typeof filePath !== 'string') return false;

            return filePath.toLowerCase().endsWith('.pdf');
        }

        function renderLinkToDocument(documentFilePath) {
            if (!documentFilePath || typeof documentFilePath !== 'string') {
                return '';
            } else if (checkIsPdf(documentFilePath)) {
                var hyperlink = createGetUrl(pdfDownloadUrl, { docfile: documentFilePath });
                return '<a href="' + hyperlink + '"/>' + documentFilePath + '</a>'
            } else {
                var hyperlink = nonPdfDownloadUrl + documentFilePath
                return '<a href="' + hyperlink + '"/>' + documentFilePath + '</a>'
            }
        }

        function renderNumber(number) {
            if (typeof number !== 'number') {
                return '0.00';
            } else {
                return number.toFixed(2);
            }
        }

        function renderDate(date) {
            if (!date) {
                return '';
            } else if (date.toLocaleDateString) {
                date.toLocaleDateString('id-ID');
            } else {
                return date;
            }
        }

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {
            /* COLUMN FILTER  */
            var otable = $('#datatable_fixed_column').DataTable({
                data: @Html.Raw(Model.BuildingOccupantsJson),
                "autoWidth": true,
                order: [[0, "asc"]],
                columns: [
                    { data: 'BuildingName' },
                    { data: 'BuildingPositionName' },
                    { data: 'BuildingFloor' },
                    { data: 'URCCodeDesc' },
                    { data: 'NumberOfEmployee' },
                    { 
                        data: 'BuildingArea',
                        render: function (value) {
                                return renderNumber(value);
                            }
                        },
                    {
                        data: 'BuildingOccupantsID',
                        render: function (attbId) {
                            var dropdown = '<div class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a><ul class="dropdown-menu">LIST_ITEMS</ul></div>'
                            var listItems = [];
                            if (permissions.isAllowedToUpdate) {
                                var hyperlink = createGetUrl(updateUrl, { id: attbId });
                                listItems.push('<li><a href="' + hyperlink + '">Ubah</a></li>');
                            }
                            if (permissions.isAllowedToView) {
                                var hyperlink = createGetUrl(viewUrl, { id: attbId });
                                listItems.push('<li><a href="' + hyperlink + '">View</a></li>');
                            }

                            return dropdown.replace('LIST_ITEMS', listItems.join(''));
                        }
                    }

                ],
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            //i.replace(/[\$.]/g, '') * 1 :
                            i.replace(/(\d+).(?=\d{3}(\D|$))/g, "$1") * 1 :
                            typeof i === 'number' ?
                            i : 0;
                    };

                    // Total over all employees
                    total = api
                        .column(4)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    // Total over this employees page
                    pageTotal = api
                        .column(4, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over all area
                    totalarea = api
                        .column(5)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    // Total over area this page
                    pageTotalarea = api
                        .column(5, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(4).footer()).html(
                        '' + pageTotal.toLocaleString().replace(',', '.') + ' ( ' + total.toLocaleString() + ' total)'
                    );
                    document.getElementById("headerPegawai").innerText = pageTotal.toLocaleString() + ' (total:' + total.toLocaleString() + ')';
                    // Update footer
                    $(api.column(5).footer()).html(
                        '' + pageTotalarea.toLocaleString().replace(',', '.') + ' ( ' + totalarea.toLocaleString() + ' total)'
                    );
                    document.getElementById("headerLuas").innerText = pageTotalarea.toLocaleString('en') + ' (total:' + totalarea.toLocaleString('en') + ')'

                }

            });

            

            $('input.number2').keyup(function (event) {

                // skip for arrow keys
                if (event.which >= 37 && event.which <= 40) return;

                // format number
                $(this).val(function (index, value) {
                    return value
                    .replace(/\D/g, "")
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                    ;
                });
            });

            //otable.sort(sort_by('NemberingID', true, parseInt));
            // Apply the filter
            $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

                otable
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw()
                    .order(0, "asc");

            });
            /* END COLUMN FILTER */


        });

       

    </script>
}