﻿@model MandiriCRE.Models.BuildingOccupants
@{
    ViewBag.Title = "PartialBuildingOccupants";
}
<div class="jarviswidget well" id="wid-id-3" style="border:hidden" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
    <!-- widget div-->
    <div>
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("PartialBuildingOccupants", "BuildingOccupants", new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { enctype = "multipart/form-data", @class = "smart-form", @id = "tax-form" }))
            {

                <header></header>

                <fieldset>
                    <div class="row">
                        <section class="col col-1">
                            <label>Gedung*</label>
                        </section>
                        <section class="col col-6">
                            @{

                                List<SelectListItem> listBuilding = new List<SelectListItem>();
                                List<MandiriCRE.Models.Building> BuildingList = ViewBag.ListBuilding;
                                foreach (var item in BuildingList)
                                {
                                    listBuilding.Add(new SelectListItem
                                    {
                                        Text = item.BuildingName,
                                        Value = item.BuildingID
                                    });
                                }
                            }

                            <label class="select">
                                @Html.DropDownListFor(model => model.BuildingID, listBuilding.OrderBy(x => x.Text), "-- Pilih Gedung --", new { @class = "select", @id = "BuildingID" })
                            </label>
                        </section>



                    </div>
                    <div class="row">
                        <section class="col col-1">
                            <label>Posisi*</label>
                        </section>
                        <section class="col col-6">
                            @{

                                List<SelectListItem> listBuildingPosition = new List<SelectListItem>();
                                List<MandiriCRE.Models.BuildingPosition> BuildingPositionList = ViewBag.ListBuildingPosition;
                                foreach (var item in BuildingPositionList)
                                {
                                    listBuildingPosition.Add(new SelectListItem
                                    {
                                        Text = item.BuildingPositionName,
                                        Value = item.BuildingPositionID
                                    });
                                };

                            }
                           
                            <label class="select">
                                @Html.DropDownListFor(model => model.BuildingPositionID, listBuildingPosition.OrderBy(x => x.Text), "-- Pilih Posisi --", new { @class = "select", @id = "BuildingPositionID" })

                            </label>
                        </section>

                    </div>
                    <div class="row">
                        <section class="col col-1">
                            <label>Lantai*</label>
                        </section>
                        <section class="col col-6">
                            @{

                                List<SelectListItem> listBuildingFloor = new List<SelectListItem>();
                                List<MandiriCRE.Models.BuildingFloor> BuildingFloorList = ViewBag.ListBuildingFloor;
                                foreach (var item in BuildingFloorList)
                                {
                                    listBuildingFloor.Add(new SelectListItem
                                    {
                                        Text = item.BuildingFloorName,
                                        Value = item.BuildingFloorID
                                    });
                                };

                            }

                            <label class="select">
                                @Html.DropDownListFor(model => model.BuildingFloorID, listBuildingFloor.OrderBy(x => Convert.ToInt32(x.Value)), "-- Pilih Lantai --", new { @class = "select", @id = "BuildingFloorID" })

                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-1">
                            <label>Kode URC*</label>
                        </section>
                        <section class="col col-3">
                            @{

                                List<SelectListItem> listURCCode = new List<SelectListItem>();
                                List<MandiriCRE.Models.URCCode> URCCodeList = ViewBag.ListURCCode;
                                foreach (var item in URCCodeList)
                                {
                                    listURCCode.Add(new SelectListItem
                                    {
                                        Text = item.URCCodeName,
                                        //Text = item.Description, //req131018
                                        Value = item.URCCodeID
                                    });
                                }

                                }

                                <label class="select">
                                    @Html.DropDownListFor(model => model.URCCodeID, listURCCode.OrderBy(x => x.Text), "-- Pilih Kode URC --", new { @class = "select", @id = "URCCodeID" })

                                </label>

                        </section>
                        <section class="col col-3">

                            <label class="input">
                                <input type="text" name="URCCodeDesc" id="URCCodeDesc" value="@Model.URCCodeDesc" maxlength="255" placeholder="" disabled="disabled">
                            </label>
                        </section>

                    </div>
                    <div class="row">
                        <section class="col col-1">
                            <label>Keterangan*</label>
                        </section>
                        <section class="col col-6">

                            <label class="textarea">
                                <i class="icon-append fa fa-comment"></i>
                                <textarea rows="4" name="Description" id="Description" maxlength="255" placeholder="">@Model.Description</textarea>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-1">
                            <label>Jumlah Pegawai*</label>
                        </section>
                        <section class="col col-6">

                            <label class="input">
                                <input type="text" class="number2" name="NumberOfEmployee" id="NumberOfEmployee" value="@Model.NumberOfEmployee" maxlength="255" placeholder="">
                            </label>
                        </section>

                    </div>
                    <div class="row">
                        <section class="col col-1">
                            <label>Luas*</label>
                        </section>
                        <section class="col col-6">

                            <label class="input">
                                <input type="text" class="number3" name="BuildingArea" id="BuildingArea" value="@Model.BuildingArea" maxlength="255" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-1">
                            <label>Lokasi Ruang*</label>
                        </section>
                        <section class="col col-6">

                            <label class="input">
                                <input type="text"  name="SpaceLocation" id="SpaceLocation" value="@Model.SpaceLocation" maxlength="255" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-1">
                            <label>Foto</label>
                        </section>
                        <section class="col col-6">


                            <div class="input input-file">
                                <span class="button"><input id="file" class="input-lg" type="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="DocumentName" name="DocumentName" value="@Model.DocFileName" placeholder="Pilih Dokumen.." readonly="">
                                *File dalam format jpg / png maksimum 5 MB
                            </div>
                        </section>
                        <br />
                        <section class="col col-4">
                            Download Lampiran : 
                            @{
                                @*if (Model.DocFileName.ToUpper().Contains("PDF"))
                                {
                                    @Html.ActionLink(Model.DocFileName, "Preview", new { docfile = Model.DocFileName })
                                }
                                else
                                {
                                    <a href="~/content/document/buildingoccupants/@Model.DocFileName" download>@Model.DocFileName</a>
                                }*@
                                @Html.ActionLink(Model.DocFileName, "Preview", new { docfile = Model.DocFileName })
                            }
                        </section>
                    </div>

                </fieldset>
                <footer></footer>

                                }
        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>




