﻿@model MandiriCRE.Models.BuildingOccupants
@{
    ViewBag.Title = "Update";
}


<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit"></i>
                Data
                <span>
                    >
                    Master Penghuni
                </span>
            </h1>
        </div>
    </div>
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
            <h2> </h2>
        </header>
        <!-- widget div-->
        <div>
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    @Html.Raw(ViewBag.ErrorMessage)
                </div>
            }
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body">
                @using (Html.BeginForm("Update", "BuildingOccupants", new { ReturnUrl = ViewBag.ReturnUrl, id = ViewBag.BuildingOccupantsID },
                FormMethod.Post, new { enctype = "multipart/form-data", @class = "smart-form", @id = "BuildingOccupants-form" }))
                {
                    <div class="text-right">
                        <button class="btn btn-primary" name="Sign" type="submit" style="padding: 8px 25px;">Simpan</button>
                        <button class="btn btn-primary" type="button" style="padding: 8px 25px;" onclick="location.href='@Url.Action("Index", "BuildingOccupants")'">Kembali</button>
                    </div>



                        <hr class="simple">
                        <ul id="myTab1" class="nav nav-tabs bordered">

                            <li class="active">
                                <a href="#s1" data-toggle="tab">Master Penghuni</a>
                            </li>
                            <li>
                                <a href="#s2" data-toggle="tab">Riwayat</a>
                            </li>

                        </ul>

                        <div id="myTabContent1" class="tab-content padding-10">
                            <div class="tab-pane fade in active" id="s1">
                                @{
                                    List<MandiriCRE.Models.Building>
                                           BuildingList = ViewBag.ListBuilding;
                                    List<MandiriCRE.Models.BuildingFloor>
                                        BuildingFloorList = ViewBag.ListBuildingFloor;
                                    List<MandiriCRE.Models.BuildingPosition>
                                        BuildingPositionList = ViewBag.ListBuildingPosition;
                                    List<MandiriCRE.Models.URCCode>
                                        URCCodeList = ViewBag.ListURCCode;
                                }
                                @{Html.RenderAction("PartialBuildingOccupants", new { obj = ViewBag.objInfo, _listBuilding = BuildingList, _listBuildingFloor = BuildingFloorList, _listBuildingPosition = BuildingPositionList, _listURCCode = URCCodeList });}
                            </div>
                            <div class="tab-pane fade" id="s2">
                                @{
                                    List<MandiriCRE.Models.LogHistory>
                                    ListHist = new List<LogHistory>();
                                    ListHist = ViewBag.ListHistory;
                                }
                                @{Html.RenderPartial("PartialHistory", ListHist);}
                            </div>


                        </div>
                                    }
            </div>
            <!-- end widget content -->
        </div>
        <!-- end widget div -->
    </div>
    <!-- end widget -->
</div>

@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            // Number Fields
            $('input.number2').keyup(function (event) {

                // skip for arrow keys
                if (event.which >= 37 && event.which <= 40) return;

                // format number
                $(this).val(function (index, value) {
                    return value
                    .replace(/\D/g, "")
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                    ;
                });
            });

            $('input.number3').keyup(function (event) {

                // skip for arrow keys
                if (event.which >= 37 && event.which <= 40) {
                    event.preventDefault();
                }

                $(this).val(function (index, value) {
                    return value
                      .replace(/\D/g, "")
                      .replace(/([0-9])([0-9]{2})$/, '$1.$2')
                      .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ",")
                    ;
                });
            });

            $('#BuildingID').change(function () {
               
                $.ajax({
                    type: "POST",
                    url: "/BuildingOccupants/GetFloorbyBuilding/",
                    data: {
                        'BuildingID': $(this).val()
                    },
                    success: function (data) {
                        var Subject = $('#BuildingFloorID');
                        Subject.empty();
                        Subject.append(
                                    $('<option>', {
                                        value: "0"
                                    }).text("--Pilih Lantai--")
                                );
                        $.each(data, function () {

                            Subject.append(
                                    $('<option>', {
                                        value: this.Value
                                    }).text(this.Text)
                                );
                        });
                    }
                });
            });

            //$('#BuildingFloorID').attr('disabled', 'disabled');
            if ($('#BuildingPositionID').val() != "17") { //posisi lantai 
                $('#BuildingFloorID').attr('disabled', 'disabled');
            };

            $('#BuildingPositionID').change(function () {
                //var varpic = $(this).Text();
                var varpic = $(this).val();
                if (varpic == "17") { //posisi lantai 
                    $('#BuildingFloorID').removeAttr('disabled');
                    $('#branBuildingFloorIDch').attr("required", "true");
                }
                else {
                    $('#BuildingFloorID').attr('disabled', 'disabled');
                    $('#BuildingFloorID').removeAttr("required");
                }
            });

            $('#URCCodeID').change(function () {
                $.ajax({
                    type: "POST",
                    url: "/BuildingOccupants/GetURCDesc/",
                    data: {
                        'URCID': $(this).val()
                        //'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
                    },
                    success: function (data) {
                        var dataSubject = JSON.parse(data);
                        $("#URCCodeDesc").val(dataSubject);
                        //$.uniform.update();
                    }
                });
            });


            var $numberingForm = $("#BuildingOccupants-form").validate({
                // Rules for form validation
                rules: {
                    BuildingID: {
                        required: true
                    },
                    BuildingPositionID: {
                        required: true
                    },
                    BuildingFloorID: {
                        required: true
                    },
                    URCCodeID: {
                        required: true
                    },
                    Description: {
                        required: true
                    },
                    BuildingArea: {
                        required: true
                    },
                    DocumentName: {
                        required: true
                    }
                },

                // Messages for form validation
                messages: {
                    BuildingID: {
                        required: 'Silahkan isi Gedung'
                    },
                    BuildingPositionID: {
                        required: 'Silahkan isi Posisi'
                    },
                    BuildingFloorID: {
                        required: 'Silahkan isi Lantai'
                    },
                    URCCodeID: {
                        required: 'Silahkan isi Kode URC'
                    },
                    Description: {
                        required: 'Silahkan isi Keterangan'
                    },
                    BuildingArea: {
                        required: 'Silahkan isi Luas Gedung'
                    },
                    DocumentName: {
                        required: 'Silahkan isi Foto'
                    }
                },
            });



        })
    </script>
}


