﻿@model MandiriCRE.ViewModel.ATTBIndexViewModel

@{
    ViewBag.Title = "Index";
}


<div id="content">
    <div class="row">
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>List Data ATTB </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="table-responsive">

                                <table data-delete-url="@Url.Action("Delete")"
                                       data-view-url="@Url.Action("View")"
                                       data-duplicate-url="@Url.Action("Duplicate2")"
                                       data-update-url="@Url.Action("Update")"
                                       data-pdf-download-url="@Url.Action("Preview")"
                                       data-non-pdf-download-url="@Url.Content("~/content/document/attb/")"
                                       id="datatable_fixed_column"
                                       class="table table-striped table-bordered table-hover">

                                    <thead>
                                        <tr>
                                            <br />

                                            @{if (Session["Access"].ToString() != "")
                                                {
                                                    int index = Session["Access"].ToString().IndexOf("20");
                                                    string akses = Session["Access"].ToString().Substring(index + 3, 1);
                                                    if (akses == "Y" || Session["Access"].ToString() == "superadmin")
                                                    {
                                                        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Create", "ATTB")'">Tambah</button>
                                                    }
                                                }
                                            }
                                            &nbsp;&nbsp;

                                            @{if (Session["Access"].ToString() != "")
                                                {
                                                    int index = Session["Access"].ToString().IndexOf("20");
                                                    string akses = Session["Access"].ToString().Substring(index + 8, 1);
                                                    if (akses == "Y" || Session["Access"].ToString() == "superadmin")
                                                    {
                                                        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("DownloadExcel2", "ATTB")'">Convert to Excel</button>
                                                    }
                                                }
                                            }

                                        </tr>


                                        <tr>
                                            <th colspan="5" class="text-center">SUMMARY</th>
                                            @*<th data-hide="phone,tablet" class="text-center">@ViewBag.NJOPPBB2017</th>*@
                                            <th id="NJOPPBB2017"></th>
                                            @*<th data-hide="phone,tablet" class="text-center">@ViewBag.NJOPPBB2018</th>*@
                                            <th id="NJOPPBB2018"></th>
                                            <th colspan="9"></th>
                                            @*<th data-hide="phone,tablet" class="text-center">@ViewBag.LuasTanah</th>*@
                                            <th id="LuasTanah"></th>
                                            @*<th data-hide="phone,tablet" class="text-center">@ViewBag.LuasBangunan</th>*@
                                            <th id="LuasBangunan"></th>
                                            @*<th data-hide="phone,tablet" class="text-center">@ViewBag.NilaiBukuTanah</th>*@
                                            <th id="NilaiBukuTanah"></th>
                                            @*<th data-hide="phone,tablet" class="text-center">@ViewBag.NilaiBukuBangunan</th>*@
                                            <th id="NilaiBukuBangunan"></th>
                                            <th colspan="2"></th>
                                            @*<th data-hide="phone,tablet" class="text-center">@ViewBag.NilaiPerolehan</th>*@
                                            <th id="NilaiPerolehan"></th>
                                            <th colspan="15" class="text-center"></th>
                                        </tr>
                                        <tr>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">No Dummy</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">No Titik Aset</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">ID SAP</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Alamat Aktual</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Kode Cabang</th>
                                            @{
                                                string yearold = System.DateTime.Now.AddYears(-1).Year.ToString();
                                            }
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">NJOP  PBB @yearold (Rp)</th>
                                            @{
                                                string year = System.DateTime.Now.Year.ToString();
                                            }
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">NJOP PBB @year (Rp)</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Jenis</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Status</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Region</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Kota</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Bukti Kepemilikan</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">No. Bukti</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Nama Pemegang Hak </th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Tgl Penerbitan Sertifikat</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Tgl Jatuh Tempo Sertifikat</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Luas Tanah Sertifikat</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Luas Bangunan (PBB)</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Nilai Buku Tanah (Rp)</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Nilai Buku Bangunan (Rp)</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Penguasaan</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Pengguna Utama</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Nilai Perolehan (Rp)</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Lampiran</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Lampiran 2</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Lampiran 3</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Lampiran 4</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Lampiran 5</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Lampiran 6</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Lampiran 7</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Lampiran 8</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Lampiran 9</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Lampiran 10</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Lampiran 11</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Lampiran 12</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Updated By</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Updated Date</th>
                                            <th style="display:none;" data-hide="phone,tablet" class="text-center" rowspan="1">Updated Real</th>
                                            <th class="text-center" rowspan="1">Action</th>
                                        </tr>

                                        <tr>
                                            <th class="hasinput" style="width:4%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:4%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" placeholder="" />
                                            </th>
                                            <th style="display:none;" class="hasinput" style="width:10%">
                                                <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" placeholder="" />
                                            </th>

                                            <th class="hasinput" style="width:10%">
                                                <div class="text-left">


                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->


@section pagespecific {

    <script type="text/javascript">

        var $datatableFixedColumn = $('#datatable_fixed_column');
        var permissions = {
            isAllowedToView: @Json.Encode(Model.IsAllowedToView),
            isAllowedToUpdate: @Json.Encode(Model.IsAllowedToUpdate),
            isAllowedToDelete: @Json.Encode(Model.IsAllowedToDelete),
            isAllowedToDuplicate: @Json.Encode(Model.IsAllowedToDuplicate),
        };

        var viewUrl = $datatableFixedColumn.attr('data-view-url');
        var updateUrl = $datatableFixedColumn.attr('data-update-url');
        var duplicateUrl = $datatableFixedColumn.attr('data-duplicate-url');
        var deleteUrl = $datatableFixedColumn.attr('data-delete-url');
        var pdfDownloadUrl = $datatableFixedColumn.attr('data-pdf-download-url');
        var nonPdfDownloadUrl = $datatableFixedColumn.attr('data-non-pdf-download-url');

        function createGetUrl(baseUrl, parameters) {
            if (!parameters) {
                return baseUrl;
            } else {
                if (baseUrl.endsWith('/')) {
                    baseUrl = baseUrl.substr(0, baseUrl.length - 1);
                }
                return baseUrl + '?' + $.param(parameters);
            }
        }

        function checkIsPdf(filePath) {
            if (!filePath || typeof filePath !== 'string') return false;

            return filePath.toLowerCase().endsWith('.pdf');
        }

        function renderLinkToDocument(documentFilePath) {
            if (!documentFilePath || typeof documentFilePath !== 'string') {
                return '';
            } else if (checkIsPdf(documentFilePath)) {
                var hyperlink = createGetUrl(pdfDownloadUrl, { docfile: documentFilePath });
                return '<a href="' + hyperlink + '"/>' + documentFilePath + '</a>'
            } else {
                var hyperlink = nonPdfDownloadUrl + documentFilePath
                return '<a href="' + hyperlink + '"/>' + documentFilePath + '</a>'
            }
        }

        function renderNumber(number) {
            if (typeof number !== 'number') {
                return '';
            } else {
                return number.toFixed(0);
            }
        }

        function renderDate(date) {
            if (!date) {
                return '';
            } else if (date.toLocaleDateString) {
                date.toLocaleDateString('id-ID');
            } else {
                return date;
            }
        }

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            //var buttonCommon = {
            //    exportOptions: {
            //        format: {
            //            body: function (data, row, column, node) {
            //                // Strip $ from salary column to make it numeric
            //                return column === 5 ?
            //                    data.replace(/[$,]/g, '') :
            //                    data;
            //            }
            //        }
            //    }
            //};

            //$('#datatable_fixed_column').dataTable({
            //    dom: 'Bfrtip',
            //    buttons: [
            //        $.extend(true, {}, buttonCommon, {
            //            extend: 'copyHtml5'
            //        }),
            //        $.extend(true, {}, buttonCommon, {
            //            extend: 'excelHtml5'
            //        }),
            //        $.extend(true, {}, buttonCommon, {
            //            extend: 'pdfHtml5'
            //        })
            //    ]
            //});


            //if (config.message) {
            //    var tablecaption = [config.message];
            //    addRow(tablecaption, rowPos);    // Add caption
            //    addRow("", rowPos);              // Add blank row to separate the caption from the table data
            //}

            /* TABLETOOLS */
            //$('#datatable_fixed_column').dataTable({

            //    // Tabletools options:
            //    //   https://datatables.net/extensions/tabletools/button_options
            //    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
            //            "t",
            //    "oTableTools": {
            //        "aButtons": [
            //    {
            //        "sExtends": "xls",
            //        "sButtonText": "Export Excel",
            //        "bHeader": true,
            //        "mColumns": "visible",
            //        "sFileName": "TaxData*.xls"
            //    }//,
            //    //    "copy",
            //    //    "csv",
            //    //    "xls",
            //    //       {
            //    //           "sExtends": "pdf",
            //    //           "sTitle": "SmartAdmin_PDF",
            //    //           "sPdfMessage": "SmartAdmin PDF Export",
            //    //           "sPdfSize": "letter"
            //    //       },
            //    //       {
            //    //           "sExtends": "print",
            //    //           "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
            //    //       }
            //       ],
            //       "sSwfPath": "/Scripts/plugin/datatables/swf/copy_csv_xls_pdf.swf"
            //    },
            //    "autoWidth": true,
            //    "preDrawCallback": function () {
            //        // Initialize the responsive datatables helper once.
            //        if (!responsiveHelper_datatable_tabletools) {
            //            responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
            //        }
            //    },
            //    "rowCallback": function (nRow) {
            //        responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
            //    },
            //    "drawCallback": function (oSettings) {
            //        responsiveHelper_datatable_tabletools.respond();
            //    }
            //});

            /* END TABLETOOLS */


        });

        /* COLUMN FILTER  */
        var otable = $('#datatable_fixed_column').DataTable({
            data: @Html.Raw(Model.ATTBJson),
            order: [[37, "desc"]],
            columns: [
                { data: 'ListNo' },
                { data: 'AssetNo' },
                { data: 'IDSAP' },
                { data: 'ActualAddress' },
                { data: 'BrachCode' },
                { data: 'NJOPPBB2017', render: renderNumber },//n
                { data: 'NJOPPBB2018', render: renderNumber },//n
                { data: 'ATTBType' },
                { data: 'ATTBStatus' },
                { data: 'RegionAsset' },
                { data: 'City' },
                { data: 'Ownership' },
                { data: 'OwnershipNo' },
                { data: 'OwnerName' },
                { data: 'ReleaseDateCertificate' },
                { data: 'DueDateCertificate' },
                { data: 'LandArea', render: renderNumber },//n
                { data: 'BuildingArea', render: renderNumber },//n
                { data: 'NilaiBukuTanah', render: renderNumber },//n
                { data: 'NilaiBukuBangunan', render: renderNumber },//n
                { data: 'AssetControl' },
                { data: 'PrimaryUser' },
                { data: 'AcquisitionValue', render: renderNumber },//n
                { data: 'DocFileName', render: renderLinkToDocument },
                { data: 'DocFileName2', render: renderLinkToDocument },
                { data: 'DocFileName3', render: renderLinkToDocument },
                { data: 'DocFileName4', render: renderLinkToDocument },
                { data: 'DocFileName5', render: renderLinkToDocument },
                { data: 'DocFileName6', render: renderLinkToDocument },
                { data: 'DocFileName7', render: renderLinkToDocument },
                { data: 'DocFileName8', render: renderLinkToDocument },
                { data: 'DocFileName9', render: renderLinkToDocument },
                { data: 'DocFileName10', render: renderLinkToDocument },
                { data: 'DocFileName11', render: renderLinkToDocument },
                { data: 'DocFileName12', render: renderLinkToDocument },
                { data: 'UpdatedBy' },
                { data: 'UpdatedDate' },
                {
                    data: 'ATTBID',
                    render: function (attbId) {
                        var dropdown = '<div class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a><ul class="dropdown-menu">LIST_ITEMS</ul></div>'
                        var listItems = [];
                        if (permissions.isAllowedToUpdate) {
                            var hyperlink = createGetUrl(updateUrl, { id: attbId });
                            listItems.push('<li><a href="' + hyperlink + '">Ubah</a></li>');
                        }
                        if (permissions.isAllowedToDuplicate) {
                            var hyperlink = createGetUrl(duplicateUrl, { id: attbId });
                            listItems.push('<li><a href="' + hyperlink + '">Duplicate</a></li>');
                        }
                        if (permissions.isAllowedToView) {
                            var hyperlink = createGetUrl(viewUrl, { id: attbId });
                            listItems.push('<li><a href="' + hyperlink + '">View</a></li>');
                        }
                        if (permissions.isAllowedToDelete) {
                            var hyperlink = createGetUrl(deleteUrl, { id: attbId });
                            listItems.push('<li><a href="' + hyperlink + '">Hapus</a></li>');
                        }

                        return dropdown.replace('LIST_ITEMS', listItems.join(''));
                    }
                }
            ],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$.]/g, '') * 1 :
                        //i.replace(/(\d+).(?=\d{3}(\D|$))/g, "$1") * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                // Total over all area
                totalNJOPPBB2017 = api
                    .column(5)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over area this page
                pageTotalNJOPPBB2017 = api
                    .column(5, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over all area
                totalNJOPPBB2018 = api
                    .column(6)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over area this page
                pageTotalNJOPPBB2018 = api
                    .column(6, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over all area
                totalLuasTanah = api
                    .column(16)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over area this page
                pageTotalLuasTanah = api
                    .column(16, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over all area
                totalLuasBangunan = api
                    .column(17)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over area this page
                pageTotalLuasBangunan = api
                    .column(17, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over all area
                totalNilaiBukuTanah = api
                    .column(18)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over area this page
                pageTotalNilaiBukuTanah = api
                    .column(18, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over all area
                totalNilaiBukuBangunan = api
                    .column(19)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over area this page
                pageTotalNilaiBukuBangunan = api
                    .column(19, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over all area
                totalNilaiPerolehan = api
                    .column(22)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over area this page
                pageTotalNilaiPerolehan = api
                    .column(22, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                //$(api.column(4).footer()).html(
                //    '' + pageTotalNJOPPBB2017.toLocaleString().replace(',', '.') + ' ( ' + totalNJOPPBB2017.toLocaleString() + ')'
                //);
                document.getElementById("NJOPPBB2017").innerText = pageTotalNJOPPBB2017.toLocaleString() + ' (Total:' + totalNJOPPBB2017.toLocaleString() + ')';
                document.getElementById("NJOPPBB2018").innerText = pageTotalNJOPPBB2018.toLocaleString() + ' (Total:' + totalNJOPPBB2018.toLocaleString() + ')';
                document.getElementById("LuasTanah").innerText = pageTotalLuasTanah.toLocaleString() + ' (Total:' + totalLuasTanah.toLocaleString() + ')';
                document.getElementById("LuasBangunan").innerText = pageTotalLuasBangunan.toLocaleString() + ' (Total:' + totalLuasBangunan.toLocaleString() + ')';
                document.getElementById("NilaiBukuTanah").innerText = pageTotalNilaiBukuTanah.toLocaleString() + ' (Total:' + totalNilaiBukuTanah.toLocaleString() + ')';
                document.getElementById("NilaiBukuBangunan").innerText = pageTotalNilaiBukuBangunan.toLocaleString() + ' (Total:' + totalNilaiBukuBangunan.toLocaleString() + ')';
                document.getElementById("NilaiPerolehan").innerText = pageTotalNilaiPerolehan.toLocaleString() + ' (Total:' + totalNilaiPerolehan.toLocaleString() + ')';
                // Update footer

            }


        });

        //otable.sort(sort_by('NemberingID', true, parseInt));
        // Apply the filter
        $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

            otable
                .column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw()
                .order(37, "desc");

        });
            /* END COLUMN FILTER */


    </script>
}
