﻿@model MandiriCRE.Models.ATTB
@{
    ViewBag.Title = "PartialATTB";
}
<div class="jarviswidget well" id="wid-id-3" style="border:hidden" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
    <!-- widget div-->
    <div>
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("PartialTax", "Tax", new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { enctype = "multipart/form-data", @class = "smart-form", @id = "tax-form" }))
            {

                <header></header>

                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label>No Dummy*</label>
                            <label class="input">
                                <input type="text" class="number3" name="ListNo" id="ListNo" value="@Model.ListNo" maxlength="255" placeholder="" tabindex="1">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Nama Pemegang Hak</label>
                            <label class="input">
                                <input type="text" name="OwnerName" id="OwnerName" value="@Model.OwnerName" maxlength="255" placeholder="" tabindex="14">
                            </label>
                        </section>

                    </div>
                    <div class="row">
                        <section class="col col-6">

                            <label>No Titik Aset*</label>
                            <label class="input">
                                <input type="text" class="number3" name="AssetNo" id="AssetNo" value="@Model.AssetNo" maxlength="255" placeholder="" tabindex="2">

                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Tgl Penerbitan Sertifikat</label>
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" name="ReleaseDateCertificate" id="ReleaseDateCertificate" value="@Model.ReleaseDateCertificate" placeholder="" tabindex="15">
                            </label>
                        </section>

                    </div>
                    <div class="row">

                        <section class="col col-6">
                            <input type="hidden" name="ATTBID" id="ATTBID" value="@Model.ATTBID" maxlength="255" placeholder="">
                            <label>ID SAP*</label>
                            <label class="input">
                                <input type="text" name="IDSAP" id="IDSAP" value="@Model.IDSAP" maxlength="255" placeholder="" tabindex="3">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Tgl Jatuh Tempo Sertifikat</label>
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" name="DueDateCertificate" id="DueDateCertificate" value="@Model.DueDateCertificate" placeholder="" tabindex="16">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Alamat Aktual*</label>
                            <label class="textarea">
                                <i class="icon-append fa fa-comment"></i>
                                <textarea rows="4" name="ActualAddress" id="ActualAddress" maxlength="255" placeholder="" tabindex="4">@Model.ActualAddress</textarea>
                            </label>

                        </section>
                        <section class="col col-6">
                            <label>Luas Tanah Sertifikat</label>
                            <label class="input">
                                <input type="text" class="number2" name="LandArea" id="LandArea" value="@Model.LandArea" maxlength="255" placeholder="" tabindex="17">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Kode Cabang</label>
                            <label class="input">
                                <input type="text" class="number3" name="BrachCode" id="BrachCode" value="@Model.BrachCode" maxlength="255" placeholder="" tabindex="5">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Luas Bangunan</label>
                            <label class="input">
                                <input type="text" class="number2" class="number2" name="BuildingArea" id="BuildingArea" value="@Model.BuildingArea" maxlength="255" placeholder="" tabindex="18">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            @{
                                string yearold = System.DateTime.Now.AddYears(-1).Year.ToString();
                            }
                            <label>NJOP PBB @yearold (Rp)</label>
                            <label class="input">
                                <input type="text" class="number2" name="NJOPPBB2017" id="NJOPPBB2017" value="@Model.NJOPPBB2017" maxlength="255" placeholder="" tabindex="6">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Nilai Buku Tanah (Rp)</label>
                            <label class="input">
                                <input type="text" class="number2" name="NilaiBukuTanah" id="NilaiBukuTanah" value="@Model.NilaiBukuTanah" maxlength="255" placeholder="" tabindex="19">
                            </label>
                        </section>

                    </div>
                    <div class="row">
                        <section class="col col-6">
                            @{
                                string year = System.DateTime.Now.Year.ToString();
                            }
                            <label>NJOP PBB @year (Rp)</label>
                            <label class="input">
                                <input type="text" class="number2" name="NJOPPBB2018" id="NJOPPBB2018" value="@Model.NJOPPBB2018" maxlength="255" placeholder="" tabindex="7">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Nilai Buku Bangunan (Rp)</label>
                            <label class="input">
                                <input type="text" class="number2" name="NilaiBukuBangunan" id="NilaiBukuBangunan" value="@Model.NilaiBukuBangunan" maxlength="255" placeholder="" tabindex="20">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Jenis*</label>
                            @{

                                List<SelectListItem>
                                    listATTBTypes = new List<SelectListItem>
                                        ();
                                List<MandiriCRE.Models.ATTBTypeModels>
                                    ATTBTYpeList = ViewBag.ListATTBType;
                                foreach (var item in ATTBTYpeList)
                                {
                                    listATTBTypes.Add(new SelectListItem
                                    {
                                        Text = item.ATTBType,
                                        Value = item.ATTBTypeID
                                    });
                                }

                            }
                            <label class="select">
                                @Html.DropDownListFor(model => model.ATTBTypeID, listATTBTypes.OrderBy(x => x.Text), "-- Pilih Jenis --", new { @class = "select", @id = "ATTBTypeID", @tabindex = "8" })

                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Penguasaan*</label>
                            @{

                                List<SelectListItem>
                                    listAssetControl = new List<SelectListItem>
                                        ();
                                List<MandiriCRE.Models.AssetControlModels>
                                    AssetControlList = ViewBag.ListAssetControl;
                                foreach (var item in AssetControlList)
                                {
                                    listAssetControl.Add(new SelectListItem
                                    {
                                        Text = item.AssetControl,
                                        Value = item.AssetControl
                                    });
                                }
                                listAssetControl.Add(new SelectListItem
                                {
                                    Text = " --Lainnya--",
                                    Value = "0"
                                });


                            }
                            <label class="select">
                                @Html.DropDownListFor(model => model.AssetControl, listAssetControl.OrderBy(x => x.Text), "-- Pilih Penguasaan --", new { @class = "select", @id = "AssetControl", @tabindex = "21" })

                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            @{

                                List<SelectListItem>
                                    listATTBStatus = new List<SelectListItem>
                                        ();
                                List<MandiriCRE.Models.ATTBStatusModels>
                                    ATTBStatusList = ViewBag.ListATTBStatus;
                                foreach (var item in ATTBStatusList)
                                {
                                    listATTBStatus.Add(new SelectListItem
                                    {
                                        Text = item.ATTBStatus,
                                        Value = item.ATTBStatusID
                                    });
                                }


                            }
                            <label>Status*</label>
                            <label class="select">
                                @Html.DropDownListFor(model => model.ATTBStatusID, listATTBStatus.OrderBy(x => x.Text), "-- Pilih Status --", new { @class = "select", @id = "ATTBStatusID", @tabindex = "9" })

                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Penguasaan Lainnya*</label>
                            <label class="input">
                                <input type="text" name="AssetControlOther" id="AssetControlOther" value="@Model.AssetControlOther" maxlength="255" disabled="disabled" placeholder="" tabindex="22">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            @{

                                List<SelectListItem>
                                    listRegionAsset = new List<SelectListItem>
                                        ();
                                List<MandiriCRE.Models.RegionAssetModels>
                                    RegionAssetList = ViewBag.ListRegionAsset;
                                foreach (var item in RegionAssetList)
                                {
                                    listRegionAsset.Add(new SelectListItem
                                    {
                                        Text = item.RegionAsset,
                                        Value = item.RegionAssetID
                                    });
                                }

                            }
                            <label>Region*</label>
                            <label class="select">
                                @Html.DropDownListFor(model => model.RegionAssetID, listRegionAsset.OrderBy(x => Convert.ToInt32(x.Value)), "-- Pilih Region --", new { @class = "select", @id = "RegionAssetID", @tabindex = "10" })

                            </label>
                        </section>
                        <section class="col col-6">
                            @{

                                List<SelectListItem>
                                    listPrimaryUser = new List<SelectListItem>
                                        ();
                                List<MandiriCRE.Models.PrimaryUserModels>
                                    PrimaryUserList = ViewBag.ListPrimaryUser;
                                foreach (var item in PrimaryUserList)
                                {
                                    listPrimaryUser.Add(new SelectListItem
                                    {
                                        Text = item.PrimaryUser,
                                        Value = item.PrimaryUser
                                    });
                                }

                                listPrimaryUser.Add(new SelectListItem
                                {
                                    Text = " --Lainnya--",
                                    Value = "0"
                                });

                            }
                            <label>Pengguna Utama*</label>
                            <label class="select">
                                @Html.DropDownListFor(model => model.PrimaryUser, listPrimaryUser.OrderBy(x => x.Text), "-- Pilih Pengguna Utama --", new { @class = "select", @id = "PrimaryUser", @tabindex = "23" })

                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Kota*</label>
                            <label class="input">
                                <input type="text" name="City" id="City" value="@Model.City" maxlength="255" placeholder="" tabindex="11">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Pengguna Utama Lainnya*</label>
                            <label class="input">
                                <input type="text" name="PrimaryUserOther" id="PrimaryUserOther" value="@Model.PrimaryUserOther" maxlength="255" disabled="disabled" placeholder="" tabindex="24">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            @{

                                List<SelectListItem>
                                    listOwnership = new List<SelectListItem>
                                        ();
                                List<MandiriCRE.Models.OwnershipModels>
                                    OwnershipList = ViewBag.ListOwnership;
                                foreach (var item in OwnershipList)
                                {
                                    listOwnership.Add(new SelectListItem
                                    {
                                        Text = item.Ownership,
                                        Value = item.OwnershipID
                                    });
                                }

                            }
                            <label>Bukti Kepemilikan</label>
                            <label class="select">
                                @Html.DropDownListFor(model => model.OwnershipID, listOwnership.OrderBy(x => x.Text), "-- Pilih Bukti Kepemilikan --", new { @class = "select", @id = "OwnershipID", @tabindex = "12" })

                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Nilai Perolehan (Rp)</label>
                            <label class="input">
                                <input type="text" class="number2" name="AcquisitionValue" id="AcquisitionValue" value="@Model.AcquisitionValue" maxlength="255" placeholder="" tabindex="25">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>No Bukti</label>
                            <label class="input">
                                <input type="text" name="OwnershipNo" id="OwnershipNo" value="@Model.OwnershipNo" maxlength="255" placeholder="" tabindex="13">
                            </label>
                        </section>
                        <section class="col col-4">
                            <label>Lampiran</label>
                            <div class="input input-file">
                                <span class="button"><input id="file" class="input-lg" type="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="filename" name="filename" value="@Model.DocFileName" placeholder="Pilih Dokumen.." readonly="" tabindex="26">
                                *File dalam format Word / Excel / PDF
                            </div>
                        </section>
                        <br />
                        <section class="col col-2">
                            @*@{

                                    <a href="~/content/document/tax/@Model.DocFileName" download>@Model.DocFileName</a>

                                }*@
                            @{
                                if (Model.DocFileName != null && Model.DocFileName.ToUpper().Contains("PDF"))
                                {
                                    @Html.ActionLink(Model.DocFileName, "Preview", new { docfile = Model.DocFileName })
                                }
                                else
                                {
                                    <a href="~/content/document/attb/@Model.DocFileName" download>@Model.DocFileName</a>
                                }
                            }
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6"></section>
                        <section class="col col-4">
                            <label>Lampiran 2</label>
                            <div class="input input-file">
                                <span class="button"><input id="file2" class="input-lg" type="file" name="file2" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="filename2" name="filename2" value="@Model.DocFileName2" placeholder="Pilih Dokumen.." readonly="" tabindex="27">
                                *File dalam format Word / Excel / PDF
                            </div>
                        </section>
                        <br />
                        <section class="col col-2">
                            @{
                                if (Model.DocFileName2 != null && Model.DocFileName2.ToUpper().Contains("PDF"))
                                {
                                    @Html.ActionLink(Model.DocFileName2, "Preview", new { docfile = Model.DocFileName2 })
                                }
                                else
                                {
                                    <a href="~/content/document/attb/@Model.DocFileName2" download>@Model.DocFileName2</a>
                                }
                            }
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6"></section>
                        <section class="col col-4">
                            <label>Lampiran 3</label>
                            <div class="input input-file">
                                <span class="button"><input id="file3" class="input-lg" type="file" name="file3" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="filename3" name="filename3" value="@Model.DocFileName2" placeholder="Pilih Dokumen.." readonly="" tabindex="28">
                                *File dalam format Word / Excel / PDF
                            </div>
                        </section>
                        <br />
                        <section class="col col-2">
                            @{
                                if (Model.DocFileName3 != null && Model.DocFileName3.ToUpper().Contains("PDF"))
                                {
                                    @Html.ActionLink(Model.DocFileName3, "Preview", new { docfile = Model.DocFileName3 })
                                }
                                else
                                {
                                    <a href="~/content/document/attb/@Model.DocFileName3" download>@Model.DocFileName3</a>
                                }
                            }
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6"></section>
                        <section class="col col-4">
                            <label>Lampiran 4</label>
                            <div class="input input-file">
                                <span class="button"><input id="file4" class="input-lg" type="file" name="file4" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="filename4" name="filename4" value="@Model.DocFileName2" placeholder="Pilih Dokumen.." readonly="" tabindex="29">
                                *File dalam format Word / Excel / PDF
                            </div>
                        </section>
                        <br />
                        <section class="col col-2">
                            @{
                                if (Model.DocFileName4 != null && Model.DocFileName4.ToUpper().Contains("PDF"))
                                {
                                    @Html.ActionLink(Model.DocFileName4, "Preview", new { docfile = Model.DocFileName4 })
                                }
                                else
                                {
                                    <a href="~/content/document/attb/@Model.DocFileName4" download>@Model.DocFileName4</a>
                                }
                            }
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6"></section>
                        <section class="col col-4">
                            <label>Lampiran 5</label>
                            <div class="input input-file">
                                <span class="button"><input id="file5" class="input-lg" type="file" name="file5" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="filename5" name="filename5" value="@Model.DocFileName5" placeholder="Pilih Dokumen.." readonly="" tabindex="30">
                                *File dalam format Word / Excel / PDF
                            </div>
                        </section>
                        <br />
                        <section class="col col-2">
                            @{
                                if (Model.DocFileName5 != null && Model.DocFileName5.ToUpper().Contains("PDF"))
                                {
                                    @Html.ActionLink(Model.DocFileName5, "Preview", new { docfile = Model.DocFileName5 })
                                }
                                else
                                {
                                    <a href="~/content/document/attb/@Model.DocFileName5" download>@Model.DocFileName5</a>
                                }
                            }
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6"></section>
                        <section class="col col-4">
                            <label>Lampiran 6</label>
                            <div class="input input-file">
                                <span class="button"><input id="file6" class="input-lg" type="file" name="file6" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="filename6" name="filename6" value="@Model.DocFileName6" placeholder="Pilih Dokumen.." readonly="" tabindex="31">
                                *File dalam format Word / Excel / PDF
                            </div>
                        </section>
                        <br />
                        <section class="col col-2">
                            @{
                                if (Model.DocFileName6 != null && Model.DocFileName6.ToUpper().Contains("PDF"))
                                {
                                    @Html.ActionLink(Model.DocFileName6, "Preview", new { docfile = Model.DocFileName6 })
                                }
                                else
                                {
                                    <a href="~/content/document/attb/@Model.DocFileName6" download>@Model.DocFileName6</a>
                                }
                            }
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6"></section>
                        <section class="col col-4">
                            <label>Lampiran 7</label>
                            <div class="input input-file">
                                <span class="button"><input id="file7" class="input-lg" type="file" name="file7" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="filename7" name="filename7" value="@Model.DocFileName7" placeholder="Pilih Dokumen.." readonly="" tabindex="32">
                                *File dalam format Word / Excel / PDF
                            </div>
                        </section>
                        <br />
                        <section class="col col-2">
                            @{
                                if (Model.DocFileName7 != null && Model.DocFileName7.ToUpper().Contains("PDF"))
                                {
                                    @Html.ActionLink(Model.DocFileName7, "Preview", new { docfile = Model.DocFileName7 })
                                }
                                else
                                {
                                    <a href="~/content/document/attb/@Model.DocFileName7" download>@Model.DocFileName7</a>
                                }
                            }
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6"></section>
                        <section class="col col-4">
                            <label>Lampiran 8</label>
                            <div class="input input-file">
                                <span class="button"><input id="file8" class="input-lg" type="file" name="file8" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="filename8" name="filename8" value="@Model.DocFileName8" placeholder="Pilih Dokumen.." readonly="" tabindex="33">
                                *File dalam format Word / Excel / PDF
                            </div>
                        </section>
                        <br />
                        <section class="col col-2">
                            @{
                                if (Model.DocFileName8 != null && Model.DocFileName8.ToUpper().Contains("PDF"))
                                {
                                    @Html.ActionLink(Model.DocFileName8, "Preview", new { docfile = Model.DocFileName8 })
                                }
                                else
                                {
                                    <a href="~/content/document/attb/@Model.DocFileName8" download>@Model.DocFileName8</a>
                                }
                            }
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6"></section>
                        <section class="col col-4">
                            <label>Lampiran 9</label>
                            <div class="input input-file">
                                <span class="button"><input id="file9" class="input-lg" type="file" name="file9" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="filename9" name="filename9" value="@Model.DocFileName9" placeholder="Pilih Dokumen.." readonly="" tabindex="34">
                                *File dalam format Word / Excel / PDF
                            </div>
                        </section>
                        <br />
                        <section class="col col-2">
                            @{
                                if (Model.DocFileName9 != null && Model.DocFileName9.ToUpper().Contains("PDF"))
                                {
                                    @Html.ActionLink(Model.DocFileName9, "Preview", new { docfile = Model.DocFileName9 })
                                }
                                else
                                {
                                    <a href="~/content/document/attb/@Model.DocFileName9" download>@Model.DocFileName9</a>
                                }
                            }
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6"></section>
                        <section class="col col-4">
                            <label>Lampiran 10</label>
                            <div class="input input-file">
                                <span class="button"><input id="file10" class="input-lg" type="file" name="file10" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="filename10" name="filename10" value="@Model.DocFileName10" placeholder="Pilih Dokumen.." readonly="" tabindex="35">
                                *File dalam format Word / Excel / PDF
                            </div>
                        </section>
                        <br />
                        <section class="col col-2">
                            @{
                                if (Model.DocFileName10 != null && Model.DocFileName10.ToUpper().Contains("PDF"))
                                {
                                    @Html.ActionLink(Model.DocFileName10, "Preview", new { docfile = Model.DocFileName10 })
                                }
                                else
                                {
                                    <a href="~/content/document/attb/@Model.DocFileName10" download>@Model.DocFileName10</a>
                                }
                            }
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6"></section>
                        <section class="col col-4">
                            <label>Lampiran 11</label>
                            <div class="input input-file">
                                <span class="button"><input id="file11" class="input-lg" type="file" name="file11" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="filename11" name="filename11" value="@Model.DocFileName11" placeholder="Pilih Dokumen.." readonly="" tabindex="36">
                                *File dalam format Word / Excel / PDF
                            </div>
                        </section>
                        <br />
                        <section class="col col-2">
                            @{
                                if (Model.DocFileName11 != null && Model.DocFileName11.ToUpper().Contains("PDF"))
                                {
                                    @Html.ActionLink(Model.DocFileName11, "Preview", new { docfile = Model.DocFileName11 })
                                }
                                else
                                {
                                    <a href="~/content/document/attb/@Model.DocFileName11" download>@Model.DocFileName11</a>
                                }
                            }
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6"></section>
                        <section class="col col-4">
                            <label>Lampiran 12</label>
                            <div class="input input-file">
                                <span class="button"><input id="file12" class="input-lg" type="file" name="file12" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="filename12" name="filename12" value="@Model.DocFileName12" placeholder="Pilih Dokumen.." readonly="" tabindex="37">
                                *File dalam format Word / Excel / PDF
                            </div>
                        </section>
                        <br />
                        <section class="col col-2">
                            @{
                                if (Model.DocFileName12 != null && Model.DocFileName12.ToUpper().Contains("PDF"))
                                {
                                    @Html.ActionLink(Model.DocFileName12, "Preview", new { docfile = Model.DocFileName12 })
                                }
                                else
                                {
                                    <a href="~/content/document/attb/@Model.DocFileName12" download>@Model.DocFileName12</a>
                                }
                            }
                        </section>
                    </div>
                </fieldset>
                <footer></footer>

                                }
        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
