﻿@model MandiriCRE.Models.Template

@{
    ViewBag.Title = "Create";
}

<h2></h2>
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2></h2>

    </header>
   
    
    <!-- widget div-->
    <div>
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                @Html.Raw(ViewBag.ErrorMessage)
            </div>
        }
        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("Create", "MasterTemplate",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { enctype = "multipart/form-data", @class = "smart-form", @id = "template-form" }))
            {
                

                <header>
                    Tambah Template
                </header>

                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label>
                                Nama Template*
                            </label>
                            <label class="input">
                                <input type="text" name="documentName" value="@Model.TemplateName"  maxlength="50" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>
                                File*
                            </label>
                            <div class="input input-file">
                                <span class="button"><input id="file" class="input-lg" type="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="filename" name="filename" placeholder="Pilih template.." readonly="">
                            </div>
                            <label>
                               <b>File Maksimal 2MB</b> 
                            </label>
                        </section>
                    </div>
                </fieldset>
                <footer>

                    <input type="submit" value="Upload" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" onclick="window.history.back();">Batal</button>
                </footer>
            }

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->



@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {




            var $numberingForm = $("#template-form").validate({
                // Rules for form validation
                rules: {
                    documentName: {
                        required: true
                    },
                    filename: {
                        required: true
                    }
                },

                // Messages for form validation
                messages: {
                    documentName: {
                        required: 'Silahkan isi Nama Dokumen'
                    },
                    filename: {
                        required: 'Silahkan pilih file'
                    },
                },
                // Ajax form submition
                //submitHandler: function (form) {
                //    $(form).ajaxSubmit({
                //        success: function () {
                //            $("#order-form").addClass('submited');
                //        }
                //    });
                //},
                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        })
    </script>
}





