﻿@model MandiriCRE.Models.Template

@{
    ViewBag.Title = "Delete";
}


<h2></h2>
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("Delete", "MasterTemplate",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "smart-form", @id = "template-form" }))
            {

                <header>
                    <b> Apakah Anda yakin akan menghapus data ini ?</b>
                </header>

                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label>
                                Nama Template
                            </label>
                            <label class="input">
                                <input type="text" class="input-lg" disabled="disabled" name="documentName" value="@Model.TemplateName">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>
                                File
                            </label>
                            <label class="input">
                                <input type="text" class="input-lg" disabled="disabled" name="documentName" value="@Model.DocumentName">
                            </label>
                        </section>
                    </div>
                </fieldset>
                <footer>

                    <input type="submit" value="Hapus" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" onclick="window.history.back();">Kembali</button>
                </footer>
            }

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
