﻿@model MandiriCRE.Models.UserRole

@{
    ViewBag.Title = "Create";
}
<h2></h2>
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2></h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("Create", "ManageRoleMember",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "smart-form", @id = "user-form" }))
            {

                <header>
                    Tambah Member
                </header>

                <fieldset>
                    <div class="row">
                        @{

                            List<SelectListItem> listUser = new List<SelectListItem>();
                            List<MandiriCRE.Models.User> userList = ViewBag.ListUsers;
                            foreach (var item in userList)
                            {
                                listUser.Add(new SelectListItem
                                {
                                    Text = item.Email + " | " + item.UserName + " | " + item.DepartmentName + " | " + item.TeamName,
                                    Value = item.Id
                                });
                            }
                        }
                        <section class="col col-10">
                            <label>Daftar User</label>
                            <label class="select">
                                @Html.DropDownListFor(model => model.UserId, listUser, "-- Pilih User --", new { @class = "select", @id = "users" })
                            </label>
                        </section>
                    </div>
                   
                    <input type="text" id="roleId" name="roleId" value="@ViewBag.roleId" hidden="hidden" />
                </fieldset>
                <footer>

                    <input type="submit" value="Simpan" class="btn btn-primary btn-lg" />
                    <button type="button" class="btn btn-default btn-lg" onclick="window.history.back();">Batal</button>
                </footer>
            }

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->



@section pagespecific {
    <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {




        var $vendorForm = $("#user-form").validate({
            // Rules for form validation
            rules: {
                UserId: {
                    required: true
                }
            },

            // Messages for form validation
            messages: {
                UserId: {
                    required: 'Please select User!'
                }
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    })
    </script>
}


