﻿@model MandiriCRE.Models.User

@{
    ViewBag.Title = "Delete";
}


<h2></h2>
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2></h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("Delete", "ManageRoleMember",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "smart-form", @id = "user-form" }))
            {
                <header>
                    Hapus User
                </header>
                <fieldset>
                    <section>
                        <label>Emai</label>
                        <label class="input">
                            <input type="text" class="input-lg" name="numberingtype" value="@Model.Email" disabled="disabled">
                        </label>
                    </section>
                    <section>
                        <label>User Name</label>
                        <label class="input">
                            <input type="text" class="input-lg" name="numberingtype" value="@Model.UserName" disabled="disabled">
                        </label>
                    </section>
                    <section>
                        <label class="input" style="display:none">
                            <input type="text" class="input-lg" name="teamname" value="@Model.TeamName" disabled="disabled">
                        </label>
                    </section>
                    <section>
                        <label class="input" style="display:none">
                            <input type="text" class="input-lg" name="teamname" value="@Model.DepartmentName" disabled="disabled">
                        </label>
                    </section>
                    <input type="text" id="userId" name="UserId" value="@Model.Id" hidden="hidden" />
                    <input type="text" id="roleId" name="roleId" value="@ViewBag.roleId" hidden="hidden" />
                </fieldset>
                <footer>

                    <input type="submit" value="Hapus" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" onclick="window.history.back();">Batal</button>
                </footer>
                            }


        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->



@section pagespecific {
    <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {

      var $orderForm = $("#user-form").validate({
            // Rules for form validation
            rules: {
                team: {
                    required: true
                },
                status: {
                    required: true
                }
            },

            // Messages for form validation
            messages: {
                team: {
                    required: 'Please select Team'
                },
                status: {
                    required: 'Please select Status'
                }
            },
            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });

    })
    </script>
}