﻿@model MandiriCRE.Models.Addendum
@{
    ViewBag.Title = "Create";
}

<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2></h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                @Html.Raw(ViewBag.ErrorMessage)
            </div>
        }
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("Create", "Addendum",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { enctype = "multipart/form-data", @class = "smart-form", @id = "template-form" }))
            {

                <header>
                    <div class="text-right">
                        <button class="btn btn-primary" name="Review" type="submit" style="padding: 8px 25px;">Save As Review</button>
                        <button class="btn btn-primary" name="Done" type="submit" style="padding: 8px 25px;">Save As Done</button>
                        <button class="btn btn-primary" type="button" style="padding: 8px 25px;" onclick="location.href='@Url.Action("Index", "Addendum")'">Kembali</button>
                    </div>
                </header>

                <fieldset>
                    <div class="row">
                        @{

                            List<SelectListItem> listAgreement = new List<SelectListItem>();
                            List<MandiriCRE.Models.Agreement> agreementList = ViewBag.ListAgreement;
                            foreach (var item in agreementList)
                            {
                                listAgreement.Add(new SelectListItem
                                {
                                    Text = item.DocumentNo,
                                    Value = item.AgreementID.ToString()
                                });
                            }
                        }
                        
                        <section class="col col-6">
                            <label>Doc. Perjanjian*</label>
                            <label class="select">
                                @Html.DropDownListFor(model => model.AgreementID, listAgreement, "-- Pilih Perjanjian --", new { @class = "select", @id = "agreement" })
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Nomor Addendum*</label>
                            <label class="input">
                                <input type="text" name="AddendumNo" id="AddendumNo" maxlength="25" value="@Model.AddendumNo" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Info Addendum*</label>
                            <label class="input">
                                <input type="text" name="AddendumInfo" id="AddendumInfo" maxlength="50" value="@Model.AddendumInfo" placeholder="">
                            </label>
                        </section>
                    </div>
                </fieldset>
                <footer>

                    @*<input type="submit"  name="Review" value="Save As Review" class="btn btn-primary" />
                    <input type="submit" name="Done" value="Save As Done" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" onclick="window.history.back();">Back</button>*@
                </footer>
            }

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->



@section pagespecific {
    <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {




        var $numberingForm = $("#template-form").validate({
            // Rules for form validation
            rules: {
                AgreementID: {
                    required: true
                },
                AddendumNo: {
                    required: true
                },
                AddendumInfo: {
                    required: true
                }
            },

            // Messages for form validation
            messages: {
                AgreementID: {
                    required: 'Silahkan pilih Nomor Perjanjian'
                },
                AddendumNo: {
                    required: 'Silahkan isi Nomor Addendum'
                },
                AddendumInfo: {
                    required: 'Silahkan isi Info Addendum'
                }
            },
            // Ajax form submition
            //submitHandler: function (form) {
            //    $(form).ajaxSubmit({
            //        success: function () {
            //            $("#order-form").addClass('submited');
            //        }
            //    });
            //},
            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    })
    </script>
}




