﻿@model MandiriCRE.Models.Addendum
@{
    ViewBag.Title = "View";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit"></i>
                Data
                <span>
                    >
                    Addendum
                </span>
            </h1>
        </div>

    </div>
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

        <header>
            <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
            <h2> </h2>

        </header>

        <!-- widget div-->
        <div>

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->

            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body">
                @using (Html.BeginForm("PartialAddendum", "Addendum", new { ReturnUrl = ViewBag.ReturnUrl },
                                        FormMethod.Post, new { @class = "smart-form", @id = "perjanjian-form" }))
                {
                    <div class="text-right">
                        <button class="btn btn-primary" type="button" style="padding: 8px 25px;" onclick="location.href='@Url.Action("Index", "Addendum")'">Kembali</button>
                    </div>


                    <hr class="simple">
                    <ul id="myTab1" class="nav nav-tabs bordered">
                        <li class="active">
                            <a href="#s1" data-toggle="tab">Addendum</a>
                        </li>
                        <li>
                            <a href="#s2" data-toggle="tab">Attachment</a>
                        </li>
                        <li>
                            <a href="#s3" data-toggle="tab">Riwayat</a>
                        </li>

                    </ul>

                    <div id="myTabContent1" class="tab-content padding-10">
                        <div class="tab-pane fade in active" id="s1">
                            @{

                                List<SelectListItem> listAgreement = new List<SelectListItem>();
                                List<MandiriCRE.Models.Agreement> templateList = ViewBag.ListAgreement;



                            }
                            @{Html.RenderAction("PartialAddendumView", new { id = Model.AddendumID, listAgreement = templateList });}

                        </div>
                        <div class="tab-pane fade" id="s2">
                            @{Html.RenderAction("PartialAttachmentView");}
                        </div>
                        <div class="tab-pane fade" id="s3">
                            @{Html.RenderAction("PartialHistory");}
                        </div>
                        <div class="tab-pane fade" id="s4">
                            <p>
                                Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table.
                            </p>
                        </div>
                    </div>
                                }
            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>
    <!-- end widget -->
</div>

@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {




            var $numberingForm = $("#procurement-form").validate({
                // Rules for form validation
                rules: {
                    numberingtype: {
                        required: true
                    },
                    numberingcontent: {
                        required: true
                    },
                    numberingcontent: {
                        required: true
                    },
                    numberingcontent: {
                        required: true
                    },
                    numberingcontent: {
                        required: true
                    },
                    numberingcontent: {
                        required: true
                    },
                    numberingcontent: {
                        required: true
                    },
                    numberingcontent: {
                        required: true
                    }
                },

                // Messages for form validation
                messages: {
                    numberingtype: {
                        required: 'Please enter Numbering Type!'
                    },
                    numberingcontent: {
                        required: 'Please enter Nubmering Content!'
                    },
                    numberingcontent: {
                        required: 'Please enter Nubmering Content!'
                    },
                    numberingcontent: {
                        required: 'Please enter Nubmering Content!'
                    },
                    numberingcontent: {
                        required: 'Please enter Nubmering Content!'
                    },
                    numberingcontent: {
                        required: 'Please enter Nubmering Content!'
                    },
                    startdate: {
                        required: 'Please enter Start Date!'
                    },
                    finishdate: {
                        required: 'Please enter End Date!'
                    }
                },
                // Ajax form submition
                //submitHandler: function (form) {
                //    $(form).ajaxSubmit({
                //        success: function () {
                //            $("#order-form").addClass('submited');
                //        }
                //    });
                //},
                // Do not change code below
                //errorPlacement: function (error, element) {
                //    error.insertAfter(element.parent());
                //}
            });
            // START AND FINISH DATE
            $('#startdate').datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    $('#finishdate').datepicker('option', 'minDate', selectedDate);
                }
            });

            $('#finishdate').datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    $('#startdate').datepicker('option', 'maxDate', selectedDate);
                }
            });

        })
    </script>
}




