﻿@model MandiriCRE.Models.TimelineDetail
@{
    ViewBag.Title = "CreateTimeline";
}


<h2></h2>
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2></h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("CreateTimeline", "Timeline",
            new { ReturnUrl = ViewBag.ReturnUrl, vendordetailid = ViewBag.VendorDetailID, prcid = ViewBag.prcid, id = ViewBag.id, No = ViewBag.No, Judul = ViewBag.judul, Aset = ViewBag.Aset, Mulai = ViewBag.Mulai, Akhir = ViewBag.Akhir },
            FormMethod.Post, new { @class = "smart-form", @id = "CreateTimeline-form" }))
            {

                <header>
                   Tambah Timeline
                </header>

                <fieldset>
                    <div class="row">
                        <section class="col col-10">
                            <label>Task/Phase</label>
                            <label class="input">
                                <input type="text" name="taskNameDetail" id="taskNameDetail" maxlength="25"  value="@Model.Taskname" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-1">
                            <label>Plan</label>
                        </section>
                        <section class="col col-3">
                            <label>Start Date</label>
                            <label class="input">
                                <input type="text" name="planstart" id="planstart" value="@Model.PlanStartDate" placeholder="">
                            </label>
                        </section>
                        <section class="col col-3">
                            <label>End Date</label>
                            <label class="input">
                                <input type="text" name="planend" id="planend" value="@Model.PlanEndDate" placeholder="">
                            </label>
                        </section>
                        <section class="col col-3">
                            <label>Duration</label>
                            <label class="input">
                                <input type="text" name="durationplan" id="durationplan" readonly="readonly" value="@Model.DurationPlan" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-1">
                            <label>Actual</label>
                        </section>
                        <section class="col col-3">
                            <label>Start Date</label>
                            <label class="input">
                                <input type="text" name="Actualstart" id="Actualstart" value="@Model.ActualStartDate" placeholder="">
                            </label>
                        </section>
                        <section class="col col-3">
                            <label>End Date</label>
                            <label class="input">
                                <input type="text" name="Actualend" id="Actualend" value="@Model.ActualEndDate" placeholder="">
                            </label>
                        </section>
                        <section class="col col-3">
                            <label>Duration</label>
                            <label class="input">
                                <input type="text" name="durationActual" id="durationActual" readonly="readonly"  value="@Model.DurationActual" placeholder="">
                            </label>
                        </section>
                    </div>
                </fieldset>
                <footer>

                    <input type="submit" value="Simpan" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" onclick="window.history.back();">Batal</button>
                </footer>
            }

        </div>

        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->



@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

          

            var $numberingForm = $("#CreateTimeline-form").validate({
                // Rules for form validation
                rules: {
                    taskNameDetail: {
                        required: true
                    },
                    planstart: {
                        required: true
                    },
                    planend: {
                        required: true
                    },
                    durationplan: {
                        required: true
                    },
                    Actualstart: {
                        required: true
                    },
                    Actualend: {
                        required: true
                    },
                    durationActual: {
                        required: true
                    }
                },

                // Messages for form validation
                messages: {
                    taskNameDetail: {
                        required: 'Please enter Task!'
                    },
                    planstart: {
                        required: 'Please enter Date!'
                    },
                    planend: {
                        required: 'Please enter Date!'
                    },
                    durationplan: {
                        required: 'Please enter Duration!'
                    },
                    Actualstart: {
                        required: 'Please enter Start!'
                    },
                    Actualend: {
                        required: 'Please enter End!'
                    },
                    durationActual: {
                        required: 'Please enter Duration!'
                    }
                },
            });
            // START AND FINISH DATE
            $('#planstart').datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>'
            });

            $('#planend').datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>'
            });

            $('#Actualstart').datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>'
            });

            $('#Actualend').datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>'
            });

            //$('input').keyup(function () { // run anytime the value changes
            //    var thirdValue = Number($('#Actualstart').val());
            //    var fourthValue = Number($('#Actualend').val());
            //    alert(fourthValue);
            //    document.getElementById('durationActual').value = fourthValue - thirdValue;
            //    // add them and output it
            //});
            document.getElementById('durationActual').defaultValue = 0;
            document.getElementById('durationplan').defaultValue = 0;

            $('#Actualstart').change(function () {
                var actuale = $('#Actualend').val().split("/");
                var actuals = $(this).val().split("/");
                var actualsd = new Date(actuals[2], actuals[1] - 1, actuals[0]);
                var actualed = new Date(actuale[2], actuale[1] - 1, actuale[0]);
                var timeDiff = Math.abs(actualed - actualsd);
                var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
                document.getElementById('durationActual').value = diffDays;
                //alert(diffDays);
            });

            $('#Actualend').change(function () {
                var actuals = $('#Actualstart').val().split("/");
                var actuale = $(this).val().split("/");
                var actualsd = new Date(actuals[2], actuals[1] - 1, actuals[0]);
                var actualed = new Date(actuale[2], actuale[1] - 1, actuale[0]);
                var timeDiff = Math.abs(actualed - actualsd);
                var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
                document.getElementById('durationActual').value = diffDays;
                //alert(diffDays);
            });
            $('#planstart').change(function () {
                var actuale = $('#planend').val().split("/");
                var actuals = $(this).val().split("/");
                var actualsd = new Date(actuals[2], actuals[1] - 1, actuals[0]);
                var actualed = new Date(actuale[2], actuale[1] - 1, actuale[0]);
                var timeDiff = Math.abs(actualed - actualsd);
                var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
                document.getElementById('durationplan').value = diffDays;
                //alert(diffDays);
            });

            $('#planend').change(function () {
                var actuals = $('#planstart').val().split("/");
                var actuale = $(this).val().split("/");
                var actualsd = new Date(actuals[2], actuals[1] - 1, actuals[0]);
                var actualed = new Date(actuale[2], actuale[1] - 1, actuale[0]);
                var timeDiff = Math.abs(actualed - actualsd);
                var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
                document.getElementById('durationplan').value = diffDays;
                //alert(diffDays);
            });
        })
    </script>
}

