﻿@model MandiriCRE.Models.TimelineList
@{
    ViewBag.Title = "DetailView";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit"></i>
                Timeline
            </h1>
        </div>

    </div>
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

        <header>
            <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
            <h2> </h2>

        </header>

        <!-- widget div-->
        <div>

            <!-- widget edit box -->
            <!-- end widget edit box -->
            <!-- widget content -->
            @using (Html.BeginForm("DetailAset", "Timeline",
                                    new { ReturnUrl = ViewBag.ReturnUrl, vendordetailid = @Model.VendorDetailID },
                                    FormMethod.Post, new { @class = "smart-form", @id = "Detail-form" }))
            {
                <div class="widget-body">


                    <div class="text-right">
                        
                        <button class="btn btn-primary" type="button" style="padding: 8px 25px;" onclick="location.href='@Url.Action("Index", "Timeline")'">Kembali</button>
                    </div>


                    <hr class="simple">
                    <ul id="myTab1" class="nav nav-tabs bordered">
                        <li class="active">
                            <a href="#s1" data-toggle="tab">Task Detail</a>
                        </li>
                        <li>
                            <a href="#s2" data-toggle="tab">Timeline</a>
                        </li>

                    </ul>

                    <div id="myTabContent1" class="tab-content padding-12">
                        <div class="tab-pane fade in active" id="s1">
                            <div class="jarviswidget well" id="wid-id-3" style="border:hidden" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                                <div>
                                    <br />
                                    <div class="row">
                                        <label class="col-md-1"> </label>
                                        <label class="col-md-2">   Nomor Perjanjian</label>

                                        <label class="input col-md-2">
                                            <input type="text" name="documentNumber" value="@Model.AgreementNo" disabled="disabled" placeholder="No. Pengadaan">
                                        </label>
                                        <span class="col-md-1"></span>
                                        <label class="col-md-2">Tanggal Mulai</label>
                                        <label class="input col-md-2">
                                            <input type="text" name="datestart" value="@Model.AgreementDateStart" disabled="disabled" placeholder="Tanggal Mulai">
                                        </label>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <label class="col-md-1"> </label>
                                        <label class="col-md-2">   Judul Perjanjian</label>

                                        <label class="input col-md-2">
                                            <input type="text" name="procurementname" value="@Model.ProcurementName" disabled="disabled" placeholder="Judul Pengadaan">
                                        </label>
                                        <span class="col-md-1"></span>
                                        <label class="col-md-2">Tanggal Akhir</label>

                                        <label class="input col-md-2">
                                            <input type="text" name="dateend" value="@Model.AgreementDateEnd" disabled="disabled" placeholder="Tanggal Akhir">
                                        </label>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <label class="col-md-1"> </label>
                                        <label class="col-md-2">   ID Aset</label>

                                        <label class="input col-md-2">
                                            <input type="text" name="idasset" id="idasset" value="@Model.AssetID" disabled="disabled" placeholder="ID Aset">
                                        </label>
                                    </div>
                                    <br /><br />


                                </div>
                            </div>
                            @{Html.RenderAction("PartialTaskDetail", new { prcid = @Model.ProcurementID });}
                        </div>
                        <div class="tab-pane fade" id="s2">
                            @{Html.RenderAction("PartialTimelineListView", new { id = Model.AgreementID, prcid = @Model.ProcurementID, No = @Model.AgreementNo, Judul = @Model.ProcurementName, Aset = @Model.AssetID, Mulai = @Model.AgreementDateStart, Akhir = @Model.AgreementDateEnd, vendordetailid = @Model.VendorDetailID });}
                        </div>
                    </div>

                </div>
                                }
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>
    <!-- end widget -->
</div>

@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {




            var $numberingForm = $("#procurement-form").validate({
                // Rules for form validation
                rules: {
                    numberingtype: {
                        required: true
                    },
                    numberingcontent: {
                        required: true
                    },
                    numberingcontent: {
                        required: true
                    },
                    numberingcontent: {
                        required: true
                    },
                    numberingcontent: {
                        required: true
                    },
                    numberingcontent: {
                        required: true
                    },
                    numberingcontent: {
                        required: true
                    },
                    numberingcontent: {
                        required: true
                    }
                },

                // Messages for form validation
                messages: {
                    numberingtype: {
                        required: 'Please enter Numbering Type!'
                    },
                    numberingcontent: {
                        required: 'Please enter Nubmering Content!'
                    },
                    numberingcontent: {
                        required: 'Please enter Nubmering Content!'
                    },
                    numberingcontent: {
                        required: 'Please enter Nubmering Content!'
                    },
                    numberingcontent: {
                        required: 'Please enter Nubmering Content!'
                    },
                    numberingcontent: {
                        required: 'Please enter Nubmering Content!'
                    },
                    startdate: {
                        required: 'Please enter Start Date!'
                    },
                    finishdate: {
                        required: 'Please enter End Date!'
                    }
                },
            });
            // START AND FINISH DATE
            $('#startdate').datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    $('#finishdate').datepicker('option', 'minDate', selectedDate);
                }
            });

            $('#finishdate').datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    $('#startdate').datepicker('option', 'maxDate', selectedDate);
                }
            });

        })
    </script>
}

