﻿@model MandiriCRE.Models.Articles

@{
    ViewBag.Title = "Create";
}

<h2></h2>
 <!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
    <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

    -->
    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2> </h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("Create", "MasterArtikel",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "smart-form", @id = "News-form" }))
            {
                @*etc.
}
            <form id="order-form" class="smart-form" novalidate="novalidate">*@

                <header>
                    Tambah Artikel
                </header>

                <fieldset>           
                    <section>
                        <label>Judul Berita*</label>
                        <label class="textarea">
                            <i class="icon-append fa fa-comment"></i>
                            <textarea rows="2" name="headline" id="headline" maxlength="50" placeholder="">@Model.Headline</textarea>
                        </label>
                    </section>
                    <section>
                        <label>Isi Berita*</label>
                        <label class="textarea">
                            <i class="icon-append fa fa-comment"></i>
                            <textarea rows="5" name="content" id="content" maxlength="250" placeholder="">@Model.Content</textarea>
                        </label>
                    </section>
                    <div class="row">
                        <section class="col col-6">
                            <label>Status*</label>
                            <label class="select">
                                <select name="position" id="position">
                                    <option value="0" selected="" disabled="">(Active/Inactive)</option>
                                    <option value="Y">Active</option>
                                    <option value="T">Inactive</option>
                                </select> <i></i>
                            </label>
                        </section>
                        </div>
                    <div class="row" style="display:none;">
                        <section class="col col-6">
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" name="startdate" id="startdate" value="@Model.ValidFrom" placeholder="Expected Valid From date">
                            </label>
                        </section>
                        <section class="col col-6" style="display:none;">
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" name="finishdate" id="finishdate" value="@Model.ValidTo" placeholder="Expected Valid To date">
                            </label>
                        </section>
                    </div>
                </fieldset>
                <footer>
    
                    <input type="submit" value="Simpan" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" onclick="window.history.back();">Batal</button>
                </footer>
            }
            @*</form>*@

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->



@section pagespecific {
    <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {

        // PAGE RELATED SCRIPTS

        // class switcher for radio and checkbox
        $('input[name="demo-switcher-1"]').change(function () {
            //alert($(this).val())
            $this = $(this);

            myNewClass = $this.attr('id');

            $('.demo-switcher-1 input[type="checkbox"]').removeClass();
            $('.demo-switcher-1 input[type="checkbox"]').addClass("checkbox " + myNewClass);

            $('.demo-switcher-1 input[type="radio"]').removeClass();
            $('.demo-switcher-1 input[type="radio"]').addClass("radiobox " + myNewClass);

        })

    })
    $(document).ready(function () {

        var $checkoutForm = $('#News-form').validate({
            // Rules for form validation
            rules: {
                headline: {
                    required: true,
                    maxlength: 50
                },
                content: {
                    required: true,
                    maxlength: 250
                },
                position: {
                    required: true
                }
            },

            // Messages for form validation
            messages: {
                headline: {
                    required: 'Silahkan isi Judul Berita'
                },
                content: {
                    required: 'Silahkan isi Berita'
                },
                position: {
                    required: 'Silahkan pilih Status'
                    
                }
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });

        // START AND FINISH DATE
        $('#startdate').datepicker({
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#finishdate').datepicker('option', 'minDate', selectedDate);
            }
        });

        $('#finishdate').datepicker({
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#startdate').datepicker('option', 'maxDate', selectedDate);
            }
        });

        var $orderForm = $("#order-form").validate({
            // Rules for form validation
            rules: {
                name: {
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                phone: {
                    required: true
                },
                interested: {
                    required: true
                },
                budget: {
                    required: true
                },
                startdate: {
                    required: true
                },
                finishdate: {
                    required: true
                },
                headline: {
                    required: true
                },
                content: {
                    required: true
                },
            },

            // Messages for form validation
            messages: {
                name: {
                    required: 'Please enter your name'
                },
                email: {
                    required: 'Please enter your email address',
                    email: 'Please enter a VALID email address'
                },
                phone: {
                    required: 'Please enter your phone number'
                },
                interested: {
                    required: 'Please select interested service'
                },
                budget: {
                    required: 'Please select your budget'
                },
                startdate: {
                    required: 'Please select Valid From Date'
                },
                finishdate: {
                    required: 'Please select Valid From Date'
                },
                headline: {
                    required: 'Please enter your headline'
                },
                content: {
                    required: 'Please input your content'
                }
            },
            // Ajax form submition
            //submitHandler: function (form) {
            //    $(form).ajaxSubmit({
            //        success: function () {
            //            $("#order-form").addClass('submited');
            //        }
            //    });
            //},
            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });

        


    })
    </script>
}
