﻿@model IEnumerable<MandiriCRE.Models.LaporanPTO>
@{
    ViewBag.Title = "LaporanPTO";
}


<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-table fa-fw "></i>
                PTO
                @*<span>
                    >
                    PTO
                </span> CR 27-11-17*@
            </h1>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="text-right" style="height:50px">
                @*<button class="btn btn-primary" type="button" onclick=window.open('http://10.204.42.27')>Open SPC</button> CR 27-11-17*@
                @{if (Session["Access"].ToString() != "")
                    {
                        int index = Session["Access"].ToString().IndexOf("15");
                        string akses = Session["Access"].ToString().Substring(index + 8 + 1, 1);
                        if (akses == "Y" || Session["Access"].ToString() == "superadmin")
                        {
                            <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("UploadPTO", "Laporan")'">Upload Doc</button>
                        }
                    }
                }
                
            </div>

        </div>
    </div>
    <br />
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>PTO </h2>

                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">

                                <thead>
                                    <tr>
                                        <th data-hide="phone,tablet">No</th>
                                        <th data-hide="phone,tablet">Tanggal Upload</th>
                                        <th data-hide="phone,tablet">Tanggal Revisi</th>
                                        <th data-hide="phone,tablet">Upload Oleh</th>
                                        <th data-hide="phone,tablet">Nama File</th>
                                        <th data-hide="phone,tablet">Revisi ke</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr>
                                        <th class="hasinput" style="width:4%">
                                        </th>
                                        <th class="hasinput" style="width:17%">
                                        </th>
                                        <th class="hasinput" style="width:17%">
                                            
                                        </th>
                                        <th class="hasinput" style="width:16%">
                                            <input type="text" class="form-control" placeholder="Filter Upload Oleh" />
                                        </th>
                                        <th class="hasinput" style="width:17%">
                                            <input type="text" class="form-control" placeholder="Filter File" />
                                        </th>
                                        <th class="hasinput" style="width:17%">
                                            <input type="text" class="form-control" placeholder="Nomor Revisi" />
                                        </th>

                                        <th class="hasinput" style="width:17%">
                                        </th>
                                    </tr>

                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.No)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RevisionDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedBy)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DocumentName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td class="text-center">
                                                @{if (Session["Access"].ToString() != "")
                                                    {
                                                        int index = Session["Access"].ToString().IndexOf("15");
                                                        string akses = Session["Access"].ToString().Substring(index + 3 + 1, 1);
                                                        if (akses == "Y" || Session["Access"].ToString() == "superadmin")
                                                        {
                                                            <div class="col-xs-6 col-md-3 col-sm-4 demo-icon-font">
                                                                @Html.ActionLink(".", "EditPTO", new { id = item.PTODocID, doc = item.DocumentName, des = item.Description, revisiondate = item.RevisionDate }, new { @class = "fa fa-edit" })
                                                            </div>
                                                        }
                                                    }
                                                }
                                                @{if (Session["Access"].ToString() != "")
                                                    {
                                                        int index = Session["Access"].ToString().IndexOf("15");
                                                        string akses = Session["Access"].ToString().Substring(index + 7 + 1, 1);
                                                        if (akses == "Y" || Session["Access"].ToString() == "superadmin")
                                                        {
                                                            <div class="col-xs-6 col-md-3 col-sm-4 demo-icon-font">
                                                                <a href="~/content/document/pto/@item.DocumentName" download><i class="fa fa-download"></i></a>
                                                            </div>
                                                        }
                                                    }
                                                }
                                                
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>


@section pagespecific {
    <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {

        /* // DOM Position key index //

        l - Length changing (dropdown)
        f - Filtering input (search)
        t - The Table! (datatable)
        i - Information (records)
        p - Pagination (paging)
        r - pRocessing
        < and > - div elements
        <"#id" and > - div with an id
        <"class" and > - div with a class
        <"#id.class" and > - div with an id and class

        Also see: http://legacy.datatables.net/usage/features
        */

        /* BASIC ;*/
        var responsiveHelper_dt_basic = undefined;
        var responsiveHelper_datatable_fixed_column = undefined;
        var responsiveHelper_datatable_col_reorder = undefined;
        var responsiveHelper_datatable_tabletools = undefined;

        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };

        $('#dt_basic').dataTable({
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                "t" +
                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth": true,
            "preDrawCallback": function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_dt_basic) {
                    responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_dt_basic.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_dt_basic.respond();
            }
        });

        //$('#datatable_fixed_column').dataTable({
        //    //"data": dtSourceFinal,
        //    //"columns": [
        //    //        { "data": 'colonyName' },
        //    //        { "data": 'campaignTitle'}
        //    //    ],
        //    //Tabletools options:
        //    //   https://datatables.net/extensions/tabletools/button_options
        //    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
        //            "t" +
        //            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
        //    "oTableTools": {
        //        "aButtons": [
        //        "copy",
        //        "csv",
        //        "xls",
        //           {
        //               "sExtends": "pdf",
        //               "sTitle": "WifiColony_PDF",
        //               "sPdfMessage": "WifiColony PDF Export",
        //               "sPdfSize": "letter"
        //           },
        //           {
        //               "sExtends": "print",
        //               "sMessage": "Generated by WifiColony <i>(press Esc to close)</i>"
        //           }
        //        ],
        //        "sSwfPath": "/Scripts/plugin/datatables/swf/copy_csv_xls_pdf.swf"
        //    },
        //    "autoWidth": true,
        //    "preDrawCallback": function () {
        //        // Initialize the responsive datatables helper once.
        //        if (!responsiveHelper_datatable_tabletools) {
        //            responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
        //        }
        //    },
        //    "rowCallback": function (nRow) {
        //        responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
        //    },
        //    "drawCallback": function (oSettings) {
        //        responsiveHelper_datatable_tabletools.respond();
        //    }
        //});

        /* END BASIC */

        /* COLUMN FILTER  */
        var otable = $('#datatable_fixed_column').DataTable({
            //"bFilter": false,
            //"bInfo": false,
            //"bLengthChange": false
            //"bAutoWidth": false,
            //"bPaginate": false,
            //"bStateSave": true // saves sort state using localStorage
            //"sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
            //        "t" +
            //        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth": true,
            "preDrawCallback": function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_datatable_fixed_column) {
                    responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_datatable_fixed_column.respond();
            },
            "order": [[ 0, "asc" ]]

        });

        // custom toolbar
        //$("div.toolbar").html('<div class="text-right"><img src="/Content/img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

        // Apply the filter
        $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

            otable
                .column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw();

        });
        /* END COLUMN FILTER */

        /* COLUMN SHOW - HIDE */
        $('#datatable_col_reorder').dataTable({
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
            "autoWidth": true,
            "preDrawCallback": function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_datatable_col_reorder) {
                    responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_datatable_col_reorder.respond();
            },
            "order": [[ 0, "asc" ]]
        });

        /* END COLUMN SHOW - HIDE */

        /* TABLETOOLS */
        $('#datatable_tabletools').dataTable({

            // Tabletools options:
            //   https://datatables.net/extensions/tabletools/button_options
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
            "oTableTools": {
                "aButtons": [
                "copy",
                "csv",
                "xls",
                   {
                       "sExtends": "pdf",
                       "sTitle": "SmartAdmin_PDF",
                       "sPdfMessage": "SmartAdmin PDF Export",
                       "sPdfSize": "letter"
                   },
                   {
                       "sExtends": "print",
                       "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                   }
                ],
                "sSwfPath": "/Scripts/plugin/datatables/swf/copy_csv_xls_pdf.swf"
            },
            "autoWidth": true,
            "preDrawCallback": function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_datatable_tabletools) {
                    responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_datatable_tabletools.respond();
            }
        });

        /* END TABLETOOLS */

    })

    </script>
}
