﻿@model MandiriCRE.ViewModel.ReportOfficialResidentViewModel
@{
    ViewBag.Title = "LaporanOfficialResident";
}
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-table fa-fw "></i>
                Laporan
                <span>
                    >
                    Resident
                </span>
            </h1>
        </div>
    </div>
    @using (Html.BeginForm("LaporanOfficialResident", "Laporan",
    new { ReturnUrl = ViewBag.ReturnUrl },
    FormMethod.Post, new { enctype = "multipart/form-data", @class = "smart-form", @id = "LaporanOfficialResident-form" }))
    {




        <div class="row">
            <section class="col col-1">

                <label>Jabatan*</label>
            </section>
            @{
                List<SelectListItem> listEmployeePosition = new List<SelectListItem>();
                List<MandiriCRE.Models.EmployeePosition> EmployeePositionList = ViewBag.ListEmployeePosition;
                listEmployeePosition.Add(new SelectListItem
                {
                    Text = "--Pilih Jabatan--",
                    Value = "0"
                });
                foreach (var item in EmployeePositionList)
                {
                    listEmployeePosition.Add(new SelectListItem
                    {
                        Text = item.EmployeePositionName,
                        Value = item.EmployeePositionID
                    });
                }
            }
            <section class="col col-4">
                <label class="select">
                    @*@@Html.DropDownListFor(model => model.ReportOfficialResidentIndexJson, listEmployeePosition.OrderBy(x => x.Value), "-- Pilih Jabatan --", new { @class = "select", @id = "EmployeePositionID" })*@
                    @Html.DropDownList("EmployeePositionID", new SelectList(listEmployeePosition, "Value", "Text", ViewBag.employeePositionID))
                </label>
            </section>
        </div>
        <div class="row">
            <section class="col col-1">
                Dari Tanggal
            </section>
            <section class="col col-4">
                <label class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    <input type="text"  name="DateFrom" id="DateFrom" maxlength="255" value="@ViewBag.DateFrom" autocomplete="off">
                </label>
            </section>
        </div>
        <div class="row">
            <section class="col col-1">
                Sampai Tanggal
            </section>
            <section class="col col-4">

                <label class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    <input type="text" name="DateTo" id="DateTo" maxlength="255" value="@ViewBag.DateTo" autocomplete="off">
                </label>
            </section>
        </div>
        <div class="row">
            <section class="col col-1"></section>
            <section class="col col-4">
                <input type="submit" value="Search" name="Search" class="btn btn-primary" style="padding: 8px 25px;" />
                <input type="submit" value="Convert to Excel" name="Excel" class="btn btn-primary" style="padding: 8px 25px;" />
            </section>
        </div>
    }
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
                    <header></header>
                    <!-- widget div-->
                    <div>
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="table-responsive">

                                <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover">

                                    <thead>
                                        <tr>
                                            <th data-hide="phone,tablet" class="text-center">Jabatan</th>
                                            <th data-hide="phone,tablet" class="text-center">Alamat Rumah Dinas</th>
                                            <th data-hide="phone,tablet" class="text-center">Kota</th>
                                            <th data-hide="phone,tablet" class="text-center">Luas Tanah</th>
                                            <th data-hide="phone,tablet" class="text-center">Luas Bangunnan</th>
                                            <th data-hide="phone,tablet" class="text-center">Kelas</th>
                                            <th data-hide="phone,tablet" class="text-center">Kondisi</th>
                                            <th data-hide="phone,tablet" class="text-center">Nama Penghuni</th>
                                            <th data-hide="phone,tablet" class="text-center">NIP</th>
                                            <th data-hide="phone,tablet" class="text-center">Tanggal Dihuni (dari)</th>
                                            <th data-hide="phone,tablet" class="text-center">Tanggal Dihuni (sampai)</th>
                                            <th data-hide="phone,tablet" class="text-center">Lampiran</th>
                                            <th data-hide="phone,tablet" class="text-center">Keterangan Pemesanan</th>
                                            <th data-hide="phone,tablet" class="text-center">Keterangan Pengosongan</th>
                                            <th data-hide="phone,tablet" class="text-center">Status</th>
                                        </tr>

                                        <tr>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="number2" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="number2" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>

                                        </tr>
                                    </thead>
                                    
                                </table>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- NEW WIDGET START -->
    @*<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="text-center">
                <table class="table table-striped table-bordered" style="width: 1100px; margin-left: auto; margin-right: auto;">
                    <thead>
                        <tr>
                            <th data-hide="phone,tablet" class="text-center">No</th>
                            <th data-hide="phone,tablet" class="text-center">Alamat Rumah Dinas</th>
                            <th data-hide="phone,tablet" class="text-center">Kota</th>
                            <th data-hide="phone,tablet" class="text-center">Luas Tanah</th>
                            <th data-hide="phone,tablet" class="text-center">Luas Bangunnan</th>
                            <th data-hide="phone,tablet" class="text-center">Nama Penghuni / calon</th>
                            <th data-hide="phone,tablet" class="text-center">Jabatan </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ListNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CityName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LandArea)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BuildingArea)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ResidentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeePositionName)
                            </td>

                        </tr>
                        }
                    </tbody>
                </table>


            </div>
            <!-- end widget -->
        </article>*@

    <!-- WIDGET END -->
    <!-- end row -->

</div>
@section pagespecific {
    <script type="text/javascript">

        function renderNumber(number) {
            if (typeof number !== 'number') {
                return '';
            } else {
                return number.toFixed(0);
            }
        }
        function renderDate(date) {
            if (!date) {
                return '';
            } else if (date.toLocaleDateString) {
                date.toLocaleDateString('id-ID');
            } else {
                return date;
            }
        }

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {
        $('#DateTo').datepicker({
            //minDate: 0, //310118
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                // $('#ReleaseDateCertificate').datepicker('option', 'minDate', selectedDate);
            }
        });
        $('#DateFrom').datepicker({
            //minDate: 0, //310118
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                // $('#ReleaseDateCertificate').datepicker('option', 'minDate', selectedDate);
            }
        });
        var $numberingForm = $("#LaporanRincianPerjanjian-form").validate({
            // Rules for form validation
            rules: {
                startdate: {
                    required: true
                },
                enddate: {
                    required: true
                }
            },

            // Messages for form validation
            messages: {
                startdate: {
                    required: 'Silahkan pilih tanggal'
                },
                enddate: {
                    required: 'Silahkan pilih tanggal'
                }
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });

        /* COLUMN FILTER  */
        var otable = $('#datatable_fixed_column').DataTable({
            "autoWidth": true,
            data: @Html.Raw(Model.ReportOfficialResidentIndexJson),
            order: [[0, "asc"]],
            columns: [
                { data: 'EmployeePositionName' },
                { data: 'Address' },
                { data: 'CityName' },
                { data: 'LandArea', render: renderNumber },
                { data: 'BuildingArea', render: renderNumber },
                { data: 'ClassName' },
                { data: 'ResidenceConditionName' },
                { data: 'NameOfResident' },
                { data: 'NIP' },
                { data: 'DateFrom', render: renderDate },
                { data: 'DateTo', render: renderDate },
                { data: 'DocFileName' },
                { data: 'OrderInformation' },
                { data: 'EmptyingInformation' },
                { data: 'Status' }
            ]
        });

        $('input.number2').keyup(function (event) {

            // skip for arrow keys
            if (event.which >= 37 && event.which <= 40) return;

            // format number
            $(this).val(function (index, value) {
                return value
                .replace(/\D/g, "")
                .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                ;
            });
        });

        //otable.sort(sort_by('NemberingID', true, parseInt));
        // Apply the filter
        $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

            otable
                .column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw()
                .order(0, "asc");

        });
        /* END COLUMN FILTER */

    })</script>
}