﻿@model MandiriCRE.Models.LaporanPTO
@{
    ViewBag.Title = "UploadPTO";
}

<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2> </h2>

    </header>

    <!-- widget div-->
    <div>
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                @Html.Raw(ViewBag.ErrorMessage)
            </div>
        }
        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("UploadPTO", "Laporan",
        new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { enctype = "multipart/form-data", @class = "smart-form", @id = "LaporanPTO-form" }))
            {

                <header>
                    Upload Doc
                </header>

                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label>Tanggal Revisi*</label>
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" name="revisiondate" id="revisiondate" value="@Model.RevisionDate" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Nama File*</label>
                            <div class="input input-file">
                                <span class="button"><input id="file" class="input-lg" type="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input id="filename" name="filename"  value="@Model.DocumentName"  type="text" placeholder="Pilih File.." readonly="">
                            </div>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Revisi ke- *</label>
                            <label class="input">
                                <input type="text" name="description" maxlength="5" value="@Model.Description" placeholder="">
                            </label>
                        </section>
                    </div>

                </fieldset>
                <footer>

                    <input type="submit" value="Upload" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" onclick="window.history.back();">Batal</button>
                </footer>
            }

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->



@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {


            $('#revisiondate').datepicker({
                minDate: 0,
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>'
            });

            var $numberingForm = $("#LaporanPTO-form").validate({
                // Rules for form validation
                rules: {
                    revisiondate: {
                        required: true
                    },
                    description: {
                        required: true
                    },
                    filename: {
                        required: true
                    }
                },

                // Messages for form validation
                messages: {
                    revisiondate: {
                        required: 'Silahkan isi tanggal revisi'
                    },
                    description: {
                        required: 'Silahkan isi Revisi ke-'
                    },
                    filename: {
                        required: 'Silahkan pilih file'
                    },
                },
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        })
    </script>
}




