﻿

@model MandiriCRE.ViewModel.OfficialResidentIndexViewModel
@{
    ViewBag.Title = "Index";
}


<div id="content">
    <div class="row">
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Pemesanan Rumah Dinas </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="table-responsive">

                                <table data-view-url="@Url.Action("View")"
                                       data-update-url="@Url.Action("Update")"
                                       data-vacate-url="@Url.Action("Vacate")"
                                       data-pdf-download-url="@Url.Action("Preview")"
                                       data-non-pdf-download-url="@Url.Content("~/content/document/officialresidence/")"
                                       id="datatable_fixed_column"
                                       class="table table-striped table-bordered table-hover">

                                    <thead>
                                        <tr>
                                            <br />

                                            @*@{if (Session["Access"].ToString() != "")
                        {
                            int index = Session["Access"].ToString().IndexOf("7");
                            string akses = Session["Access"].ToString().Substring(index + 2, 1);
                            if (akses == "Y" || Session["Access"].ToString() == "superadmin")
                            {
                                <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Create", "OfficialResident")'">Tambah</button>
                            }
                        }
                    }*@
                                            &nbsp;&nbsp;


                                        </tr>

                                        <tr>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">No</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Jabatan</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Alamat Rumah Dinas</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Kota</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Nama  Penghuni</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="1">Status</th>

                                            <th class="text-center" rowspan="1">Action</th>
                                        </tr>

                                        <tr>
                                            <th class="hasinput" style="width:4%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:4%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <div class="text-center">

                                                    @{if (Session["Access"].ToString() != "")
                                                        {
                                                            int index = Session["Access"].ToString().IndexOf("27");
                                                            string akses = Session["Access"].ToString().Substring(index + 3, 1);
                                                            if (akses == "Y" || Session["Access"].ToString() == "superadmin")
                                                            {
                                                                <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Create", "OfficialResident")'">Tambah</button>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </th>
                                        </tr>


                                    </thead>
                                </table>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->


@section pagespecific {

    <script type="text/javascript">

        var $datatableFixedColumn = $('#datatable_fixed_column');
        var permissions = {
            isAllowedToView: @Json.Encode(Model.IsAllowedToView),
            isAllowedToUpdate: @Json.Encode(Model.IsAllowedToUpdate),
            isAllowedToDelete: @Json.Encode(Model.IsAllowedToDelete),
            isAllowedToDuplicate: @Json.Encode(Model.IsAllowedToDuplicate),
        };

        var viewUrl = $datatableFixedColumn.attr('data-view-url');
        var updateUrl = $datatableFixedColumn.attr('data-update-url');
        var vacateUrl = $datatableFixedColumn.attr('data-vacate-url')
        var pdfDownloadUrl = $datatableFixedColumn.attr('data-pdf-download-url');
        var nonPdfDownloadUrl = $datatableFixedColumn.attr('data-non-pdf-download-url');

        function createGetUrl(baseUrl, parameters) {
            if (!parameters) {
                return baseUrl;
            } else {
                if (baseUrl.endsWith('/')) {
                    baseUrl = baseUrl.substr(0, baseUrl.length - 1);
                }
                return baseUrl + '?' + $.param(parameters);
            }
        }

        function checkIsPdf(filePath) {
            if (!filePath || typeof filePath !== 'string') return false;

            return filePath.toLowerCase().endsWith('.pdf');
        }

        function renderLinkToDocument(documentFilePath) {
            if (!documentFilePath || typeof documentFilePath !== 'string') {
                return '';
            } else if (checkIsPdf(documentFilePath)) {
                var hyperlink = createGetUrl(pdfDownloadUrl, { docfile: documentFilePath });
                return '<a href="' + hyperlink + '"/>' + documentFilePath + '</a>'
            } else {
                var hyperlink = nonPdfDownloadUrl + documentFilePath
                return '<a href="' + hyperlink + '"/>' + documentFilePath + '</a>'
            }
        }

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            //var buttonCommon = {
            //    exportOptions: {
            //        format: {
            //            body: function (data, row, column, node) {
            //                // Strip $ from salary column to make it numeric
            //                return column === 5 ?
            //                    data.replace(/[$,]/g, '') :
            //                    data;
            //            }
            //        }
            //    }
            //};

            //$('#datatable_fixed_column').dataTable({
            //    dom: 'Bfrtip',
            //    buttons: [
            //        $.extend(true, {}, buttonCommon, {
            //            extend: 'copyHtml5'
            //        }),
            //        $.extend(true, {}, buttonCommon, {
            //            extend: 'excelHtml5'
            //        }),
            //        $.extend(true, {}, buttonCommon, {
            //            extend: 'pdfHtml5'
            //        })
            //    ]
            //});


            //if (config.message) {
            //    var tablecaption = [config.message];
            //    addRow(tablecaption, rowPos);    // Add caption
            //    addRow("", rowPos);              // Add blank row to separate the caption from the table data
            //}

            /* TABLETOOLS */
            //$('#datatable_fixed_column').dataTable({

            //    // Tabletools options:
            //    //   https://datatables.net/extensions/tabletools/button_options
            //    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
            //            "t",
            //    "oTableTools": {
            //        "aButtons": [
            //    {
            //        "sExtends": "xls",
            //        "sButtonText": "Export Excel",
            //        "bHeader": true,
            //        "mColumns": "visible",
            //        "sFileName": "TaxData*.xls"
            //    }//,
            //    //    "copy",
            //    //    "csv",
            //    //    "xls",
            //    //       {
            //    //           "sExtends": "pdf",
            //    //           "sTitle": "SmartAdmin_PDF",
            //    //           "sPdfMessage": "SmartAdmin PDF Export",
            //    //           "sPdfSize": "letter"
            //    //       },
            //    //       {
            //    //           "sExtends": "print",
            //    //           "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
            //    //       }
            //       ],
            //       "sSwfPath": "/Scripts/plugin/datatables/swf/copy_csv_xls_pdf.swf"
            //    },
            //    "autoWidth": true,
            //    "preDrawCallback": function () {
            //        // Initialize the responsive datatables helper once.
            //        if (!responsiveHelper_datatable_tabletools) {
            //            responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
            //        }
            //    },
            //    "rowCallback": function (nRow) {
            //        responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
            //    },
            //    "drawCallback": function (oSettings) {
            //        responsiveHelper_datatable_tabletools.respond();
            //    }
            //});

            /* END TABLETOOLS */


        });

        /* COLUMN FILTER  */
        var otable = $('#datatable_fixed_column').DataTable({
            "autoWidth": true,
            data: @Html.Raw(Model.OfficialResidentIndexJson),
            order: [[0, "asc"]],
            columns: [
                { data: 'No' },
                { data: 'EmployeePositionName' },
                { data: 'Address' },
                { data: 'CityName' },
                { data: 'NameOfResident' },
                { data: 'Status' },
                {
                    data: 'OfficialResidenceID',
                    render: function (residentID, row) {
                        var dropdown = '<div class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a><ul class="dropdown-menu">LIST_ITEMS</ul></div>'
                        var listItems = [];
                        if (permissions.isAllowedToUpdate && row['Status'] == 'Berpenghuni') {
                            var hyperlink = createGetUrl(updateUrl, { id: residentID });
                            listItems.push('<li><a href="' + hyperlink + '">Ubah</a></li>');
                        }
                        if (permissions.isAllowedToUpdate) {
                            var hyperlink = createGetUrl(vacateUrl, { id: residentID });
                            listItems.push('<li><a href="' + hyperlink + '">Kosongkan</a></li>');
                        }
                        if (permissions.isAllowedToView) {
                            var hyperlink = createGetUrl(viewUrl, { id: residentID });
                            listItems.push('<li><a href="' + hyperlink + '">View</a></li>');
                        }

                        return dropdown.replace('LIST_ITEMS', listItems.join(''));
                    }
                }
            ]

        });

        //otable.sort(sort_by('NemberingID', true, parseInt));
        // Apply the filter
        $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

            otable
                .column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw()
                .order(0, "asc");

        });
        /* END COLUMN FILTER */


    </script>
}
