﻿@model MandiriCRE.Models.OfficialResident
@{

    ViewBag.Title = "Vacate";
}

<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget well" id="wid-id-3" style="border:hidden" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

    <div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("Vacate", "OfficialResident",
    new { ReturnUrl = ViewBag.ReturnUrl, id = ViewBag.OfficialResidenceID },
    FormMethod.Post, new { enctype = "multipart/form-data", @class = "smart-form", @id = "OfficialResident-form" }))
            {

                @*<header>
                        <div class="text-right">
                            <input type="submit" value="Simpan" style="padding: 8px 25px;" class="btn btn-primary" />
                            <button type="button" class="btn btn-default" style="padding: 8px 25px;" onclick="window.history.back();">Kembali</button>
                        </div>
                    </header>*@

                <fieldset>

                    <div class="row">
                        <section class="col col-6">

                            <label>Jabatan*</label>
                            @{
                                List<SelectListItem> listEmployeePosition = new List<SelectListItem>();
                                List<MandiriCRE.Models.EmployeePosition> EmployeePositionList = ViewBag.ListEmployeePosition;
                                foreach (var item in EmployeePositionList)
                                {
                                    listEmployeePosition.Add(new SelectListItem
                                    {
                                        Text = item.EmployeePositionName,
                                        Value = item.EmployeePositionID
                                    });
                                }
                            }
                            @*<label class="select cke_combo_disabled">
                                    @Html.DropDownListFor(model => model.EmployeePositionID, listEmployeePosition.OrderBy(x => x.Value), "-- Pilih Jabatan --", new { @class = "select", @id = "EmployeePositionID", @readonly = "true" })
                                </label>*@
                            <label class="input">
                                <input type="text" name="EmployeePositionName" id="EmployeePositionName" value="@Model.EmployeePositionName" maxlength="255" placeholder="" readonly="readonly">
                                <input type="hidden" name="EmployeePositionID" id="EmployeePositionID" value="@Model.EmployeePositionID" maxlength="255" placeholder="" hidden="hidden">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Download Lampiran :</label>
                            @*<div class="input input-file">
                                    <span class="button"><input id="file" class="input-lg" type="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="filename" name="filename" value="@Model.DocFileName" placeholder="Pilih File.." readonly="">
                                    *File dalam format Word/Excel/PDF maksimum 4 MB
                                </div>*@
                            
                            @*@Html.ActionLink(Model.DocFileName, "Vacate", new { docfile = Model.DocFileName })*@
                            @{
                                if (Model.DocFileName != null && Model.DocFileName.ToUpper().Contains("PDF"))
                                {
                                    @Html.ActionLink(Model.DocFileName, "Preview", new { docfile = Model.DocFileName })
                                }
                                else
                                {
                                    <a href="~/content/document/officialresidence/@Model.DocFileName" download>@Model.DocFileName</a>
                                }
                            }
                            <input type="hidden" name="filename" id="filename" value="@Model.DocFileName" maxlength="255" placeholder="" >
                        </section>

                    </div>
                    <div class="row">
                        <section class="col col-6">

                            <label>Alamat Rumah Dinas*</label>
                            @{
                                List<SelectListItem> listRumahDinas = new List<SelectListItem>();
                                List<MandiriCRE.Models.MasterResidence> RumahDinasList = ViewBag.ListRumahDinas;
                                foreach (var item in RumahDinasList)
                                {
                                    listRumahDinas.Add(new SelectListItem
                                    {
                                        Text = item.Address,
                                        Value = item.ResidentID
                                    });
                                }
                            }
                            @*<label class="select">
                                    @Html.DropDownListFor(model => model.ResidentID, listRumahDinas.OrderBy(x => x.Value), "-- Pilih Alamat Rumah Dinas --", new { @class = "select", @id = "ResidentID" ,@readonly="true" })
                                </label>*@
                            <label class="input">
                                <input type="text" name="ResidentName" id="ResidentName" value="@Model.Address" maxlength="255" placeholder="" readonly="readonly">
                                <input type="hidden" name="ResidentID" id="ResidentID" value="@Model.ResidentID" maxlength="255" placeholder="">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Keterangan Pemesanan</label>
                            <label class="textarea">
                                <i class="icon-append fa fa-comment"></i>
                                <textarea rows="4" name="tbxOrderInformation" id="tbxOrderInformation" readonly="readonly" maxlength="255" placeholder="">@Model.OrderInformation</textarea>
                            </label>
                        </section>

                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Kota</label>
                            <label class="input">
                                <input type="text" name="tbxCityName" id="tbxCityName" value="@Model.CityName" readonly="readonly" maxlength="255" placeholder="">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Keterangan Pengosongan</label>
                            <label class="textarea">
                                <i class="icon-append fa fa-comment"></i>
                                <textarea rows="4" name="tbxEmptyingInformation" id="tbxEmptyingInformation" maxlength="255" placeholder="">@Model.EmptyingInformation</textarea>
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label>Luas Tanah*</label>
                            <label class="input">
                                <input type="text" class="number2" name="tbxLandArea" id="tbxLandArea" value="@Model.LandArea" readonly="readonly" maxlength="10" placeholder="">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label>Luas Bangunan</label>
                            <label class="input">
                                <input type="text" class="number2" name="tbxBuildingArea" id="tbxBuildingArea" value="@Model.BuildingArea" readonly="readonly" maxlength="10" placeholder="">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label>Kelas</label>
                            <label class="input">
                                <input type="text" name="tbxClassName" id="tbxClassName" value="@Model.ClassName" readonly="readonly" maxlength="4" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Kondisi</label>
                            <label class="input">
                                <input type="text" name="tbxResidenceConditionName" id="tbxResidenceConditionName" value="@Model.ResidenceConditionName" readonly="readonly" maxlength="4" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Nama Penghuni</label>
                            <label class="input">
                                <input type="text" name="tbxNameOfResident" id="tbxNameOfResident" value="@Model.NameOfResident" maxlength="4" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>NIP</label>
                            <label class="input">
                                <input type="text" name="tbxNIP" id="tbxNIP" value="@Model.NIP" readonly="readonly" maxlength="4" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-3">
                            <label>Tanggal Dihuni</label>
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" name="tbxDateFrom" id="tbxDateFrom" value="@Model.DateFrom" readonly="readonly" maxlength="255" placeholder="">
                            </label>
                        </section>
                        <section class="col col-3">
                            <label></label>
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" name="tbxDateTo" id="tbxDateTo" value="@Model.DateTo" readonly="readonly" maxlength="255" placeholder="">
                            </label>
                        </section>
                    </div>

                </fieldset>
                <footer></footer>
                                }
        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
<!-- end widget -->

@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            $(document).ready(function () {
                $('#ResidentID').change(function () {
                    $.ajax({
                        type: "POST",
                        url: "/OfficialResident/GetMasterResidence/",
                        data: {
                            'positionName': $(this).val()
                        },
                        success: function (data) {
                            //var masterResidence = parse.JSON(data);
                            //alert(data.CityName);
                            $("#tbxCityName").val(data.CityName);
                            $("#tbxBuildingArea").val(data.BuildingArea);
                            $("#tbxLandArea").val(data.LandArea);
                            $("#tbxClassName").val(data.ClassName);
                            $("#tbxResidenceConditionName").val(data.ResidenceConditionName);
                        }
                    });
                });

                $('#ResidentID').change(function () {
                    $.ajax({
                        type: "POST",
                        url: "/OfficialResident/GetMasterResidenceById/",
                        data: {
                            'id': $(this).val()
                        },
                        success: function (data) {
                            //var masterResidence = parse.JSON(data);
                            //alert(data.CityName);
                            $("#tbxCityName").val(data.CityName);
                            $("#tbxBuildingArea").val(data.BuildingArea);
                            $("#tbxLandArea").val(data.LandArea);
                            $("#tbxClassName").val(data.ClassName);
                            $("#tbxResidenceConditionName").val(data.ResidenceConditionName);
                        }
                    });
                });

                // Number Fields
                $('input.number2').keyup(function (event) {

                    // skip for arrow keys
                    if (event.which >= 37 && event.which <= 40) return;

                    // format number
                    $(this).val(function (index, value) {
                        return value
                            .replace(/\D/g, "")
                            .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                        ;
                    });
                });

                $('#RepairTypeID').attr('disabled', 'disabled');

                // START AND FINISH DATE
                $('#RenovationDate').datepicker({
                    //minDate: 0, //310118
                    dateFormat: 'dd/mm/yy',
                    prevText: '<i class="fa fa-chevron-left"></i>',
                    nextText: '<i class="fa fa-chevron-right"></i>',
                    onSelect: function (selectedDate) {
                        // $('#ReleaseDateCertificate').datepicker('option', 'minDate', selectedDate);
                    }
                });

                var $numberingForm = $("#MasterResidence-form").validate({
                    // Rules for form validation
                    rules: {
                        EmployeePositionID: {
                            required: true
                        },
                        Address: {
                            required: true
                        },
                        CityID: {
                            required: true
                        },
                        LandArea: {
                            required: true
                        },
                        ClassID: {
                            required: true
                        },
                        ResidentName: {
                            required: true
                        },
                        ResidenceConditionID: {
                            required: true
                        },
                        ResidenceStatusID: {
                            required: true
                        },
                        RepairTypeID: {
                            required: false
                        }
                    },

                    // Messages for form validation
                    messages: {
                        EmployeePositionID: {
                            EmployeePositionID: 'Silahkan pilih Jabatan'
                        },
                        Address: {
                            required: 'Silahkan isi Alamat Rumah Dinas'
                        },
                        CityID: {
                            required: 'Silahkan pilih Kota'
                        },
                        LandArea: {
                            required: 'Silahkan isi Luas Tanah'
                        },
                        ClassID: {
                            required: 'Silahkan isi Kelas'
                        },
                        ResidentName: {
                            required: 'Silahkan isi Nama Penghuni/Calon'
                        },
                        ResidenceConditionID: {
                            required: 'Silahkan pilih Status Rumah Dinas'
                        },
                        ResidenceStatusID: {
                            required: 'Silahkan pilih Kondisi'
                        },
                        RepairTypeID: {
                            required: 'Silahkan pilih Jenis Perbaikan'
                        },
                    },
                });



            })

    </script>
}
