﻿@model MandiriCRE.Models.Resident
@{
    ViewBag.Title = "Preview";
}


<div class="text-left">

    <button type="button" class="btn btn-primary" style="padding: 8px 25px;" onclick="window.history.back();">Kembali</button>
</div>
<br />
@*<div>
    <div class="image">
        <img src="/content/document/officialresidence/@ViewBag.DocFile" alt="img">
    </div>
</div>*@
<div>
    <iframe id="iframepdf" src="~/content/document/officialresidence/@ViewBag.DocFile#view=fit" width="1200px" height="1600px"></iframe>
</div> 




