﻿@model MandiriCRE.Models.OfficialResident
@{
    /**/

    ViewBag.Title = "Update";
}

<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2> </h2>
    </header>
    <!-- widget div-->
    <div>
        <!-- widget edit box -->
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                @Html.Raw(ViewBag.ErrorMessage)
            </div>
        }
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("Update", "OfficialResident",
    new { ReturnUrl = ViewBag.ReturnUrl, id = ViewBag.OfficialResidentID },
    FormMethod.Post, new { enctype = "multipart/form-data", @class = "smart-form", @id = "OfficialResident-form" }))
            {

                <header>
                    <div class="text-right">
                        <input type="submit" value="Simpan" style="padding: 8px 25px;" class="btn btn-primary" />
                        <button type="button" class="btn btn-default" style="padding: 8px 25px;" onclick="window.history.back();">Kembali</button>
                    </div>
                </header>

                <fieldset>

                    <div class="row">
                        <section class="col col-6">

                            <label>Jabatan*</label>
                            @{
                                
                                List<SelectListItem> listEmployeePosition = new List<SelectListItem>();
                                List<MandiriCRE.Models.EmployeePosition> EmployeePositionList = ViewBag.ListEmployeePosition;
                                foreach (var item in EmployeePositionList)
                                {
                                    listEmployeePosition.Add(new SelectListItem
                                    {
                                        Text = item.EmployeePositionName,
                                        Value = item.EmployeePositionID
                                    });
                                }
                                
                            }
                            @*<label class="select">
                                @Html.DropDownListFor(model => model.EmployeePositionID, listEmployeePosition.OrderBy(x => x.Value), "-- Pilih Jabatan --", new { @class = "select", @id = "EmployeePositionID" })
                            </label>*@
                            <label class="input">
                                <input type="text" name="EmployeePositionName" id="EmployeePositionName" value="@Model.EmployeePositionName" maxlength="255" placeholder="" readonly="readonly">
                                <input type="hidden" name="EmployeePositionID" id="EmployeePositionID" value="@Model.EmployeePositionID" maxlength="255" placeholder="" hidden="hidden">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Lampiran</label>
                            <div class="input input-file">
                                <span class="button"><input id="file" class="input-lg" type="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="filename" name="filename" value="@Model.DocFileName" placeholder="Pilih File.." readonly="">
                                *File dalam format Word/Excel/PDF maksimum 4 MB
                            </div>
                        </section>

                    </div>
                    <div class="row">
                        <section class="col col-6">

                            <label>Alamat Rumah Dinas*</label>
                            @{
                                List<SelectListItem> listRumahDinas = new List<SelectListItem>();
                                List<MandiriCRE.Models.MasterResidence> RumahDinasList = ViewBag.ListRumahDinas;
                                foreach (var item in RumahDinasList)
                                {
                                    listRumahDinas.Add(new SelectListItem
                                    {
                                        Text = item.Address,
                                        Value = item.ResidentID
                                    });
                                }
                            }
                            @*<label class="select">
                                @Html.DropDownListFor(model => model.ResidentID, listRumahDinas.OrderBy(x => x.Value), "-- Pilih Alamat Rumah Dinas --", new { @class = "select", @id = "ResidentID" })
                            </label>*@
                            <label class="input">
                                <input type="text" name="ResidentName" id="ResidentName" value="@Model.Address" maxlength="255" placeholder="" readonly="readonly">
                                <input type="hidden" name="ResidentID" id="ResidentID" value="@Model.ResidentID" maxlength="255" placeholder="">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Keterangan Pemesanan</label>
                            <label class="textarea">
                                <i class="icon-append fa fa-comment"></i>
                                <textarea rows="4" name="tbxOrderInformation" id="tbxOrderInformation" maxlength="255" placeholder="">@Model.OrderInformation</textarea>
                            </label>
                        </section>

                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Kota</label>
                            <label class="input">
                                <input type="text" name="tbxCityName" id="tbxCityName" value="@Model.CityName" readonly="readonly" maxlength="255" placeholder="">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label>Luas Tanah*</label>
                            <label class="input">
                                <input type="text" class="number2" name="tbxLandArea" id="tbxLandArea" value="@Model.LandArea" readonly="readonly" maxlength="10" placeholder="">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label>Luas Bangunan</label>
                            <label class="input">
                                <input type="text" class="number2" name="tbxBuildingArea" id="tbxBuildingArea" value="@Model.BuildingArea" readonly="readonly" placeholder="">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label>Kelas</label>
                            <label class="input">
                                <input type="text" name="tbxClassName" id="tbxClassName" value="@Model.ClassName" readonly="readonly" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Kondisi</label>
                            <label class="input">
                                <input type="text" name="tbxResidenceConditionName" id="tbxResidenceConditionName" value="@Model.ResidenceConditionName" readonly="readonly" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Nama Penghuni</label>
                            <label class="input">
                                <input type="text" name="tbxNameOfResident" id="tbxNameOfResident" value="@Model.NameOfResident" maxlength="255" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>NIP</label>
                            <label class="input">
                                <input type="text" name="tbxNIP" id="tbxNIP" value="@Model.NIP" maxlength="255" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-3">
                            <label>Tanggal Dihuni</label>
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" name="tbxDateFrom" id="tbxDateFrom" value="@Model.DateFrom" maxlength="255" placeholder="">
                            </label>
                        </section>
                        <section class="col col-3">
                            <label></label>
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" name="tbxDateTo" id="tbxDateTo" value="@Model.DateTo" maxlength="255" placeholder="">
                            </label>
                        </section>
                    </div>

                </fieldset>
                <footer></footer>
            }
        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
<!-- end widget -->

@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            $('#EmployeePositionID').change(function () {
                $.ajax({
                    type: "POST",
                    url: "/OfficialResident/GetMasterResidenceByPosition/",
                    data: {
                        'positionId': $(this).val()
                    },
                    success: function (data) {
                        $("#tbxCityName").val("");
                        $("#tbxBuildingArea").val("");
                        $("#tbxLandArea").val("");
                        $("#tbxClassName").val("");
                        $("#tbxResidenceConditionName").val("");

                        var Subject = $('#ResidentID');
                        Subject.empty();

                        Subject.append(
                            $('<option>', {
                                value: null
                            }).text("-- Pilih Alamat Rumah Dinas --")
                        );
                        $.each(data, function () {

                            Subject.append(
                                $('<option>', {
                                    value: this.Value
                                }).text(this.Text)
                            );
                        });
                    }
                });
            });

            $('#ResidentID').change(function () {
                $.ajax({
                    type: "POST",
                    url: "/OfficialResident/GetMasterResidenceById/",
                    data: {
                        'id': $(this).val()
                    },
                    success: function (data) {
                        //var masterResidence = parse.JSON(data);
                        //alert(data.CityName);
                        $("#tbxCityName").val(data.CityName);
                        $("#tbxBuildingArea").val(data.BuildingArea);
                        $("#tbxLandArea").val(data.LandArea);
                        $("#tbxClassName").val(data.ClassName);
                        $("#tbxResidenceConditionName").val(data.ResidenceConditionName);
                    }
                });
            });

            // Number Fields
            $('input.number2').keyup(function (event) {

                // skip for arrow keys
                if (event.which >= 37 && event.which <= 40) return;

                // format number
                $(this).val(function (index, value) {
                    return value
                        .replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                        ;
                });
            });

            $('#RepairTypeID').attr('disabled', 'disabled');

            // START AND FINISH DATE
            $('#tbxDateFrom').datepicker({
                //minDate: 0, //310118
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    // $('#ReleaseDateCertificate').datepicker('option', 'minDate', selectedDate);
                }
            });
            $('#tbxDateTo').datepicker({
                //minDate: 0, //310118
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    // $('#ReleaseDateCertificate').datepicker('option', 'minDate', selectedDate);
                }
            });

            var $numberingForm = $("#OfficialResident-form").validate({
                // Rules for form validation
                rules: {
                    EmployeePositionID: {
                        required: true
                    },
                    ResidentID: {
                        required: true
                    },
                    tbxNameOfResident: {
                        required: true
                    },
                    tbxNIP: {
                        required: true
                    },
                    tbxDateFrom: {
                        required: true
                    },
                    tbxDateTo: {
                        required: true
                    },
                    filename: {
                        required: true
                    },
                    ResidenceStatusID: {
                        required: true
                    },
                    RepairTypeID: {
                        required: false
                    }
                },

                // Messages for form validation
                messages: {
                    EmployeePositionID: {
                        required: 'Silahkan pilih Jabatan'
                    },
                    ResidentID: {
                        required: 'Silahkan isi Alamat Rumah Dinas'
                    },
                    tbxNameOfResident: {
                        required: 'Silahkan pilih Nama Penghuni'
                    },
                    tbxNIP: {
                        required: 'Silahkan isi NIP'
                    },
                    tbxDateFrom: {
                        required: 'Silahkan Tanggal Dihuni'
                    },
                    tbxDateTo: {
                        required: 'Silahkan isi Tanggal Dihuni'
                    },
                    filename: {
                        required: 'Silahkan pilih File'
                    },
                    ResidenceStatusID: {
                        required: 'Silahkan pilih Kondisi'
                    },
                    RepairTypeID: {
                        required: 'Silahkan pilih Jenis Perbaikan'
                    }
                }
            });
        });

    </script>
}
