﻿@model MandiriCRE.Models.BuildingOccupants
@{
    ViewBag.Title = "Preview";
}


<div class="text-left">

    <button type="button" class="btn btn-primary" style="padding: 8px 25px;" onclick="window.history.back();">Kembali</button>
</div>
<br />
<div>
    <div class="image">
        <img src="/content/document/buildingoccupants/@ViewBag.DocFile" alt="img">
    </div>
</div>



