﻿
@model MandiriCRE.Models.BuildingUtility
@{
    ViewBag.Title = "Create";
}

<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2> </h2>
    </header>
    <!-- widget div-->
    <div>
        <!-- widget edit box -->
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                @Html.Raw(ViewBag.ErrorMessage)
            </div>
        }
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("Create", "BuildingUtility",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { enctype = "multipart/form-data", @class = "smart-form", @id = "BuildingUtility-form" }))
            {

                <header>
                    <div class="text-right">
                        <input type="submit" value="Simpan" style="padding: 8px 25px;" class="btn btn-primary" />
                        <button type="button" class="btn btn-default" style="padding: 8px 25px;" onclick="window.history.back();">Kembali</button>
                    </div>
                </header>

                <fieldset>
                    <div class="row">
                        <section class="col col-2">
                            <label>Gedung*</label>
                        </section>
                        <section class="col col-6">
                            @{

                                List<SelectListItem> listBuilding = new List<SelectListItem>();
                                List<MandiriCRE.Models.Building> BuildingList = ViewBag.ListBuilding;
                                foreach (var item in BuildingList)
                                {
                                    listBuilding.Add(new SelectListItem
                                    {
                                        Text = item.BuildingName,
                                        Value = item.BuildingID
                                    });
                                }
                            }

                            <label class="select">
                                @Html.DropDownListFor(model => model.BuildingID, listBuilding.OrderBy(x => x.Text), "-- Pilih Gedung --", new { @class = "select", @id = "BuildingID" })
                            </label>
                        </section>



                    </div>
                    <div class="row">
                        <section class="col  col-2">
                            <label>Tahun*</label>
                        </section>
                        <section class="col col-6">
                            <label class="input">
                                <input type="text" class="number3" name="YearID" id="YearID" value=@Model.YearID maxlength="4" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col  col-2">
                            <label>Bulan*</label>
                        </section>
                        <section class="col col-6">
                            @*<select name="MonthID" id="MonthID" style="width: 250px !important; min-width: 250px; max-width: 250px;height: 25px !important;">
                                    <option value="0" selected="" disabled="">--Pilih Bulan--</option>
                                    <option value="1">Januari</option>
                                    <option value="2">Februari</option>
                                    <option value="3">Maret</option>
                                    <option value="4">April</option>
                                    <option value="5">Mei</option>
                                    <option value="6">Juni</option>
                                    <option value="7">Juli</option>
                                    <option value="8">Agustus</option>
                                    <option value="9">September</option>
                                    <option value="10">Oktober</option>
                                    <option value="11">November</option>
                                    <option value="12">Desember</option>
                                </select> <i></i>*@
                            @{
                                List<SelectListItem> listMonth = new List<SelectListItem>();
                                listMonth.Add(new SelectListItem
                                { Text = "Januari", Value = "1" });
                                listMonth.Add(new SelectListItem
                                { Text = "Februari", Value = "2" });
                                listMonth.Add(new SelectListItem
                                { Text = "Maret", Value = "3" });
                                listMonth.Add(new SelectListItem
                                { Text = "April", Value = "4" });
                                listMonth.Add(new SelectListItem
                                { Text = "Mei", Value = "5" });
                                listMonth.Add(new SelectListItem
                                { Text = "Juni", Value = "6" });
                                listMonth.Add(new SelectListItem
                                { Text = "Juli", Value = "7" });
                                listMonth.Add(new SelectListItem
                                { Text = "Agustus", Value = "8" });
                                listMonth.Add(new SelectListItem
                                { Text = "September", Value = "9" });
                                listMonth.Add(new SelectListItem
                                { Text = "Oktober", Value = "10" });
                                listMonth.Add(new SelectListItem
                                { Text = "November", Value = "11" });
                                listMonth.Add(new SelectListItem
                                { Text = "Desember", Value = "12" });

                            }
                            <label class="select">
                                @Html.DropDownListFor(model => model.MonthID, listMonth.OrderBy(x => Convert.ToInt32(x.Value)), "-- Pilih Bulan --", new { @class = "select", @id = "MonthID" })

                            </label>
                        </section>

                    </div>
                    <div class="row">
                        <section class="col  col-2">
                            <label>Perihal*</label>
                        </section>
                        <section class="col col-6">
                            @{

                                List<SelectListItem> listsubject = new List<SelectListItem>();
                                List<MandiriCRE.Models.Subject> SubjectList = ViewBag.ListSubject;
                                foreach (var item in SubjectList)
                                {
                                    listsubject.Add(new SelectListItem
                                    {
                                        Text = item.SubjectName,
                                        Value = item.SubjectID
                                    });
                                }

                            }

                            <label class="select">
                                @Html.DropDownListFor(model => model.SubjectID, listsubject.OrderBy(x => x.Text), "-- Pilih Perihal --", new { @class = "select", @id = "SubjectID" })

                            </label>

                        </section>
                    </div>
                    <div class="row"> 
                            <section class="col  col-2">
                                <label>Kode URC</label>
                            </section>
                            <section class="col col-3">
                                @{

                                    List<SelectListItem> listURCCode = new List<SelectListItem>();
                                    List<MandiriCRE.Models.URCCode> URCCodeList = ViewBag.ListURCCode;
                                    foreach (var item in URCCodeList)
                                    {
                                        listURCCode.Add(new SelectListItem
                                        {
                                            Text = item.URCCodeName,
                                            Value = item.URCCodeID
                                        });
                                    }

                                }

                                <label class="select">
                                    @Html.DropDownListFor(model => model.URCCodeID, listURCCode.OrderBy(x => x.Text), "-- Pilih Kode URC --", new { @class = "select", @id = "URCCodeID" })

                                </label>

                            </section>
                            <section class="col col-3">

                                <label class="input">
                                    <input type="text" name="URCCodeDesc" id="URCCodeDesc" value="@Model.URCCodeDesc" maxlength="255" placeholder="" readonly="readonly">
                                </label>
                            </section>

                        </div>
                    <div class="row">
                        <section class="col  col-2">
                            <label>Tagihan (Rp)*</label>
                        </section>
                        <section class="col col-6">

                            <label class="input">
                                <input type="text" class="number2" name="Invoice" id="Invoice" value=@Model.Invoice maxlength="255" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col  col-2">
                            <label>Set Off (Rp)</label>
                        </section>
                        <section class="col col-6">
                            <label class="input">
                                <input type="text" class="number2" name="SetOff" id="SetOff" maxlength="255" placeholder="" value=@Model.SetOff>
                            </label>
                        </section>

                    </div>
                    <div class="row">
                        <section class="col  col-2">
                            <label>FPP</label>
                        </section>
                        <section class="col col-6">


                            <div class="input input-file">
                                <span class="button"><input id="file" class="input-lg" type="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="DocumentName" name="DocumentName" value="@Model.DocFileName" placeholder="Pilih Dokumen.." readonly="">
                                *File dalam format PDF maksimum 5 MB
                            </div>
                        </section>

                    </div>

                </fieldset>
                <footer></footer>
                                }
        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
<!-- end widget -->

@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            // Number Fields
            $('input.number2').keyup(function (event) {

                // skip for arrow keys
                if (event.which >= 37 && event.which <= 40) return;

                // format number
                $(this).val(function (index, value) {
                    return value
                    .replace(/\D/g, "")
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                    ;
                });
            });

            $('input.number3').keyup(function (event) {

                // skip for arrow keys
                if (event.which >= 37 && event.which <= 40) return;

                // format number
                $(this).val(function (index, value) {
                    return value
                    .replace(/\D/g, "")
                    ;
                });
            });

            //$('#BuildingID').change(function () {
            //    $.ajax({
            //        type: "POST",
            //        url: "/BuildingUtility/GetListSubjectbyBuildingName/",
            //        data: {
            //            'BuildingName': $(this).val()
            //            //'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
            //        },
            //        success: function (data) {
            //            var dataSubject = JSON.parse(data);
            //            $("#SubjectID").val(dataSubject);
            //            $.uniform.update();
            //        }
            //    });
            //});

            $('#SetOff').attr('disabled', 'disabled');
            if ($('#BuildingID').val() == "4" && $('#SubjectID').val() == "5") {
                $('#SetOff').removeAttr('disabled');
                $('#SetOff').attr("required", "true");
            };

            $('#BuildingID').change(function () {
                $.ajax({
                    type: "POST",
                    url: "/BuildingUtility/GetSubjectbyBuilding/",
                    data: {
                        'BuildingID': $(this).val()
                    },
                    success: function (data) {
                        var Subject = $('#SubjectID');
                        $('#SetOff').attr('disabled', 'disabled');
                        $('#SetOff').removeAttr("required");
                        $('#SetOff').attr("required", "false");
                        Subject.empty();
                        Subject.append(
                                    $('<option>', {
                                        value: "0"
                                    }).text("--Pilih Perihal--")
                                );
                        $.each(data, function () {

                            Subject.append(
                                    $('<option>', {
                                        value: this.Value
                                    }).text(this.Text)
                                );
                        });
                    }
                });
                if ($(this).val() == "4")//gedung Plaza mandiri
                {

                    if ($('#SubjectID').val() == "5") //perihal service charge
                    {
                        $('#SetOff').removeAttr('disabled');
                        $('#SetOff').attr("required", "true");
                    }
                    else {
                        $('#SetOff').attr('disabled', 'disabled');
                        $('#SetOff').removeAttr("required");
                        $('#SetOff').attr("required", "false");
                    }
                }
                else {
                    $('#SetOff').attr('disabled', 'disabled');

                    $('#SetOff').removeAttr("required");
                    $('#SetOff').attr("required", "false");
                };


            });

            $('#URCCodeID').change(function () {
                $.ajax({
                    type: "POST",
                    url: "/BuildingOccupants/GetURCDesc/",
                    data: {
                        'URCID': $(this).val()
                    },
                    success: function (data) {
                        var dataSubject = JSON.parse(data);
                        $("#URCCodeDesc").val(dataSubject);
                    }
                });
            });

            $('#SubjectID').change(function () {
                //var varpic = $(this).Text();
                var varpic = $(this).val();
                if (varpic == "5")//perihal service charge
                {
                    var perihal = $('#BuildingID').val();
                    if (perihal == "4") //gedung Plaza mandiri
                    {
                        $('#SetOff').removeAttr('disabled');
                        $('#SetOff').attr("required", "true");
                    }
                }
                else {
                    $('#SetOff').attr('disabled', 'disabled');
                    $('#SetOff').removeAttr("required");
                }
            });

            var $numberingForm = $("#BuildingUtility-form").validate({
                // Rules for form validation
                rules: {
                    BuildingID: {
                        required: true
                    },
                    YearID: {
                        required: true
                    },
                    MonthID: {
                        required: true
                    },
                    //URCCodeID: { req231018
                    //    required: true
                    //},
                    SubjectID: {
                        required: true
                    },
                    Invoice: {
                        required: true
                    }
                },

                // Messages for form validation
                messages: {
                    BuildingID: {
                        required: 'Silahkan Isi Gedung'
                    },
                    YearID: {
                        required: 'Silahkan Isi Tahun'
                    },
                    MonthID: {
                        required: 'Silahkan Isi Bulan'
                    },
                    //URCCodeID: { req231018
                    //    required: 'Silahkan Isi Kode URC'
                    //},
                    SubjectID: {
                        required: 'Silahkan Isi Perihal'
                    },
                    Invoice: {
                        required: 'Silahkan Isi Tagihan'
                    }
                },
            });



        })
    </script>
}
