﻿@model MandiriCRE.Models.BuildingUtility
@{
    ViewBag.Title = "PartialBuildingUtility";
}
<div class="jarviswidget well" id="wid-id-3" style="border:hidden" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
    <!-- widget div-->
    <div>
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("PartialBuildingUtility", "BuildingUtility", new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { enctype = "multipart/form-data", @class = "smart-form", @id = "BuildingUtility-form" }))
            {

                <header></header>

                <fieldset>
                    <div class="row">
                        <section class="col col-2">
                            <label>Gedung*</label>
                        </section>
                        <section class="col col-6">
                            @{

                                List<SelectListItem> listBuilding = new List<SelectListItem>();
                                List<MandiriCRE.Models.Building> BuildingList = ViewBag.ListBuilding;
                                foreach (var item in BuildingList)
                                {
                                    listBuilding.Add(new SelectListItem
                                    {
                                        Text = item.BuildingName,
                                        Value = item.BuildingID
                                    });
                                }
                            }

                            <label class="select">
                                @Html.DropDownListFor(model => model.BuildingID, listBuilding.OrderBy(x => x.Text), "-- Pilih Gedung --", new { @class = "select", @id = "BuildingID" })
                            </label>
                        </section>



                    </div>
                    <div class="row">
                        <section class="col col-2">
                            <label>Tahun*</label>
                        </section>
                        <section class="col col-6">
                            <label class="input">
                                <input type="text" class="number3" name="YearID" id="YearID" value=@Model.YearID maxlength="4" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-2">
                            <label>Bulan*</label>
                        </section>
                        <section class="col col-6">
                            @*<select name="MonthID" id="MonthID" style="width: 250px !important; min-width: 250px; max-width: 250px;height: 25px !important;">
                                    <option value="0" selected="" disabled="">--Pilih Bulan--</option>
                                    <option value="1">Januari</option>
                                    <option value="2">Februari</option>
                                    <option value="3">Maret</option>
                                    <option value="4">April</option>
                                    <option value="5">Mei</option>
                                    <option value="6">Juni</option>
                                    <option value="7">Juli</option>
                                    <option value="8">Agustus</option>
                                    <option value="9">September</option>
                                    <option value="10">Oktober</option>
                                    <option value="11">November</option>
                                    <option value="12">Desember</option>
                                </select> <i></i>*@
                            @{
                                List<SelectListItem> listMonth = new List<SelectListItem>();
                                listMonth.Add(new SelectListItem
                                { Text = "Januari", Value = "1" });
                                listMonth.Add(new SelectListItem
                                { Text = "Februari", Value = "2" });
                                listMonth.Add(new SelectListItem
                                { Text = "Maret", Value = "3" });
                                listMonth.Add(new SelectListItem
                                { Text = "April", Value = "4" });
                                listMonth.Add(new SelectListItem
                                { Text = "Mei", Value = "5" });
                                listMonth.Add(new SelectListItem
                                { Text = "Juni", Value = "6" });
                                listMonth.Add(new SelectListItem
                                { Text = "Juli", Value = "7" });
                                listMonth.Add(new SelectListItem
                                { Text = "Agustus", Value = "8" });
                                listMonth.Add(new SelectListItem
                                { Text = "September", Value = "9" });
                                listMonth.Add(new SelectListItem
                                { Text = "Oktober", Value = "10" });
                                listMonth.Add(new SelectListItem
                                { Text = "November", Value = "11" });
                                listMonth.Add(new SelectListItem
                                { Text = "Desember", Value = "12" });

                            }
                            <label class="select">
                                @Html.DropDownListFor(model => model.MonthID, listMonth.OrderBy(x => Convert.ToInt32(x.Value)), "-- Pilih Bulan --", new { @class = "select", @id = "MonthID" })

                            </label>
                        </section>

                    </div>
                    <div class="row">
                        <section class="col col-2">
                            <label>Perihal*</label>
                        </section>
                        <section class="col col-6">
                            @{

                                List<SelectListItem> listsubject = new List<SelectListItem>();
                                List<MandiriCRE.Models.Subject> SubjectList = ViewBag.ListSubject;
                                foreach (var item in SubjectList)
                                {
                                    listsubject.Add(new SelectListItem
                                    {
                                        Text = item.SubjectName,
                                        Value = item.SubjectID
                                    });
                                }

                            }

                            <label class="select">
                                @Html.DropDownListFor(model => model.SubjectID, listsubject.OrderBy(x => x.Text), "-- Pilih Perihal --", new { @class = "select", @id = "SubjectID" })

                            </label>

                        </section>
                    </div>
                    <div class="row"> 
                        <section class="col col-2">
                            <label>Kode URC</label>
                        </section>
                        <section class="col col-3">
                            @{

                                List<SelectListItem> listURCCode = new List<SelectListItem>();
                                List<MandiriCRE.Models.URCCode> URCCodeList = ViewBag.ListURCCode;
                                foreach (var item in URCCodeList)
                                {
                                    listURCCode.Add(new SelectListItem
                                    {
                                        Text = item.URCCodeName,
                                        Value = item.URCCodeID
                                    });
                                }

                            }

                            <label class="select">
                                @Html.DropDownListFor(model => model.URCCodeID, listURCCode.OrderBy(x => x.Text), "-- Pilih Kode URC --", new { @class = "select", @id = "URCCodeID" })

                            </label>

                        </section>
                        <section class="col col-3">

                            <label class="input">
                                <input type="text" name="URCCodeDesc" id="URCCodeDesc" value="@Model.URCCodeDesc" maxlength="255" placeholder="" disabled="disabled">
                            </label>
                        </section>

                    </div>
                    <div class="row">
                        <section class="col col-2">
                            <label>Tagihan (Rp)*</label>
                        </section>
                        <section class="col col-6">

                            <label class="input">
                                <input type="text" class="number2" name="Invoice" id="Invoice" value=@Model.Invoice maxlength="255" placeholder="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-2">
                            <label>Set Off (Rp)*</label>
                        </section>
                        <section class="col col-6">
                            <label class="input">
                                <input type="text" class="number2" name="SetOff" id="SetOff" value=@Model.SetOff maxlength="255" placeholder="">
                            </label>
                        </section>

                    </div>
                    <div class="row">
                        <section class="col col-2">
                            <label>FPP</label>
                        </section>
                        <section class="col col-6">


                            <div class="input input-file">
                                <span class="button"><input id="file" class="input-lg" type="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="DocumentName" name="DocumentName" value="@Model.DocFileName" placeholder="Pilih Dokumen.." readonly="">
                                *File dalam format PDF maksimum 5 MB
                            </div>
                        </section>
                        <section class="col col-4">
                            Download Lampiran :
                            @{
                                if (Model.DocFileName != "")
                                {
                                    @Html.ActionLink(Model.DocFileName, "Preview", new { docfile = Model.DocFileName })
                                }

                            }
                        </section>

                    </div>

                </fieldset>
                <footer></footer>

                                }
        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>





