﻿@model MandiriCRE.Models.BuildingUtility
@{
    ViewBag.Title = "Preview";
}

<div class="text-left">

    <button type="button" class="btn btn-primary" style="padding: 8px 25px;" onclick="window.history.back();">Kembali</button>
</div>
<br />
<div>
    <iframe id="iframepdf" src="~/content/document/buildingutility/@ViewBag.DocFile#view=fit" width="1200px" height="1600px"></iframe>
</div>



