﻿@model MandiriCRE.Models.BuildingUtility
@{
    ViewBag.Title = "Update";
}


<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit"></i>
                Data
                <span>
                    >
                    Utilitas Gedung
                </span>
            </h1>
        </div>
    </div>
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
            <h2> </h2>
        </header>
        <!-- widget div-->
        <div>
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    @Html.Raw(ViewBag.ErrorMessage)
                </div>
            }
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body">
                @using (Html.BeginForm("Update", "BuildingUtility", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { enctype = "multipart/form-data", @class = "smart-form", @id = "BuildingUtility-form" }))
                {
                    <div class="text-right">
                        <button class="btn btn-primary" type="button" style="padding: 8px 25px;" onclick="location.href='@Url.Action("Index", "BuildingUtility")'">Kembali</button>
                    </div>



                    <hr class="simple">
                    <ul id="myTab1" class="nav nav-tabs bordered">

                        <li class="active">
                            <a href="#s1" data-toggle="tab">Utilitas Gedung</a>
                        </li>
                        <li>
                            <a href="#s2" data-toggle="tab">Riwayat</a>
                        </li>

                    </ul>

                    <div id="myTabContent1" class="tab-content padding-10">
                        <div class="tab-pane fade in active" id="s1">
                            @{
                                List<MandiriCRE.Models.Building>
                                       BuildingList = ViewBag.ListBuilding;
                                List<MandiriCRE.Models.Subject>
                                    SubjectList = ViewBag.ListSubject;
                                List<MandiriCRE.Models.URCCode>
                                    URCCodeList = ViewBag.ListURCCode;
                            }
                            @{Html.RenderAction("PartialBuildingUtilityView", new { obj = ViewBag.objInfo, _listBuilding = BuildingList, _listSubject = SubjectList, _listURCCode = URCCodeList });}
                        </div>
                        <div class="tab-pane fade" id="s2">
                            @{
                                List<MandiriCRE.Models.LogHistory>
                                ListHist = new List<LogHistory>();
                                ListHist = ViewBag.ListHistory;
                            }
                            @{Html.RenderPartial("PartialHistory", ListHist);}
                        </div>


                    </div>
                                }
            </div>
            <!-- end widget content -->
        </div>
        <!-- end widget div -->
    </div>
    <!-- end widget -->
</div>






