﻿@model MandiriCRE.Models.MasterResidence
@{
                /**/

                ViewBag.Title = "Create";
}

<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2> </h2>
    </header>
    <!-- widget div-->
    <div>
        <!-- widget edit box -->
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                @Html.Raw(ViewBag.ErrorMessage)
            </div>
        }
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("Create", "MasterResidence",
    new { ReturnUrl = ViewBag.ReturnUrl },
    FormMethod.Post, new { enctype = "multipart/form-data", @class = "smart-form", @id = "MasterResidence-form" }))
    {

        <header>
            <div class="text-right">
                <input type="submit" value="Simpan" style="padding: 8px 25px;" class="btn btn-primary" />
                <button type="button" class="btn btn-default" style="padding: 8px 25px;" onclick="window.history.back();">Kembali</button>
            </div>
        </header>

        <fieldset>
            <div class="row">
                <section class="col col-6">
                    <label>Nomor</label>
                    <label class="input">
                        @*<input type="text" class="number2" name="ListNo" id="ListNo" value="@ViewBag.No" maxlength="255" placeholder=""  disabled="disabled">*@
                        <input type="text" class="number2" name="ListNo" id="ListNo" value="@ViewBag.No" readonly="readonly">
                    </label>
                </section>
                <section class="col col-6">
                    <label>No. ID PLN</label>
                    <label class="input">
                        <input type="text" name="PLNID" id="PLNID" value="@Model.PLNID" maxlength="255" placeholder="">
                    </label>
                </section>

            </div>
            <div class="row">
                <section class="col col-6">

                    <label>Jabatan*</label>
                    @{
                List<SelectListItem> listEmployeePosition = new List<SelectListItem>();
                List<MandiriCRE.Models.EmployeePosition> EmployeePositionList = ViewBag.ListEmployeePosition;
                foreach (var item in EmployeePositionList)
                {
                    listEmployeePosition.Add(new SelectListItem
                    {
                        Text = item.EmployeePositionName,
                        Value = item.EmployeePositionID
                    });
                }
                    }
                    <label class="select">
                        @Html.DropDownListFor(model => model.EmployeePositionID, listEmployeePosition.OrderBy(x => x.Text), "-- Pilih Jabatan --", new { @class = "select", @id = "EmployeePositionID" })
                    </label>
                </section>
                <section class="col col-6">
                    <label>No. ID PDAM</label>
                    <label class="input">
                        <input type="text" name="PDAMID" id="PDAMID" value="@Model.PDAMID" placeholder="">
                    </label>
                </section>

            </div>
            <div class="row">

                <section class="col col-6">

                    <label>Alamat Rumah Dinas*</label>
                    <label class="textarea">
                        <i class="icon-append fa fa-comment"></i>
                        <textarea rows="4" name="Address" id="Address" maxlength="255" placeholder="">@Model.Address</textarea>
                    </label>
                </section>
                <section class="col col-6">
                    <label>No. ID Telepon</label>
                    <label class="input">
                        <input type="text" name="TelephoneID" id="TelephoneID" value="@Model.TelephoneID" placeholder="">
                    </label>
                    <label>Vendor Residential Management</label>
                    <label class="input">
                        <input type="text" name="VendorResidentialManagement" id="VendorResidentialManagement" value="@Model.VendorResidentialManagement" maxlength="255" placeholder="">
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-6">
                    <label>Kota*</label>
                    @{
                List<SelectListItem> listCity = new List<SelectListItem>();
                List<MandiriCRE.Models.City> CityList = ViewBag.ListCity;
                foreach (var item in CityList)
                {
                    listCity.Add(new SelectListItem
                    {
                        Text = item.CityName,
                        Value = item.CityID
                    }); 
                }
                    }
                    <label class="select">
                        @Html.DropDownListFor(model => model.CityID, listCity.OrderBy(x => Convert.ToString(x.Text)), "-- Pilih Kota --", new { @class = "select", @id = "CityID" })
                    </label>
                </section>

                <section class="col col-6">
                    <label>Nilai Perolehan (Rp)</label>
                    <label class="input">
                        <input type="text" class="number2" name="AcquisitionValue" id="AcquisitionValue" value="@Model.AcquisitionValue" maxlength="255" placeholder="">
                    </label>
                </section>
            </div>

            <div class="row">
                <section class="col col-3">
                    <label>Luas Tanah*</label>
                    <label class="input">
                        <input type="text" class="number2" name="LandArea" id="LandArea" value="@Model.LandArea" maxlength="10" placeholder="">
                    </label>
                </section>
                    <section class="col col-3">
                        <label>Luas Bangunan</label>
                        <label class="input">
                            <input type="text" class="number2" name="BuildingArea" id="BuildingArea" value="@Model.BuildingArea" maxlength="10" placeholder="">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label>Tahun Perolehan</label>
                        <label class="input">
                            <input type="text" name="AcquisitionYear" id="AcquisitionYear" value="@Model.AcquisitionYear" maxlength="4" placeholder="">
                        </label>
                    </section>

</div>
            <div class="row">
                <section class="col col-6">
                    <label>Kelas*</label>
                    @{
                List<SelectListItem> listResidenceClass = new List<SelectListItem>();
                List<MandiriCRE.Models.ResidenceClass> ResidenceClassList = ViewBag.ListResidenceClass;
                foreach (var item in ResidenceClassList)
                {
                    listResidenceClass.Add(new SelectListItem
                    {
                        Text = item.ClassName,
                        Value = item.ClassID
                    });
                }
                    }
                    <label class="select">
                        @Html.DropDownListFor(model => model.ClassID, listResidenceClass.OrderBy(x => x.Text), "-- Pilih Kelas --", new { @class = "select", @id = "ClassID" })
                    </label>
                </section>
                <section class="col col-6">
                    <label>Renovasi Terakhir</label>
                    <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        <input type="text" name="RenovationDate" id="RenovationDate" value="@Model.RenovationDate" maxlength="255" placeholder="">
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-6">
                    <label>Nama Penghuni/Calon</label>
                    <label class="input">
                        <input type="text" name="ResidentName" id="ResidentName" value="@Model.ResidentName" maxlength="255" placeholder="">
                    </label>
                </section>
                <section class="col col-6">
                    <label>Biaya Renovasi (Rp)</label>
                    <label class="input">
                        <input type="text" class="number2" name="RenovationCost" id="RenovationCost" value="@Model.RenovationCost" maxlength="255" placeholder="">
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-6">
                    <label>Status Rumah Dinas*</label>
                    @{
                List<SelectListItem> listResidenceStatus = new List<SelectListItem>();
                List<MandiriCRE.Models.ResidenceStatus> ResidenceStatusList = ViewBag.ListResidenceStatus;
                foreach (var item in ResidenceStatusList)
                {
                    listResidenceStatus.Add(new SelectListItem
                    {
                        Text = item.ResidenceStatusName,
                        Value = item.ResidenceStatusID
                    });
                }
                    }
                    <label class="select">
                        @Html.DropDownListFor(model => model.ResidenceStatusID, listResidenceStatus.OrderBy(x => x.Text), "-- Pilih Status Rumah Dinas --", new { @class = "select", @id = "ResidenceStatusID" })
                    </label>
                </section>
                <section class="col col-6">
                    <label>Foto</label>
                    <div class="input input-file">
                        <span class="button"><input id="file" class="input-lg" type="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="filename" name="filename" value="@Model.DocFileName" placeholder="Pilih File.." readonly="">
                        *File dalam format PNG atau JPG
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col col-6">
                    <label>Kondisi*</label>
                    @{
                List<SelectListItem> listResidenceCondition = new List<SelectListItem>();
                List<MandiriCRE.Models.ResidenceCondition> ResidenceConditionList = ViewBag.ListResidenceCondition;
                foreach (var item in ResidenceConditionList)
                {
                    listResidenceCondition.Add(new SelectListItem
                    {
                        Text = item.ResidenceConditionName,
                        Value = item.ResidenceConditionID
                    });
                }
                    }
                    <label class="select">
                        @Html.DropDownListFor(model => model.ResidenceConditionID, listResidenceCondition.OrderBy(x => x.Text), "-- Pilih Kondisi --", new { @class = "select", @id = "ResidenceConditionID" })
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-6">
                    <label>Jenis Perbaikan</label>
                    @{
                List<SelectListItem> listRepairType = new List<SelectListItem>();
                List<MandiriCRE.Models.RepairType> RepairTypeList = ViewBag.ListRepairType;
                foreach (var item in RepairTypeList)
                {
                    listRepairType.Add(new SelectListItem
                    {
                        Text = item.RepairTypeName,
                        Value = item.RepairTypeID
                    });
                }
                    }
                    <label class="select">
                        @Html.DropDownListFor(model => model.RepairTypeID, listRepairType.OrderBy(x => x.Text), "-- Pilih Jenis Perbaikan --", new { @class = "select", @id = "RepairTypeID"  })
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-6">
                    <label>Keterangan</label>
                    <label class="input">
                        <input type="text" name="Description" id="Description" value="@Model.Description" maxlength="255" placeholder="">
                    </label>
                </section>
            </div>
        </fieldset>
        <footer></footer>
}
        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
<!-- end widget -->

@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            // Number Fields
            $('input.number2').keyup(function (event) {

                // skip for arrow keys
                if (event.which >= 37 && event.which <= 40) return;

                // format number
                $(this).val(function (index, value) {
                    return value
                    .replace(/\D/g, "")
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                    ;
                });
            });

            $('#RepairTypeID').attr('disabled', 'disabled');

            $('#ResidenceConditionID').change(function () {
                var varpic = $(this).val(); //kondisi kurang baik
                if (varpic == "2")
                {
                    $('#RepairTypeID').removeAttr('disabled');
                    $('#RepairTypeID').attr("required", "true");
                }
                else {
                    $('#RepairTypeID').attr('disabled', 'disabled');
                    $('#RepairTypeID').removeAttr("required");
                }
            });

            // START AND FINISH DATE
            $('#RenovationDate').datepicker({
                //minDate: 0, //310118
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                   // $('#ReleaseDateCertificate').datepicker('option', 'minDate', selectedDate);
                }
            });

            var $numberingForm = $("#MasterResidence-form").validate({
                // Rules for form validation
                rules: {
                    EmployeePositionID: {
                    required: true
                    },
                    Address: {
                        required: true
                    },
                    CityID: {
                        required: true
                    },
                    LandArea: {
                        required: true
                    },
                    ClassID: {
                        required: true
                    },
                   // ResidentName: {
                    //    required: true
                    //},
                    ResidenceConditionID: {
                        required: true
                    },
                    ResidenceStatusID: {
                        required: true
                    },
                    RepairTypeID: {
                        required: false
                    }
                },

                // Messages for form validation
                messages: {
                    EmployeePositionID: {
                        EmployeePositionID: 'Silahkan pilih Jabatan'
                    },
                    Address: {
                        required: 'Silahkan isi Alamat Rumah Dinas'
                    },
                    CityID: {
                        required: 'Silahkan pilih Kota'
                    },
                    LandArea: {
                        required: 'Silahkan isi Luas Tanah'
                    },
                    ClassID: {
                        required: 'Silahkan isi Kelas'
                    },
                    //ResidentName: {
                    //    required: 'Silahkan isi Nama Penghuni/Calon'
                    //},
                    ResidenceConditionID: {
                        required: 'Silahkan pilih Status Rumah Dinas'
                    },
                    ResidenceStatusID: {
                        required: 'Silahkan pilih Kondisi'
                    },
                    RepairTypeID: {
                        required: 'Silahkan pilih Jenis Perbaikan'
                    },
                },
            });



        })

    </script>
}
