﻿@model MandiriCRE.Models.MasterResidence
@{
    ViewBag.Title = "Update";
}


<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit"></i>
                Data
                <span>
                    >
                    Resident
                </span>
            </h1>
        </div>
    </div>
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
            <h2> </h2>
        </header>
        <!-- widget div-->
        <div>
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    @Html.Raw(ViewBag.ErrorMessage)
                </div>
            }
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body">
                @using (Html.BeginForm("Update", "MasterResidence", new { ReturnUrl = ViewBag.ReturnUrl, id = ViewBag.MasterResidenceID },
                FormMethod.Post, new { enctype = "multipart/form-data", @class = "smart-form", @id = "MasterResidence-form" }))
                {
                    <div class="text-right">
                        <button class="btn btn-primary" name="Sign" type="submit" style="padding: 8px 25px;">Simpan</button>
                        <button class="btn btn-primary" type="button" style="padding: 8px 25px;" onclick="location.href='@Url.Action("Index", "MasterResidence")'">Kembali</button>
                    </div>



                    <hr class="simple">
                    <ul id="myTab1" class="nav nav-tabs bordered">

                        <li class="active">
                            <a href="#s1" data-toggle="tab">Master Residence</a>
                        </li>
                        <li>
                            <a href="#s2" data-toggle="tab">Riwayat</a>
                        </li>

                    </ul>

                    <div id="myTabContent1" class="tab-content padding-10">
                        <div class="tab-pane fade in active" id="s1">
                            @{
                                List<MandiriCRE.Models.EmployeePosition>
                                   EmployeePositionList = ViewBag.ListEmployeePosition;
                                List<MandiriCRE.Models.City>
                                    CityList = ViewBag.ListCity;
                                List<MandiriCRE.Models.ResidenceClass>
                                    ResidenceClassList = ViewBag.ListResidenceClass;
                                List<MandiriCRE.Models.ResidenceStatus>
                                    ResidenceStatusList = ViewBag.ListResidenceStatus;
                                List<MandiriCRE.Models.ResidenceCondition>
                                    ResidenceConditionList = ViewBag.ListResidenceCondition;
                                List<MandiriCRE.Models.RepairType>
                                    RepairTypeList = ViewBag.ListRepairType;
                            }
                            @{Html.RenderAction("PartialMasterResidence", new { obj = ViewBag.objInfo, _listEmployeePosition = EmployeePositionList, _listCity = CityList, _listResidenceClass = ResidenceClassList, _listResidenceStatus = ResidenceStatusList, _listResidenceCondition = ResidenceConditionList, _listRepairType = RepairTypeList });}
                        </div>
                        <div class="tab-pane fade" id="s2">
                            @{
                                List<MandiriCRE.Models.LogHistory>
                                ListHist = new List<LogHistory>();
                                ListHist = ViewBag.ListHistory;
                            }
                            @{Html.RenderPartial("PartialHistory", ListHist);}
                        </div>


                    </div>
                }
            </div>
            <!-- end widget content -->
        </div>
        <!-- end widget div -->
    </div>
    <!-- end widget -->
</div>

@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            // Number Fields
            $('input.number2').keyup(function (event) {

                // skip for arrow keys
                if (event.which >= 37 && event.which <= 40) return;

                // format number
                $(this).val(function (index, value) {
                    return value
                        .replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                        ;
                });
            });

            if ($('#ResidenceConditionID').val() == "1")
                {
                $('#RepairTypeID').attr('disabled', 'disabled');
                $('#RepairTypeID').removeAttr("required");
                }

            $('#ResidenceConditionID').change(function () {
                var varpic = $(this).val(); //kondisi kurang baik
                if (varpic == "2")
                {
                    $('#RepairTypeID').removeAttr('disabled');
                    $('#RepairTypeID').attr("required", "true");
                }
                else {
                    $('#RepairTypeID').attr('disabled', 'disabled');
                    $('#RepairTypeID').removeAttr("required");
                }
            });


            // START AND FINISH DATE
            $('#RenovationDate').datepicker({
                //minDate: 0, //310118
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    // $('#ReleaseDateCertificate').datepicker('option', 'minDate', selectedDate);
                }
            });

            var $numberingForm = $("#MasterResidence-form").validate({
                // Rules for form validation
                rules: {
                    EmployeePositionID: {
                        required: true
                    },
                    Address: {
                        required: true
                    },
                    CityID: {
                        required: true
                    },
                    LandArea: {
                        required: true
                    },
                    ClassID: {
                        required: true
                    },
                    //ResidentName: {
                     //   required: true
                    //},
                    ResidenceConditionID: {
                        required: true
                    },
                    ResidenceStatusID: {
                        required: true
                    },
                    RepairTypeID: {
                        required: false
                    }
                },

                // Messages for form validation
                messages: {
                    EmployeePositionID: {
                        EmployeePositionID: 'Silahkan pilih Jabatan'
                    },
                    Address: {
                        required: 'Silahkan isi Alamat Rumah Dinas'
                    },
                    CityID: {
                        required: 'Silahkan pilih Kota'
                    },
                    LandArea: {
                        required: 'Silahkan isi Luas Tanah'
                    },
                    ClassID: {
                        required: 'Silahkan isi Kelas'
                    },
                   // ResidentName: {
                    //    required: 'Silahkan isi Nama Penghuni/Calon'
                    //},
                    ResidenceConditionID: {
                        required: 'Silahkan pilih Status Rumah Dinas'
                    },
                    ResidenceStatusID: {
                        required: 'Silahkan pilih Kondisi'
                    },
                    RepairTypeID: {
                        required: 'Silahkan pilih Jenis Perbaikan'
                    },
                },
            });



        })

    </script>
}


