﻿@model MandiriCRE.Models.ProcurementVendor

@{
    ViewBag.Title = "Create";
}
<h2></h2>
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2>Input form </h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("CreateVendor", "Procurement",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "smart-form", @id = "user-form" }))
            {

                <header>
                    New User
                </header>

                <fieldset>
                    <div class="row">
                        @{

                            List<SelectListItem> listPartners = new List<SelectListItem>();
                            List<MandiriCRE.Models.Partner> partnersList = ViewBag.ListPartners;
                            foreach (var item in partnersList)
                            {
                                listPartners.Add(new SelectListItem
                                {
                                    Text = item.VendorName + " | " + item.Industry + " | " + item.Address + " | " + item.PIC,
                                    Value = item.VendorID
                                });
                            }
                        }
                        <section class="col col-10">
                            <label class="select">
                                @Html.DropDownListFor(model => model.VendorID, listPartners, "-- Select Vendor --", new { @class = "select", @id = "vendors" })
                            </label>
                        </section>
                    </div>

                    <input type="text" id="procurementId" name="procurementId" value="@ViewBag.ProcurementID" hidden="hidden" />
                </fieldset>
                <footer>

                    <input type="submit" value="Save" class="btn btn-primary btn-lg" />
                    <button type="button" class="btn btn-default btn-lg" onclick="window.history.back();">Back</button>
                </footer>
                            }

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->



@section pagespecific {
    <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {




        var $vendorForm = $("#user-form").validate({
            // Rules for form validation
            rules: {
                UserId: {
                    required: true
                }
            },

            // Messages for form validation
            messages: {
                UserId: {
                    required: 'Please select User!'
                }
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    })
    </script>
}


