﻿@model MandiriCRE.Models.ProcurementHeader

@{
    ViewBag.Title = "Create";
}

<h2></h2>
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2>Input form </h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("Edit", "Procurement",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "smart-form", @id = "procurement-form" }))
            {

                <header>
                    New Numbering
                </header>

                <fieldset>
                    <section class="col col-6">
                        @*@{

                                List<SelectListItem> listTemplates = new List<SelectListItem>();
                                List<MandiriCRE.Models.Template> templateList = ViewBag.ListTemplates;
                                foreach (var item in templateList)
                                {
                                    listTemplates.Add(new SelectListItem
                                    {
                                        Text = item.TemplateName,
                                        Value = item.TemplateID
                                    });
                                }
                            }
                            <label class="select">
                                @Html.DropDownListFor(model => model.DocumentNo, listTemplates, "-- Select Doc Pengadaan --", new { @class = "select", @id = "documentNo" })
                            </label>*@
                        <label class="input">
                            <input type="text" name="documentNumber" disabled="disabled" value="@Model.DocumentNo" placeholder="Document Number">
                        </label>
                    </section>

                    <section class="col col-6">
                        @*@{

                            List<SelectListItem> listEmployee = new List<SelectListItem>();
                            List<MandiriCRE.Models.Employee> employeeList = ViewBag.ListEmployee;
                            foreach (var item in employeeList)
                            {
                                listEmployee.Add(new SelectListItem
                                {
                                    Text = item.EmployeeName + " | " + item.EmployeeNo,
                                    Value = item.EmployeeID
                                });
                            }
                        }
                        <label class="select">
                            @Html.DropDownListFor(model => model.EmployeePICID, listEmployee, "-- Select PIC --", new { @class = "select", @id = "picid" })
                        </label>*@
                        <label class="input">
                            <input type="text" name="documentNumber"  disabled="disabled" value="@Model.EmployeePICName" placeholder="Document Number">
                        </label>
                    </section>
                    <section class="col col-6">
                        @*<label class="input">
                                <input type="text" name="documentNumber" value="@Model.DocumentNo" placeholder="Document Number">
                            </label>*@
                    </section>
                    <section class="col col-6">
                        <label class="input">
                            <input type="text" name="picName" value="" disabled="disabled" placeholder="">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="input">
                            <input type="text" name="procTitle"  disabled="disabled" value="@Model.ProcurementName" placeholder="Procurement Tittle">
                        </label>
                    </section>
                    <section class="col col-6">
                        @*@{
                            foreach (var item in employeeList)
                            {
                                listEmployee.Add(new SelectListItem
                                {
                                    Text = item.EmployeeName + " | " + item.EmployeeNo,
                                    Value = item.EmployeeID
                                });
                            }
                        }
                        <label class="select">
                            @Html.DropDownListFor(model => model.EmployeeManagerID, listEmployee, "-- Select Manager --", new { @class = "select", @id = "managerid" })
                        </label>*@
                        <label class="input">
                            <input type="text" name="documentNumber"  disabled="disabled" value="@Model.EmployeeManagerName" placeholder="Document Number">
                        </label>
                    </section>

                    <section class="col col-6">
                        <label class="input">
                            <i class="icon-append fa fa-calendar"></i>
                            <input type="text" name="startdate" id="startdate"  disabled="disabled" value="@Model.DateStart" placeholder="Expected Valid From date">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="input">
                            <input type="text" name="managerName" value="" disabled="disabled" placeholder="">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="input">
                            <i class="icon-append fa fa-calendar"></i>
                            <input type="text" name="finishdate" id="finishdate"  disabled="disabled" value="@Model.DateEnd" placeholder="Expected Valid To date">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="textarea">
                            <i class="icon-append fa fa-comment"></i>
                            <textarea rows="4" name="description" disabled="disabled" id="description" placeholder="Additional Description">@Model.AdditionalInformation</textarea>
                        </label>
                    </section>
                </fieldset>
                <footer>

                    @*<input type="submit" value="Save" class="btn btn-primary" />*@
                    <button type="button" class="btn btn-default" onclick="window.history.back();">Back</button>
                </footer>
                            }

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->



@section pagespecific {
    <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {




        var $numberingForm = $("#procurement-form").validate({
            // Rules for form validation
            rules: {
                numberingtype: {
                    required: true
                },
                numberingcontent: {
                    required: true
                },
                numberingcontent: {
                    required: true
                },
                numberingcontent: {
                    required: true
                },
                numberingcontent: {
                    required: true
                },
                numberingcontent: {
                    required: true
                },
                numberingcontent: {
                    required: true
                },
                numberingcontent: {
                    required: true
                }
            },

            // Messages for form validation
            messages: {
                numberingtype: {
                    required: 'Please enter Numbering Type!'
                },
                numberingcontent: {
                    required: 'Please enter Nubmering Content!'
                },
                numberingcontent: {
                    required: 'Please enter Nubmering Content!'
                },
                numberingcontent: {
                    required: 'Please enter Nubmering Content!'
                },
                numberingcontent: {
                    required: 'Please enter Nubmering Content!'
                },
                numberingcontent: {
                    required: 'Please enter Nubmering Content!'
                },
                startdate: {
                    required: 'Please enter Start Date!'
                },
                finishdate: {
                    required: 'Please enter End Date!'
                }
            },
            // Ajax form submition
            //submitHandler: function (form) {
            //    $(form).ajaxSubmit({
            //        success: function () {
            //            $("#order-form").addClass('submited');
            //        }
            //    });
            //},
            // Do not change code below
            //errorPlacement: function (error, element) {
            //    error.insertAfter(element.parent());
            //}
        });
        // START AND FINISH DATE
        $('#startdate').datepicker({
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#finishdate').datepicker('option', 'minDate', selectedDate);
            }
        });

        $('#finishdate').datepicker({
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#startdate').datepicker('option', 'maxDate', selectedDate);
            }
        });

    })
    </script>
}
