﻿@model MandiriCRE.ViewModel.BuildingUtilityIndexViewModel
@{
    ViewBag.Title = "UtilitasGedung";
}
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-table fa-fw "></i>
                Laporan
                <span>
                    >
                    Utilitas Gedung
                </span>
            </h1>
        </div>
    </div>
    @using (Html.BeginForm("Index", "UtilitasGedung", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "smart-form", @id = "BuildingUtility-form" }))
    {

        <div class="row">
            <section class="col col-1">
                Gedung
            </section>
            <section class="col col-4">
                @{

                    List<SelectListItem> listBuilding = new List<SelectListItem>();
                    dynamic BuildingList = Newtonsoft.Json.JsonConvert.DeserializeObject(ViewBag.ListBuilding.BuildingJson);
                    listBuilding.Add(new SelectListItem
                    {
                        Text = "--Pilih Gedung--",
                        Value = "0"
                    });
                    foreach (var item in BuildingList)
                    {
                        listBuilding.Add(new SelectListItem
                        {
                            Text = item.BuildingName,
                            Value = item.BuildingID
                        });
                    }

                }

                <label class="select">
                    @*@Html.DropDownListFor(model => model.BuildingID, listBuilding, "-- Pilih Gedung --", new { @class = "select", @id = "BuildingID" })*@
                    @Html.DropDownList("BuildingID", new SelectList(listBuilding, "Value", "Text", ViewBag.buildingID))
                </label>
            </section>

        </div>
        <div class="row">
            <section class="col col-1">
                Tahun
            </section>
            <section class="col col-4">
                <label class="input">
                    <input type="text" class="number3" name="YearID" id="YearID" maxlength="4" placeholder="" value="@ViewBag.yearID">
                </label>


            </section>

            @*<input type="button" value="Convert to Excel" class="btn btn-primary" style="padding: 8px 25px;" onclick="location.href='@Url.Action("DownloadExcel", "Laporan")?startdate='+document.getElementById('startdate').value+'&enddate='+document.getElementById('enddate').value" />*@
        </div>
        <div class="row">
            <section class="col col-1">
                Bulan
            </section>
            <section class="col col-4">
                @*<select name="MonthID" id="MonthID" style="width: 390px !important; min-width: 390px; max-width: 390px;height: 27px !important;">
                    <option value="0" selected="" >--Pilih Bulan--</option>
                    <option value="1">Januari</option>
                    <option value="2">Februari</option>
                    <option value="3">Maret</option>
                    <option value="4">April</option>
                    <option value="5">Mei</option>
                    <option value="6">Juni</option>
                    <option value="7">Juli</option>
                    <option value="8">Agustus</option>
                    <option value="9">September</option>
                    <option value="10">Oktober</option>
                    <option value="11">November</option>
                    <option value="12">Desember</option>
                @{
                if (ViewBag.monthID != null && ViewBag.monthID != "0")
                    {
                        <option value=@ViewBag.monthID selected="">@ViewBag.MonthName</option>
                    }
                }
                </select> <i></i>*@
                @{
                    List<SelectListItem> listMonth = new List<SelectListItem>();
                    listMonth.Add(new SelectListItem
                    { Text = " --Pilih Bulan--", Value = "0" });
                    listMonth.Add(new SelectListItem
                    { Text = "Januari", Value = "1" });
                    listMonth.Add(new SelectListItem
                    { Text = "Februari", Value = "2" });
                    listMonth.Add(new SelectListItem
                    { Text = "Maret", Value = "3" });
                    listMonth.Add(new SelectListItem
                    { Text = "April", Value = "4" });
                    listMonth.Add(new SelectListItem
                    { Text = "Mei", Value = "5" });
                    listMonth.Add(new SelectListItem
                    { Text = "Juni", Value = "6" });
                    listMonth.Add(new SelectListItem
                    { Text = "Juli", Value = "7" });
                    listMonth.Add(new SelectListItem
                    { Text = "Agustus", Value = "8" });
                    listMonth.Add(new SelectListItem
                    { Text = "September", Value = "9" });
                    listMonth.Add(new SelectListItem
                    { Text = "Oktober", Value = "10" });
                    listMonth.Add(new SelectListItem
                    { Text = "November", Value = "11" });
                    listMonth.Add(new SelectListItem
                    { Text = "Desember", Value = "12" });

                }
                <label class="select">
                    @*@Html.DropDownListFor(model => model.MonthID, listMonth.OrderBy(x => Convert.ToInt32(x.Value)), "-- Pilih Bulan --", new { @class = "select", @id = "MonthID" })*@
                    @Html.DropDownList("MonthID", new SelectList(listMonth, "Value", "Text", ViewBag.monthID))
                </label>
            </section>

            @*<input type="button" value="Convert to Excel" class="btn btn-primary" style="padding: 8px 25px;" onclick="location.href='@Url.Action("DownloadExcel", "Laporan")?startdate='+document.getElementById('startdate').value+'&enddate='+document.getElementById('enddate').value" />*@
        </div>
        <div class="row">
            <section class="col col-1">
                Perihal
            </section>
            <section class="col col-4">
                @{

                    List<SelectListItem> listsubject = new List<SelectListItem>();
                    dynamic SubjectList = Newtonsoft.Json.JsonConvert.DeserializeObject(ViewBag.ListSubject.SubjectJson);
                    listsubject.Add(new SelectListItem
                    {
                        Text = "--Pilih Perihal--",
                        Value = "0"
                    });
                    foreach (var item in SubjectList)
                    {
                        listsubject.Add(new SelectListItem
                        {
                            Text = item.SubjectName,
                            Value = item.SubjectID
                        });
                    }

                }

                <label class="select">
                    @*@Html.DropDownListFor(model => model.SubjectID, listsubject.OrderBy(x => x.Value), "-- Pilih Perihal --", new { @class = "select", @id = "SubjectID" })*@
                    @Html.DropDownList("SubjectID", new SelectList(listsubject, "Value", "Text", ViewBag.subjectID))
                </label>

            </section>



            @*<input type="button" value="Convert to Excel" class="btn btn-primary" style="padding: 8px 25px;" onclick="location.href='@Url.Action("DownloadExcel", "Laporan")?startdate='+document.getElementById('startdate').value+'&enddate='+document.getElementById('enddate').value" />*@
        </div>
        <div class="row">
            <section class="col col-1">
                URC
            </section>
            <section class="col col-4">
                @{

                    List<SelectListItem> listURCCode = new List<SelectListItem>();
                    dynamic URCCodeList = Newtonsoft.Json.JsonConvert.DeserializeObject(ViewBag.ListURCCode.URCCodeJson);
                    listURCCode.Add(new SelectListItem
                    {
                        Text = "--Pilih URC--",
                        Value = "0"
                    });
                    foreach (var item in URCCodeList)
                    {

                        listURCCode.Add(new SelectListItem
                        {
                            Text = item.URCCodeName,
                            Value = item.URCCodeID
                        });
                    }

                }

                <label class="select">
                    @*@Html.DropDownListFor(model => model.URCCodeID, listURCCode.OrderBy(x => x.Value), "-- Pilih Kode URC --", new { @class = "select", @id = "URCCodeID" })*@
                    @Html.DropDownList("URCCodeID", new SelectList(listURCCode, "Value", "Text", ViewBag.uRCCodeID))
                </label>

            </section>



            @*<input type="button" value="Convert to Excel" class="btn btn-primary" style="padding: 8px 25px;" onclick="location.href='@Url.Action("DownloadExcel", "Laporan")?startdate='+document.getElementById('startdate').value+'&enddate='+document.getElementById('enddate').value" />*@
        </div>
        <div class="row">
            <section class="col col-1"></section>
            <section class="col col-4">
                <input type="submit" value="Search" name="Search" class="btn btn-primary" style="padding: 8px 25px;" />
                <input type="submit" value="Convert to Excel" name="Excel" class="btn btn-primary" style="padding: 8px 25px;" />
            </section>

        </div>
                    }
    <br />


    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
                    <header></header>
                    <!-- widget div-->
                    <div>
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="table-responsive">

                                <table data-pdf-download-url="@Url.Action("Preview")"
                                       data-non-pdf-download-url="@Url.Content("~/content/document/buildingutility/")"
                                       id="datatable_fixed_column"
                                       class="table table-striped table-bordered table-hover">


                                    <thead>
                                        <tr>
                                            <th colspan="6" class="text-center">SUMMARY</th>
                                            @*<th colspan="3"  class="text-center">@ViewBag.TotalSetOff</th>*@
                                            <th colspan="6" class="text-center" id="TotalSetOff"></th>

                                        </tr>
                                        <tr>
                                            <th data-hide="phone,tablet" class="text-center">Tahun</th>
                                            <th data-hide="phone,tablet" class="text-center">Bulan</th>
                                            <th data-hide="phone,tablet" class="text-center">Percadangan</th> @*//req231018*@
                                            <th data-hide="phone,tablet" class="text-center">Gedung</th>
                                            <th data-hide="phone,tablet" class="text-center">URC</th> @*//req231018*@
                                            <th data-hide="phone,tablet" class="text-center">Perihal</th>
                                            <th data-hide="phone,tablet" class="text-center">Tagihan (Rp)</th>
                                            <th data-hide="phone,tablet" class="text-center">Set Off (Rp)</th>
                                            <th data-hide="phone,tablet" class="text-center">FPP</th>
                                        </tr>

                                        <tr>
                                            <th class="hasinput" style="width:4%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->






</div>

@section pagespecific {

    <script type="text/javascript">

        var $datatableFixedColumn = $('#datatable_fixed_column');
        var permissions = {
            isAllowedToView: @Json.Encode(Model.IsAllowedToView),
            isAllowedToUpdate: @Json.Encode(Model.IsAllowedToUpdate),
            isAllowedToDelete: @Json.Encode(Model.IsAllowedToDelete),
            isAllowedToDuplicate: @Json.Encode(Model.IsAllowedToDuplicate),
        };

        var pdfDownloadUrl = $datatableFixedColumn.attr('data-pdf-download-url');
        var nonPdfDownloadUrl = $datatableFixedColumn.attr('data-non-pdf-download-url');

        function createGetUrl(baseUrl, parameters) {
            if (!parameters) {
                return baseUrl;
            } else {
                if (baseUrl.endsWith('/')) {
                    baseUrl = baseUrl.substr(0, baseUrl.length - 1);
                }
                return baseUrl + '?' + $.param(parameters);
            }
        }

        function checkIsPdf(filePath) {
            if (!filePath || typeof filePath !== 'string') return false;

            return filePath.toLowerCase().endsWith('.pdf');
        }

        function renderLinkToDocument(documentFilePath) {
            if (!documentFilePath || typeof documentFilePath !== 'string') {
                return '';
            } else if (checkIsPdf(documentFilePath)) {
                var hyperlink = createGetUrl(pdfDownloadUrl, { docfile: documentFilePath });
                return '<a href="' + hyperlink + '"/>' + documentFilePath + '</a>'
            } else {
                var hyperlink = nonPdfDownloadUrl + documentFilePath
                return '<a href="' + hyperlink + '"/>' + documentFilePath + '</a>'
            }
        }

        function renderNumber(number) {
            if (typeof number !== 'number') {
                return '';
            } else {
                return number.toFixed(0);
            }
        }

        function renderDate(date) {
            if (!date) {
                return '';
            } else if (date.toLocaleDateString) {
                date.toLocaleDateString('id-ID');
            } else {
                return date;
            }
        }

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };


        });

        /* COLUMN FILTER  */
        var otable = $('#datatable_fixed_column').DataTable({
            "autoWidth": true,
            data: @Html.Raw(Model.BuildingUtilityJson),
            order: [[0, "asc"]],
            columns: [
                { data: 'YearID' },
                { data: 'MonthName' },
                { data: 'Pencadangan', render: renderNumber },
                { data: 'BuildingName' },
                { data: 'URCCode' },
                { data: 'Subject' },//n
                { data: 'Invoice', render: renderNumber },//n
                { data: 'SetOff', render: renderNumber  },
                { data: 'DocFileName', render: renderLinkToDocument }
            ],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        //i.replace(/[\$.]/g, '') * 1 :
                        i.replace(/(\d+).(?=\d{3}(\D|$))/g, "$1") * 1 :
                        typeof i === 'number' ?
                        i : 0;
                };

                // Total over all employees
                total = api
                    .column(6)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over this employees page
                pageTotal = api
                    .column(6, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over all employees
                totalSetOff = api
                    .column(7)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over this employees page
                pageSetOff = api
                    .column(7, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);



                // Update footer
                document.getElementById("TotalSetOff").innerText = (pageTotal - pageSetOff).toLocaleString() + ' (total:' + (total - totalSetOff).toLocaleString() + ')';

            }

        });

        //otable.sort(sort_by('NemberingID', true, parseInt));
        // Apply the filter
        $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

            otable
                .column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw()
                .order(0, "asc");

        });
        /* END COLUMN FILTER */


    </script>
}


