﻿@model MandiriCRE.Models.Tax
@{
    ViewBag.Title = "Create";
}

<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2> </h2>
    </header>
    <!-- widget div-->
    <div>
        <!-- widget edit box -->
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                @Html.Raw(ViewBag.ErrorMessage)
            </div>
        }
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("Create", "Tax",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { enctype = "multipart/form-data", @class = "smart-form", @id = "tax-form" }))
            {

                <header>
                    <div class="text-right">
                        <input type="submit" value="Simpan" style="padding: 8px 25px;" class="btn btn-primary" />
                        <button type="button" class="btn btn-default" style="padding: 8px 25px;" onclick="window.history.back();">Kembali</button>
                    </div>
                </header>

                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            @{

                                List<SelectListItem> listGLs = new List<SelectListItem>();
                                List<MandiriCRE.Models.GL> GLList = ViewBag.ListGL;
                                foreach (var item in GLList)
                                {
                                    listGLs.Add(new SelectListItem
                                    {
                                        Text = item.GLName,
                                        Value = item.GLID
                                    });
                                }
                            }
                            <label>GL*</label>
                            <label class="select">
                                @Html.DropDownListFor(model => model.GLID, listGLs.OrderBy(x => x.Text), "-- Pilih GL --", new { @class = "select", @id = "gLID", @tabindex="1" })
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Kecamatan*</label>
                            <label class="input">
                                <input type="text" name="kecamatan" id="kecamatan" value="@Model.Kecamatan" maxlength="255" placeholder="" tabindex="14">
                            </label>
                        </section>

                    </div>
                    <div class="row">
                        <section class="col col-6">
                            @{

                                List<SelectListItem> listPayments = new List<SelectListItem>();
                                List<MandiriCRE.Models.Payment> paymentList = ViewBag.ListPayments;
                                foreach (var item in paymentList)
                                {
                                    listPayments.Add(new SelectListItem
                                    {
                                        Text = item.PaymentName,
                                        Value = item.PaymentName
                                    });
                                }
                                listPayments.Add(new SelectListItem
                                {
                                    Text = "Lain-lain",
                                    Value = "0"
                                });

                            }
                            <label>Pembayaran*</label>
                            <label class="select">
                                @Html.DropDownListFor(model => model.PaymentName, listPayments.OrderBy(x => x.Text), "-- Pilih Pembayaran --", new { @class = "select", @id = "PaymentName", @tabindex = "2" })

                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Kota*</label>
                            <label class="input">
                                <input type="text" name="city" id="city" value="@Model.City" maxlength="255" placeholder="" tabindex="15">
                            </label>
                        </section>

                    </div>
                    <div class="row">

                        <section class="col col-6">
                            <label>Pembayaran Lain*</label>
                            <label class="input">
                                <input type="text" name="OtherPayment" id="OtherPayment" value="@ViewBag.OtherPayment" maxlength="255" placeholder="" tabindex="3">
                            </label>

                        </section>
                        <section class="col col-6">
                            <label>Nama Wajib Pajak*</label>
                            <label class="input">
                                <input type="text" name="taxPayerName" id="taxPayerName" value="@Model.TaxPayerName" maxlength="255" placeholder="" tabindex="16">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            @{

                                List<SelectListItem> listTaxYears = new List<SelectListItem>();
                                List<MandiriCRE.Models.YearTax> TaxYearList = ViewBag.ListTaxYear;
                                foreach (var item in TaxYearList)
                                {
                                    listTaxYears.Add(new SelectListItem
                                    {
                                        Text = item.TaxYear,
                                        Value = item.TaxYearID
                                    });
                                }

                            }
                            <label>Tahun Pajak*</label>
                            <label class="select">
                                @Html.DropDownListFor(model => model.TaxYearID, listTaxYears.OrderBy(x => Convert.ToInt32(x.Text)), "-- Pilih Tahun --", new { @class = "select", @id = "taxYearID" ,@tabindex = "4" })

                            </label>

                        </section>
                        <section class="col col-6">
                            <label>Alamat Wajib Pajak*</label>
                            <label class="textarea">
                                <i class="icon-append fa fa-comment"></i>
                                <textarea rows="4" name="taxPayerAddress" id="taxPayerAddress" maxlength="255" placeholder="" tabindex="17">@Model.TaxPayerAddress</textarea>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>ID SAP*</label>
                            <label class="input">
                                <input type="text" name="iDSAP" id="iDSAP" value="@Model.IDSAP" maxlength="255" placeholder="", tabindex="5">
                            </label>

                        </section>
                        <section class="col col-6">
                            <label>Pajak Dibayar (Rp)*</label>
                            <label class="input">
                                <input type="text" class="number2" name="taxPaid" id="taxPaid" value="@Model.TaxPaid" maxlength="255" placeholder="" tabindex="18">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>LapKeu*</label>
                            @*<label class="input">
                                    <input type="text" name="financeReport" id="financeReport" value="@Model.FinanceReport" placeholder="">
                                </label>*@<br />
                            <select name="financeReport" id="financeReport" style="width:100%; height : 30px" tabindex="6">
                                <option value="@Model.FinanceReport" selected=""  tabindex="6">@Model.FinanceReport</option>
                             @{
                                 if (Model.FinanceReport == "Y")
                                 {
                                    <option value="T">T</option>
                                 }
                                 else if (Model.FinanceReport == "T")
                                 {
                                    <option value="Y">Y</option>
                                 }
                                 else
                                 {
                                    <option value="Y">Y</option>
                                    <option value="T">T</option>
                                 }
                            }
                                
                                
                            </select> <i></i>

                        </section>
                        <section class="col col-6">
                            <label>Dibayar Oleh*</label>
                            <label class="input">
                                <input type="text" name="paidBy" id="paidBy" value="@Model.PaidBy" maxlength="255" placeholder="" tabindex="19">
                            </label>
                        </section>

                    </div>
                    <div class="row">
                        <section class="col col-6">
                            @{

                                List<SelectListItem> listATTBTypes = new List<SelectListItem>();
                                List<MandiriCRE.Models.ATTBTypeModels> ATTBTypeList = ViewBag.ListATTBType;
                                foreach (var item in ATTBTypeList)
                                {
                                    listATTBTypes.Add(new SelectListItem
                                    {
                                        Text = item.ATTBType,
                                        Value = item.ATTBTypeID
                                    });
                                }

                            }
                            <label>Jenis ATTB*</label>
                            <label class="select">
                                @Html.DropDownListFor(model => model.ATTBTypeID, listATTBTypes.OrderBy(x => x.Text), "-- Pilih Tipe ATTB --", new { @class = "select", @id = "aTTBTypeID" , @tabindex = "7" })

                            </label>

                        </section>
                        <section class="col col-6">
                            <label>Keterangan</label>
                            <label class="textarea">
                                <i class="icon-append fa fa-comment"></i>
                                <textarea rows="4" name="desciption" id="desciption" maxlength="255" placeholder="" tabindex="20">@Model.Desciption</textarea>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Nama ATTB*</label>
                            <label class="input">
                                <input type="text" name="aTTBName" id="aTTBName" value="@Model.ATTBName" maxlength="255" placeholder="", tabindex="8">
                            </label>

                        </section>
                        <section class="col col-6">
                            <label>Lampiran</label>
                            <div class="input input-file">
                                <span class="button"><input id="file" class="input-lg" type="file" name="file" onchange="this.parentNode.nextSibling.value = this.value" >Browse</span><input type="text" id="docFileName" name="docFileName" value="" placeholder="Pilih Dokumen.." readonly="" tabindex="21">
                                *File dalam format Word / Excel / PDF
                            </div>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Cabang</label>
                            <label class="input">
                                <input type="text" name="branch" id="branch" value="@Model.Branch" maxlength="255" placeholder="" disabled="disabled" tabindex="9">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Lampiran 2</label>
                            <div class="input input-file">
                                <span class="button"><input id="file2" class="input-lg" type="file" name="file2" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="docFileName2" name="docFileName2" value="" placeholder="Pilih Dokumen.." readonly="" tabindex="22">
                                *File dalam format Word / Excel / PDF
                            </div>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            @{

                                List<SelectListItem> listRegionAssets = new List<SelectListItem>();
                                List<MandiriCRE.Models.RegionAssetModels> RegionAssetList = ViewBag.ListRegionAsset;
                                foreach (var item in RegionAssetList)
                                {
                                    listRegionAssets.Add(new SelectListItem
                                    {
                                        Text = item.RegionAsset,
                                        Value = item.RegionAssetID
                                    });
                                }

                            }
                            <label>Region*</label>
                            <label class="select">
                                @Html.DropDownListFor(model => model.RegionAssetID, listRegionAssets.OrderBy(x => Convert.ToInt32(x.Value)), "-- Pilih Region --", new { @class = "select", @id = "regionAssetID", @tabindex = "10" })

                            </label>
                        </section>
                        <section class="col col-6">
                            <label>Lampiran 3</label>
                            <div class="input input-file">
                                <span class="button"><input id="file3" class="input-lg" type="file" name="file3" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" id="docFileName3" name="docFileName3" value="" placeholder="Pilih Dokumen.." readonly="" tabindex="23">
                                *File dalam format Word / Excel / PDF
                            </div>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                           
                            <label>NOP*</label>
                            <label class="input">
                                <input type="text" name="nOP" id="nOP" value="@Model.NOP" maxlength="255" placeholder="", tabindex="11">
                            </label>

                        </section>
                        <section class="col col-3">
                            <label>Luas Tanah*</label>
                            <label class="input">
                                <input type="text" class="number2" name="landArea" id="landArea" value="@Model.LandArea" maxlength="255" placeholder="" tabindex="24">
                            </label>
                        </section>
                        <section class="col col-3">
                            <label>Luas Bangunan*</label>
                            <label class="input">
                                <input type="text" class="number2" name="buildingArea" id="buildingArea" value="@Model.BuildingArea" maxlength="255" placeholder="" tabindex="25">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Letak Objek Pajak*</label>
                            <label class="input">
                                <input type="text" name="objectLocation" id="objectLocation" value="@Model.ObjectLocation" maxlength="255" placeholder="", tabindex="12">
                            </label> 
                        </section>
                        <section class="col col-3">
                            <label>NJOP/M2 (Rp)*</label>
                            <label class="input">
                                <input type="text" class="number2" name="landNJOP" id="landNJOP" value="@Model.LandNJOP" maxlength="255" placeholder="" tabindex="26">
                            </label>
                        </section>
                        <section class="col col-3">
                            <label>NJOP/M2 (Rp)*</label>
                            <label class="input">
                                <input type="text" class="number2" name="buildingNJOP" id="buildingNJOP" value="@Model.BuildingNJOP" maxlength="255" placeholder="" tabindex="27">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>Kelurahan*</label>
                            <label class="input">
                                <input type="text" name="kelurahan" id="kelurahan" value="@Model.Kelurahan" maxlength="255" placeholder="" tabindex="13">
                            </label>

                        </section>


                        <section class="col col-3">
                            <label>Kelas*</label>
                            <label class="input">
                                <input type="text" class="number2" name="landClass" id="landClass" value="@Model.LandClass" maxlength="255" placeholder="" tabindex="28">
                            </label>
                        </section>
                        <section class="col col-3">
                            <label>Kelas*</label>
                            <label class="input">
                                <input type="text" class="number2" name="buildingClass" id="buildingClass" value="@Model.BuildingClass" maxlength="255" placeholder="" tabindex="29">
                            </label>
                        </section>
                    </div>
                    @*<div class="row">
                        <section class="col col-6">
                           
                        </section>
                        <section class="col col-6">
                           
                        </section>
                    </div>*@
                </fieldset>
                <footer></footer>
                                }
        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
<!-- end widget -->

@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            // Number Fields
            $('input.number2').keyup(function (event) {

                // skip for arrow keys
                if (event.which >= 37 && event.which <= 40) return;

                // format number
                $(this).val(function (index, value) {
                    return value
                    .replace(/\D/g, "")
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                    ;
                });
            });


            $('#aTTBTypeID').change(function () {
                //var varpic = $(this).Text();
                var varpic = $(this).val();
                if (varpic == "1") {
                    $('#branch').removeAttr('disabled');
                    $('#branch').attr("required", "true");
                }
                else {
                    $('#branch').attr('disabled', 'disabled');
                    $('#branch').removeAttr("required");
                }
            });

            if (($('#PaymentName').val()) != "0") {
                $('#OtherPayment').attr('disabled', 'disabled');
                $('#OtherPayment').removeAttr("required");
            };
            if (($('#PaymentName').val()) == "0") {
                $('#OtherPayment').attr("required", "true");
            };

            $('#PaymentName').change(function () {
                var varpayment = $(this).val();
                if (varpayment == "0") {
                    $('#OtherPayment').removeAttr('disabled');
                    $('#OtherPayment').attr("required", "true");
                }
                else {
                    $('#OtherPayment').attr('disabled', 'disabled');
                    $('#OtherPayment').removeAttr("required");
                }
            });

            var $numberingForm = $("#tax-form").validate({
                // Rules for form validation
                rules: {
                    GLID: {
                        required: true
                    },
                    PaymentName: {
                        required: true
                    },
                    TaxYearID: {
                        required: true
                    },
                    iDSAP: {
                        required: true
                    },
                    financeReport: {
                        required: true
                    },
                    ATTBTypeID: {
                        required: true
                    },
                    aTTBName: {
                        required: true
                    },
                    branch: {
                        required: false
                    },
                    RegionAssetID: {
                        required: true
                    },
                    nOP: {
                        required: true
                    },
                    objectLocation: {
                        required: true
                    },
                    kelurahan: {
                        required: true
                    },
                    kecamatan: {
                        required: true
                    },
                    city: {
                        required: true
                    },
                    taxPayerName: {
                        required: true
                    },
                    taxPayerAddress: {
                        required: true
                    },
                    taxPaid: {
                        required: true
                    },
                    paidBy: {
                        required: true
                    },
                    desciption: {
                        required: false
                    },
                    buildingArea: {
                        required: true
                    },
                    buildingNJOP: {
                        required: true
                    },
                    buildingClass: {
                        required: true
                    },
                    landArea: {
                        required: true
                    },
                    landNJOP: {
                        required: true
                    },
                    landClass: {
                        required: true
                    },
                    docFileName: {
                        required: false
                    }
                },

                // Messages for form validation
                messages: {
                    GLID: {
                        required: 'Silahkan pilih GL'
                    },
                    PaymentName: {
                        required: 'Silahkan pilih Pembayaran'
                    },
                    TaxYearID: {
                        required: 'Silahkan pilih Tahun'
                    },
                    iDSAP: {
                        required: 'Silahkan isi ID SAP'
                    },
                    financeReport: {
                        required: 'Silahkan isi Lap Keu'
                    },
                    ATTBTypeID: {
                        required: 'Silahkan pilih Tipe ATTB'
                    },
                    aTTBName: {
                        required: 'Silahkan isi Nama ATTB'
                    },
                    branch: {
                        required: 'Silahkan isi Cabang'
                    },
                    RegionAssetID: {
                        required: 'Silahkan pilih Region'
                    },
                    nOP: {
                        required: 'Silahkan isi NOP'
                    },
                    objectLocation: {
                        required: 'Silahkan isi Lokasi Objek'
                    },
                    kelurahan: {
                        required: 'Silahkan isi Kelurahan'
                    },
                    kecamatan: {
                        required: 'Silahkan isi Kecamatan'
                    },
                    city: {
                        required: 'Silahkan isi Kota'
                    },
                    taxPayerName: {
                        required: 'Silahkan isi Nama Wajib Pajak'
                    },
                    taxPayerAddress: {
                        required: 'Silahkan isi Alamat Wajib Pajak'
                    },
                    taxPaid: {
                        required: 'Silahkan isi Pajak Dibayar'
                    },
                    paidBy: {
                        required: 'Silahkan isi DIbayar'
                    },
                    desciption: {
                        required: 'Silahkan isi Keterangan'
                    },
                    buildingArea: {
                        required: 'Silahkan isi Luas Bangunan'
                    },
                    buildingNJOP: {
                        required: 'Silahkan isi NJOP '
                    },
                    buildingClass: {
                        required: 'Silahkan isi Kelas '
                    },
                    landArea: {
                        required: 'Silahkan isi Luas Tanah'
                    },
                    landNJOP: {
                        required: 'Silahkan isi NJOP'
                    },
                    landClass: {
                        required: 'Silahkan isi Kelas'
                    }
                },
            });



        })
    </script>
}