﻿@model MandiriCRE.Models.Tax
@{
    ViewBag.Title = "Delete";
}



<h2></h2>
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
    </header>
    <!-- widget div-->
    <div>
        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("Delete", "Tax",
            new { ReturnUrl = ViewBag.ReturnUrl, id = ViewBag.TaxID },
            FormMethod.Post, new { @class = "smart-form", @id = "numbering-form" }))
            {
                <header>
                    <b> Apakah Anda yakin akan menghapus data ini ?</b>
                </header>

                <div class="text-right">
                    <button class="btn btn-primary" name="Sign" type="submit" style="padding: 8px 25px;">Hapus</button>
                    <button class="btn btn-primary" type="button" style="padding: 8px 25px;" onclick="location.href='@Url.Action("Index", "Tax")'">Batal</button>
                </div>

                <fieldset>
                    @{
                        List<MandiriCRE.Models.GL>
                               GLList = ViewBag.ListGL;
                        List<MandiriCRE.Models.Payment>
                            paymentList = ViewBag.ListPayments;
                        List<MandiriCRE.Models.ATTBTypeModels>
                            ATTBTypeList = ViewBag.ListATTBType;
                        List<MandiriCRE.Models.RegionAssetModels>
                            regionAssetList = ViewBag.ListRegionAsset;
                        List<MandiriCRE.Models.YearTax>
                            yearTaxList = ViewBag.ListTaxYear;

                    }
                    @{Html.RenderAction("PartialTaxView", new { obj = ViewBag.objInfo, _listGL = GLList, _listPayment = paymentList, _listATTBType = ATTBTypeList, _listRegionAsset = regionAssetList, _listyearTax = yearTaxList });}


                </fieldset>
                <footer>
                    @*<input type="submit" value="Hapus" class="btn btn-primary btn-lg" />
                    <button type="button" class="btn btn-default" onclick="window.history.back();">Batal</button>*@
                </footer>
            }
        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
<!-- end widget -->


@*<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <b> Apakah Anda yakin akan menghapus data ini ?</b>
            </h1>
        </div>
    </div>
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
        
            <header>
                <b> Apakah Anda yakin akan menghapus data ini ?</b>
            </header>

        
        <!-- widget div-->
        <div>
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            @using (Html.BeginForm("View", "Tax",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "smart-form", @id = "tax-form" }))
            {
                <div class="widget-body">
                    <div class="text-right">
                        <button class="btn btn-primary" name="Sign" type="submit" style="padding: 8px 25px;">Hapus</button>
                        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Index", "Tax" )'" style="padding: 8px 25px;">Batal</button>
                    </div>
                    <hr class="simple">
                    <ul id="myTab1" class="nav nav-tabs bordered">
                        <li class="active">
                            <a href="#s1" data-toggle="tab">Tax</a>
                        </li>
                        <li>
                            <a href="#s2" data-toggle="tab">Riwayat</a>
                        </li>
                    </ul>
                    <div id="myTabContent1" class="tab-content padding-10">
                        <div class="tab-pane fade in active" id="s1">
                            @{
                                List<MandiriCRE.Models.GL>
                                       GLList = ViewBag.ListGL;
                                List<MandiriCRE.Models.Payment>
                                    paymentList = ViewBag.ListPayments;
                                List<MandiriCRE.Models.ATTBTypeModels>
                                    ATTBTypeList = ViewBag.ListATTBType;
                                List<MandiriCRE.Models.RegionAssetModels>
                                    regionAssetList = ViewBag.ListRegionAsset;
                                List<MandiriCRE.Models.YearTax>
                                    yearTaxList = ViewBag.ListTaxYear;

                            }
                            @{Html.RenderAction("PartialTaxView", new { obj = ViewBag.objInfo, _listGL = GLList, _listPayment = paymentList, _listATTBType = ATTBTypeList, _listRegionAsset = regionAssetList, _listyearTax = yearTaxList });}

                        </div>

                        <div class="tab-pane fade" id="s2">
                            @{
                                List<MandiriCRE.Models.LogHistory>
                                ListHist = new List<LogHistory>();
                                ListHist = ViewBag.ListHistory;
                            }
                            @{Html.RenderPartial("PartialHistory", ListHist);}
                        </div>
                    </div>
                </div>
            <!-- end widget content -->
                                }
        </div>
        <!-- end widget div -->
    </div>
    <!-- end widget -->
</div>*@


