﻿@model MandiriCRE.ViewModel.TaxIndexViewModel

@{
    ViewBag.Title = "Index";
}

<div id="content">
    <div class="row">
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>List Data Pajak </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="table-responsive">

                                <table id="datatable_fixed_column"
                                       data-delete-url="@Url.Action("Delete")"
                                       data-view-url="@Url.Action("View")"
                                       data-duplicate-url="@Url.Action("Duplicate2")"
                                       data-update-url="@Url.Action("Update")"
                                       data-pdf-download-url="@Url.Action("Preview")"
                                       data-non-pdf-download-url="@Url.Content("~/content/document/tax/")"
                                       class="table table-striped table-bordered table-hover"
                                       width="100%">
                                    <thead>
                                        <tr>
                                            <br />

                                            @{if (Session["Access"].ToString() != "")
                                                {
                                                    int index = Session["Access"].ToString().IndexOf("19");
                                                    string akses = Session["Access"].ToString().Substring(index + 3, 1);
                                                    if (akses == "Y" || Session["Access"].ToString() == "superadmin")
                                                    {
                                                        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Create", "Tax")'">Tambah</button>
                                                    }
                                                }
                                            }
                                            &nbsp;&nbsp;
                                            @{if (Session["Access"].ToString() != "")
                                                {
                                                    int index = Session["Access"].ToString().IndexOf("19");
                                                    string akses = Session["Access"].ToString().Substring(index + 8, 1);
                                                    if (akses == "Y" || Session["Access"].ToString() == "superadmin")
                                                    {
                                                        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("DownloadExcel2", "Tax")'">Convert to Excel</button>
                                                    }
                                                }
                                            }
                                        </tr>
                                        <tr>
                                            <th colspan="16" class="text-center">SUMMARY</th>
                                            <th id="PajakDibayar"></th>
                                            <th colspan="2"></th>
                                            <th id="LuasTanah"></th>
                                            <th id="NJOPTanah"></th>
                                            <th id="TotalNJOPTanah"></th>
                                            <th colspan="1"></th>
                                            <th id="LuasBangunan"></th>
                                            <th id="NJOPBangunan"></th>
                                            <th id="TotalNJOPBangunan"></th>
                                            <th id="TotalNJOP"></th>
                                            <th colspan="7" class="text-center"></th>
                                        </tr>
                                        <tr>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">GL</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">Pembayaran</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">Tahun Pajak</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">LapKeu</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">Jenis ATTB</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">ID SAP</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">Nama ATTB</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">Cabang</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">Region</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">NOP</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">Letak Objek Pajak</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">Nama Wajib Pajak</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">Alamat Wajib Pajak</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">Kelurahan</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">Kecamatan</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">Kota</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">Pajak Dibayar (Rp)</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">Dibayar Oleh</th>
                                            <th data-hide="phone,tablet" class="text-center" colspan="4">Tanah</th>
                                            <th data-hide="phone,tablet" class="text-center" colspan="4">Bangunan</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">Total NJOP</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">Keterangan</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">Lampiran</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">Lampiran2</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">Lampiran3</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">Updated By</th>
                                            <th data-hide="phone,tablet" class="text-center" rowspan="2">Updated Date</th>
                                            <th style="display:none;" data-hide="phone,tablet" class="text-center" rowspan="2">Updated Real</th>
                                            <th class="text-center" rowspan="2">Action</th>
                                        </tr>
                                        <tr>
                                            <th data-hide="phone,tablet" class="text-center">Kelas</th>
                                            <th data-hide="phone,tablet" class="text-center">Luas</th>
                                            <th data-hide="phone,tablet" class="text-center">NJOP (Rp)</th>
                                            <th data-hide="phone,tablet" class="text-center">Total</th>
                                            <th data-hide="phone,tablet" class="text-center">Kelas</th>
                                            <th data-hide="phone,tablet" class="text-center">Luas</th>
                                            <th data-hide="phone,tablet" class="text-center">NJOP (Rp)</th>
                                            <th data-hide="phone,tablet" class="text-center">Total</th>
                                        </tr>
                                        <tr>
                                            <th class="hasinput" style="width:4%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" placeholder="" />
                                            </th>
                                            <th style="display:none;" class="hasinput" style="width:10%">
                                                <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" placeholder="" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <div class="text-left">
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->

@section pagespecific {

    <script type="text/javascript">
        var $datatableFixedColumn = $('#datatable_fixed_column');
        var permissions = {
            isAllowedToView: @Json.Encode(Model.IsAllowedToView),
            isAllowedToUpdate: @Json.Encode(Model.IsAllowedToUpdate),
            isAllowedToDelete: @Json.Encode(Model.IsAllowedToDelete),
            isAllowedToDuplicate: @Json.Encode(Model.IsAllowedToDuplicate),
        };

        var viewUrl = $datatableFixedColumn.attr('data-view-url');
        var updateUrl = $datatableFixedColumn.attr('data-update-url');
        var duplicateUrl = $datatableFixedColumn.attr('data-duplicate-url');
        var deleteUrl = $datatableFixedColumn.attr('data-delete-url');
        var pdfDownloadUrl = $datatableFixedColumn.attr('data-pdf-download-url');
        var nonPdfDownloadUrl = $datatableFixedColumn.attr('data-non-pdf-download-url');

        function createGetUrl(baseUrl, parameters) {
            if (!parameters) {
                return baseUrl;
            } else {
                if (baseUrl.endsWith('/')) {
                    baseUrl = baseUrl.substr(0, baseUrl.length - 1);
                }
                return baseUrl + '?' + $.param(parameters);
            }
        }

        function checkIsPdf(filePath) {
            if (!filePath || typeof filePath !== 'string') return false;

            return filePath.toLowerCase().endsWith('.pdf');
        }

        function renderLinkToDocument(documentFilePath) {
            if (!documentFilePath || typeof documentFilePath !== 'string') {
                return '';
            } else if (checkIsPdf(documentFilePath)) {
                var hyperlink = createGetUrl(pdfDownloadUrl, { docfile: documentFilePath });
                return '<a href="' + hyperlink + '"/>' + documentFilePath + '</a>'
            } else {
                var hyperlink = nonPdfDownloadUrl + documentFilePath
                return '<a href="' + hyperlink + '"/>' + documentFilePath + '</a>'
            }
        }

        function renderNumber(number) {
            if (typeof number !== 'number') {
                return '';
            } else {
                return number.toFixed(0);
            }
        }

        function renderDate(date) {
            if (!date) {
                return '';
            } else if (date.toLocaleDateString) {
                date.toLocaleDateString('id-ID');
            } else {
                return date;
            }
        }

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            /* END TABLETOOLS */
        });

        /* COLUMN FILTER  */
        var otable = $('#datatable_fixed_column').DataTable({
            data: @Html.Raw(Model.TaxesJson),
            autoWidth: true,
            columns: [
                { data: 'GLName' },
                { data: 'PaymentName' },
                { data: 'TaxYear' },
                { data: 'FinanceReport' },
                { data: 'ATTBType' },
                { data: 'IDSAP' },
                { data: 'ATTBName' },
                { data: 'Branch' },
                { data: 'RegionAsset' },
                { data: 'NOP' },
                { data: 'ObjectLocation' },
                { data: 'TaxPayerName' },
                { data: 'TaxPayerAddress' },
                { data: 'Kelurahan' },
                { data: 'Kecamatan' },
                { data: 'City' },
                { data: 'TaxPaid', render: renderNumber },
                { data: 'PaidBy' },
                { data: 'LandClass', render: renderNumber },
                { data: 'LandArea', render: renderNumber },
                { data: 'LandNJOP', render: renderNumber },
                {
                    data: null,
                    render: function (data, type, row, meta) {
                        return row.LandNJOP * row.LandArea;
                    }
                },
                { data: 'BuildingClass', render: renderNumber },
                { data: 'BuildingArea', render: renderNumber },
                { data: 'BuildingNJOP', render: renderNumber },
                {
                    data: null,
                    render: function(data, type, row, meta) {
                        return row.BuildingNJOP * row.LandArea;
                    }
                },
                {
                    data: null,
                    render: function (data, type, row, meta) {
                        return (row.LandNJOP * row.LandArea) * (row.BuildingNJOP * row.LandArea);
                    }
                },
                { data: 'Desciption' },
                { data: 'DocFileName', render: renderLinkToDocument },
                { data: 'DocFileName2', render: renderLinkToDocument },
                { data: 'DocFileName3', render: renderLinkToDocument },
                { data: 'UpdatedBy' },
                { data: 'UpdatedDate', render: renderDate },
                {
                    data: 'TaxID',
                    render: function (taxId) {
                        var dropdown = '<div class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a><ul class="dropdown-menu">LIST_ITEMS</ul></div>'
                        var listItems = [];
                        if (permissions.isAllowedToUpdate) {
                            var hyperlink = createGetUrl(updateUrl, { id: taxId });
                            listItems.push('<li><a href="' + hyperlink + '">Ubah</a></li>');
                        }
                        if (permissions.isAllowedToDuplicate) {
                            var hyperlink = createGetUrl(duplicateUrl, { id: taxId });
                            listItems.push('<li><a href="' + hyperlink + '">Duplicate</a></li>');
                        }
                        if (permissions.isAllowedToView) {
                            var hyperlink = createGetUrl(viewUrl, { id: taxId });
                            listItems.push('<li><a href="' + hyperlink + '">View</a></li>');
                        }
                        if (permissions.isAllowedToDelete) {
                            var hyperlink = createGetUrl(deleteUrl, { id: taxId });
                            listItems.push('<li><a href="' + hyperlink + '">Hapus</a></li>');
                        }

                        return dropdown.replace('LIST_ITEMS', listItems.join(''));
                    }
                }
            ],
            order: [[33, "desc"]],
            footerCallback: function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$.]/g, '') * 1 :
                        //i.replace(/(\d+).(?=\d{3}(\D|$))/g, "$1") * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                // Total over all area
                totalPajakDibayar = api
                    .column(16)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over area this page
                pageTotalPajakDibayar = api
                    .column(16, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over all area
                totalLuasTanah = api
                    .column(19)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over area this page
                pageLuasTanah = api
                    .column(19, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over all area
                totalNJOPTanah = api
                    .column(20)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over area this page
                pageTotalNJOPTanah = api
                    .column(20, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over all area
                totalTotalNJOPTanah = api
                    .column(21)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over area this page
                pageTotalTotalNJOPTanah = api
                    .column(21, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over all area
                totalLuasBangunan = api
                    .column(23)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over area this page
                pageTotalLuasBangunan = api
                    .column(23, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over all area
                totalNJOPBangunan = api
                    .column(24)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over area this page
                pageTotalNJOPBangunan = api
                    .column(24, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over all area
                totalTotalNJOPBangunan = api
                    .column(25)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over area this page
                pageTotalTotalNJOPBangunan = api
                    .column(25, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total NJOP
                totalTotalNJOP = api
                    .column(26)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over area this page
                pageTotalTotalNJOP = api
                    .column(26, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                document.getElementById("PajakDibayar").innerText = pageTotalPajakDibayar.toLocaleString() + ' (Total:' + totalPajakDibayar.toLocaleString() + ')';
                document.getElementById("LuasTanah").innerText = pageLuasTanah.toLocaleString() + ' (Total:' + totalLuasTanah.toLocaleString() + ')';
                document.getElementById("NJOPTanah").innerText = pageTotalNJOPTanah.toLocaleString() + ' (Total:' + totalNJOPTanah.toLocaleString() + ')';
                document.getElementById("TotalNJOPTanah").innerText = pageTotalTotalNJOPTanah.toLocaleString() + ' (Total:' + totalTotalNJOPTanah.toLocaleString() + ')';
                document.getElementById("LuasBangunan").innerText = pageTotalLuasBangunan.toLocaleString() + ' (Total:' + totalLuasBangunan.toLocaleString() + ')';
                document.getElementById("NJOPBangunan").innerText = pageTotalNJOPBangunan.toLocaleString() + ' (Total:' + totalNJOPBangunan.toLocaleString() + ')';
                document.getElementById("TotalNJOPBangunan").innerText = pageTotalTotalNJOPBangunan.toLocaleString() + ' (Total:' + totalTotalNJOPBangunan.toLocaleString() + ')';
                document.getElementById("TotalNJOP").innerText = pageTotalTotalNJOP.toLocaleString() + ' (Total:' + totalTotalNJOP.toLocaleString() + ')';
            }
        });

        // Apply the filter
        $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {
            otable
                .column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw()
                .order(33, "desc");
        });

        /* END COLUMN FILTER */
    </script>
}