﻿@model MandiriCRE.Models.Tax
@{
    ViewBag.Title = "Preview";
}

    @*<iframe src="https://docs.google.com/viewer?url=~/content/document/tax/TEST TAX DOC.pdf&embedded=true"></iframe>*@

@*<iframe id="fred" style="border:1px solid #666CCC" title="PDF in an i-Frame" src="PDFData.pdf" frameborder="1" scrolling="auto" height="1100" width="850">*@

<div class="text-left">
    
    <button type="button" class="btn btn-primary" style="padding: 8px 25px;" onclick="window.history.back();">Kembali</button>
</div> 
<br/>
<div>
    <iframe id="iframepdf" src="~/content/document/tax/@ViewBag.DocFile#view=fit"  width="1200px" height="1600px"></iframe>
</div>   
   

