﻿@model MandiriCRE.Models.Tax
@{
    ViewBag.Title = "Update";
}


<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit"></i>
                Data
                <span>
                    >
                    Tax
                </span>
            </h1>
        </div>
    </div>
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
            <h2> </h2>
        </header>
        <!-- widget div-->
        <div>
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    @Html.Raw(ViewBag.ErrorMessage)
                </div>
            }
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body">
                @using (Html.BeginForm("Update", "Tax", new { ReturnUrl = ViewBag.ReturnUrl, id = ViewBag.TaxID },
                FormMethod.Post, new { enctype = "multipart/form-data", @class = "smart-form", @id = "tax-form" }))
                {
                    <div class="text-right">
                        <button class="btn btn-primary" name="Sign" type="submit" style="padding: 8px 25px;">Simpan</button>
                        <button class="btn btn-primary" type="button" style="padding: 8px 25px;" onclick="location.href='@Url.Action("Index", "Tax")'">Kembali</button>
                    </div>


                        <hr class="simple">
                        <ul id="myTab1" class="nav nav-tabs bordered">

                            <li class="active">
                                <a href="#s1" data-toggle="tab">Tax</a>
                            </li>
                            <li>
                                <a href="#s2" data-toggle="tab">Riwayat</a>
                            </li>

                        </ul>

                        <div id="myTabContent1" class="tab-content padding-10">
                            <div class="tab-pane fade in active" id="s1">
                                @{
                                    List<MandiriCRE.Models.GL>
                                           GLList = ViewBag.ListGL;
                                    List<MandiriCRE.Models.Payment>
                                        paymentList = ViewBag.ListPayments;
                                    List<MandiriCRE.Models.ATTBTypeModels>
                                        ATTBTypeList = ViewBag.ListATTBType;
                                    List<MandiriCRE.Models.RegionAssetModels>
                                        regionAssetList = ViewBag.ListRegionAsset;
                                    List<MandiriCRE.Models.YearTax>
                                        yearTaxList = ViewBag.ListTaxYear;
                                }
                                @{Html.RenderAction("PartialTax", new { obj = ViewBag.objInfo, _listGL = GLList, _listPayment = paymentList, _listATTBType = ATTBTypeList, _listRegionAsset = regionAssetList, _listyearTax = yearTaxList });}
                            </div>
                            <div class="tab-pane fade" id="s2">
                                @{
                                    List<MandiriCRE.Models.LogHistory>
                                    ListHist = new List<LogHistory>();
                                    ListHist = ViewBag.ListHistory;
                                }
                                @{Html.RenderPartial("PartialHistory", ListHist);}
                            </div>


                        </div>
                                    }
            </div>
            <!-- end widget content -->
        </div>
        <!-- end widget div -->
    </div>
    <!-- end widget -->
</div>

@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            // Number Fields
            $('input.number2').keyup(function (event) {

                // skip for arrow keys
                if (event.which >= 37 && event.which <= 40) return;

                // format number
                $(this).val(function (index, value) {
                    return value
                    .replace(/\D/g, "")
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                    ;
                });
            });

            if(($('#aTTBTypeID').val())== "1")
            {
                $('#branch').removeAttr('disabled');
                $('#branch').attr("required", "true");
            };



            $('#aTTBTypeID').change(function () {
                //var varpic = $(this).Text();
                var varpic = $(this).val();
                if (varpic == "1") {
                    $('#branch').removeAttr('disabled');
                    $('#branch').attr("required", "true");
                }
                else {
                    $('#branch').attr('disabled', 'disabled');
                    $('#branch').removeAttr("required");
                }
            });

            $('#PaymentName').change(function () {
                var varpayment = $(this).val();
                if (varpayment == "0") {
                    $('#OtherPayment').removeAttr('disabled');
                    $('#OtherPayment').attr("required", "true");
                }
                else {
                    $('#OtherPayment').attr('disabled', 'disabled');
                    $('#OtherPayment').removeAttr("required");
                }
            });


            var $numberingForm = $("#tax-form").validate({
                // Rules for form validation
                rules: {
                    GLID: {
                        required: true
                    },
                    PaymentName: {
                        required: true
                    },
                    TaxYearID: {
                        required: true
                    },
                    iDSAP: {
                        required: true
                    },
                    financeReport: {
                        required: true
                    },
                    ATTBTypeID: {
                        required: true
                    },
                    aTTBName: {
                        required: true
                    },
                    branch: {
                        required: false
                    },
                    RegionAssetID: {
                        required: true
                    },
                    nOP: {
                        required: true
                    },
                    objectLocation: {
                        required: true
                    },
                    kelurahan: {
                        required: true
                    },
                    kecamatan: {
                        required: true
                    },
                    city: {
                        required: true
                    },
                    taxPayerName: {
                        required: true
                    },
                    taxPayerAddress: {
                        required: true
                    },
                    taxPaid: {
                        required: true
                    },
                    paidBy: {
                        required: true
                    },
                    desciption: {
                        required: false
                    },
                    buildingArea: {
                        required: true
                    },
                    buildingNJOP: {
                        required: true
                    },
                    buildingClass: {
                        required: true
                    },
                    landArea: {
                        required: true
                    },
                    landNJOP: {
                        required: true
                    },
                    landClass: {
                        required: true
                    },
                    docFileName: {
                        required: false
                    }
                },

                // Messages for form validation
                messages: {
                    GLID: {
                        required: 'Silahkan pilih GL'
                    },
                    PaymentName: {
                        required: 'Silahkan pilih Pembayaran'
                    },
                    TaxYearID: {
                        required: 'Silahkan pilih Tahun'
                    },
                    iDSAP: {
                        required: 'Silahkan isi ID SAP'
                    },
                    financeReport: {
                        required: 'Silahkan isi Lap Keu'
                    },
                    ATTBTypeID: {
                        required: 'Silahkan pilih Tipe ATTB'
                    },
                    aTTBName: {
                        required: 'Silahkan isi Nama ATTB'
                    },
                    branch: {
                        required: 'Silahkan isi Cabang'
                    },
                    RegionAssetID: {
                        required: 'Silahkan pilih Region'
                    },
                    nOP: {
                        required: 'Silahkan isi NOP'
                    },
                    objectLocation: {
                        required: 'Silahkan isi Lokasi Objek'
                    },
                    kelurahan: {
                        required: 'Silahkan isi Kelurahan'
                    },
                    kecamatan: {
                        required: 'Silahkan isi Kecamatan'
                    },
                    city: {
                        required: 'Silahkan isi Kota'
                    },
                    taxPayerName: {
                        required: 'Silahkan isi Nama Wajib Pajak'
                    },
                    taxPayerAddress: {
                        required: 'Silahkan isi Alamat Wajib Pajak'
                    },
                    taxPaid: {
                        required: 'Silahkan isi Pajak Dibayar'
                    },
                    paidBy: {
                        required: 'Silahkan isi DIbayar'
                    },
                    desciption: {
                        required: 'Silahkan isi Keterangan'
                    },
                    buildingArea: {
                        required: 'Silahkan isi Luas Bangunan'
                    },
                    buildingNJOP: {
                        required: 'Silahkan isi NJOP '
                    },
                    buildingClass: {
                        required: 'Silahkan isi Kelas '
                    },
                    landArea: {
                        required: 'Silahkan isi Luas Tanah'
                    },
                    landNJOP: {
                        required: 'Silahkan isi NJOP'
                    },
                    landClass: {
                        required: 'Silahkan isi Kelas'
                    }
                },
            });



        })
    </script>
}
