﻿@model MandiriCRE.Models.Tax
@{
    ViewBag.Title = "View";
}
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit"></i>
                View
                <span>
                    >
                    Tax
                </span>
            </h1>
        </div>
    </div>
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
            <h2> </h2>
        </header>
        <!-- widget div-->
        <div>
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            @using (Html.BeginForm("View", "Tax",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "smart-form", @id = "tax-form" }))
            {
                <div class="widget-body">
                    <div class="text-right">
                        @*<input type="submit" value="Simpan" class="btn btn-primary" style="padding: 8px 25px;">*@
                        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Index", "Tax" )'" style="padding: 8px 25px;">Kembali</button>
                    </div>
                    <hr class="simple">
                    <ul id="myTab1" class="nav nav-tabs bordered">
                        <li class="active">
                            <a href="#s1" data-toggle="tab">Tax</a>
                        </li>
                        <li>
                            <a href="#s2" data-toggle="tab">Riwayat</a>
                        </li>
                    </ul>
                    <div id="myTabContent1" class="tab-content padding-10">
                        <div class="tab-pane fade in active" id="s1">
                            @{
                                List<MandiriCRE.Models.GL>
                                       GLList = ViewBag.ListGL;
                                List<MandiriCRE.Models.Payment>
                                    paymentList = ViewBag.ListPayments;
                                List<MandiriCRE.Models.ATTBTypeModels>
                                    ATTBTypeList = ViewBag.ListATTBType;
                                List<MandiriCRE.Models.RegionAssetModels>
                                    regionAssetList = ViewBag.ListRegionAsset;
                                List<MandiriCRE.Models.YearTax>
                                    yearTaxList = ViewBag.ListTaxYear;

                            }
                            @{Html.RenderAction("PartialTaxView", new { obj = ViewBag.objInfo, _listGL = GLList, _listPayment = paymentList, _listATTBType = ATTBTypeList, _listRegionAsset = regionAssetList, _listyearTax = yearTaxList });}
                           
                        </div>

                        <div class="tab-pane fade" id="s2">
                            @{
                                List<MandiriCRE.Models.LogHistory>
                                ListHist = new List<LogHistory>();
                                ListHist = ViewBag.ListHistory;
                            }
                            @{Html.RenderPartial("PartialHistory", ListHist);}
                        </div>
                    </div>
                </div>
            <!-- end widget content -->
                                }
        </div>
        <!-- end widget div -->
    </div>
    <!-- end widget -->
</div>

