﻿@model MandiriCRE.Models.MapRole

@{
    ViewBag.Title = "Delete";
}

<h2></h2>
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2></h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("Delete", "ManageRoleAccess",
            new { ReturnUrl = ViewBag.ReturnUrl,Model.MenuMapID,ViewBag.roleId },
            FormMethod.Post, new { @class = "smart-form", @id = "access-form" }))
            {

            <header>
                <b> Apakah Anda yakin akan menghapus data ini ?</b>
            </header>

            <fieldset>
                <section>
                    <label class="label">Nama Menu</label>
                    <label class="input">
                        <input type="text" class="input-lg" name="numberingtype" value="@Model.MenuName" disabled="disabled">
                    </label>
                </section>
                <div class="row">
                    <section class="col col-2">
                        <label class="label">View</label>
                        <label class="input">
                            <input type="text" class="input-lg" name="numberingtype" value="@Model.ViewAccess" disabled="disabled">
                        </label>
                    </section>
                    <section class="col col-2">
                        <label class="label">Tambah</label>
                        <label class="input">
                            <input type="text" class="input-lg" name="numberingtype" value="@Model.CreateAccess" disabled="disabled">
                        </label>
                    </section>
                    <section class="col col-2">
                        <label class="label">Ubah</label>
                        <label class="input">
                            <input type="text" class="input-lg" name="numberingtype" value="@Model.UpdateAccess" disabled="disabled">
                        </label>
                    </section>
                    <section class="col col-2">
                        <label class="label">Hapus</label>
                        <label class="input">
                            <input type="text" class="input-lg" name="numberingtype" value="@Model.DeleteAccess" disabled="disabled">
                        </label>
                    </section>
                </div>

                <div class="row">
                    <section class="col col-2">
                        <label class="label">Approve</label>
                        <label class="input">
                            <input type="text" class="input-lg" name="numberingtype" value="@Model.ApproveAccess" disabled="disabled">
                        </label>
                    </section>
                    <section class="col col-2">
                        <label class="label">Duplicate</label>
                        <label class="input">
                            <input type="text" class="input-lg" name="numberingtype" value="@Model.DuplicateAccess" disabled="disabled">
                        </label>
                    </section>


                    <section class="col col-2">
                        <label class="label">Download</label>
                        <label class="input">
                            <input type="text" class="input-lg" name="numberingtype" value="@Model.DownloadAccess" disabled="disabled">
                        </label>
                    </section>

                    <section class="col col-2">
                        <label class="label">Upload</label>
                        <label class="input">
                            <input type="text" class="input-lg" name="numberingtype" value="@Model.UploadAccess" disabled="disabled">
                        </label>
                    </section>

                </div>


                <input type="text" id="roleId" name="roleId" value="@ViewBag.roleId" hidden="hidden" />
            </fieldset>
            <footer>

                <input type="submit" value="Hapus" class="btn btn-primary btn-lg" />
                <button type="button" class="btn btn-default btn-lg" onclick="window.history.back();">Batal</button>
            </footer>
            }

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->
@section pagespecific {
<script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {




        var $vendorForm = $("#access-form").validate({
            // Rules for form validation
            rules: {
                Menu_MenuID: {
                    required: true
                }
            },

            // Messages for form validation
            messages: {
                Menu_MenuID: {
                    required: 'Please select Menu!'
                }
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    })
</script>
}